<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          :text="bird.isim + ': Hastalık Ekle'"
          col="1"
          @tap="gotoShowMyBird"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60" columns="*">
        <RadDataForm
          row="0"
          class="fon"
          :source="disease"
          :metadata="diseaseMetadata"
        >
        </RadDataForm>
        <Button row="1" text="Hastalık Ekle" @tap="addDisease" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { formatISO } from "date-fns";
const bugun = formatISO(new Date(), { representation: "date" });

export default {
  props: {
    birdID: {
      type: Number,
      // default: 1
    },
  },
  data() {
    return {
      disease: {
        isim: "",
        Gorulme_Tarihi: bugun,
        Notlar: "",
      },
      diseaseMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "isim",
            displayName: "İsim",
            validators: [
              {
                name: "MinimumLength",
                params: {
                  length: 3,
                  errorMessage: "İsim 3 karakterden daha kısa olamaz",
                },
              },
            ],
          },

          {
            name: "Gorulme_Tarihi",
            displayName: "Hastalık Görülme Tarihi",
            editor: "DatePicker",
          },
        ],
      },
      bird: {
        isim: "",
      },
    };
  },
  methods: {
    addDisease() {
      // console.log("this.birdID :>> ", this.birdID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.CREATE_DISEASE,
          // Parameters
          variables: {
            birdID: this.birdID,
            isim: this.disease.isim,
            Gorulme_Tarihi: this.disease.Gorulme_Tarihi,
            Notlar: this.disease.Notlar,
          },
          update: (store, { data }) => {
            try {
              /*               console.log(
                "data of created disease ::::>> ",
                data.createDisease.disease
              ); */
              const diseasesQuery = {
                query: queries.DISEASES_OF_BIRD,
                variables: { birdID: this.birdID },
              };
              const diseasesData: any = store.readQuery(diseasesQuery);
              // console.log("diseasesData :>> ", diseasesData);
              // console.log("this.birdID :>> ", this.birdID);
              diseasesData.diseases.push(data.createDisease.disease);
              store.writeQuery({ ...diseasesQuery, data: diseasesData });
            } catch (error) {
              console.error(error);
            }
          },
        })
        .then((data) => {
          // Result
          /* console.log(
            "Incoming disease ID from server ::::: :>> ",
            data.data.createDisease.disease.id
          ); */
          this.$navigateTo(routes.showDisease, {
            props: {
              diseaseID: data.data.createDisease.disease.id,
              birdID: this.birdID,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
    gotoShowMyBird() {
      this.$navigateTo(routes.showMyBird, {
        props: {
          birdID: this.birdID,
        },
      });
    },
  },
  apollo: {
    bird: {
      query: queries.BIRD,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
};
</script>
<style lang="scss" scoped>
</style>