<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          text="Hastalık Bilgilerini Düzenle"
          col="1"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60" columns="*">
        <RadDataForm row="0" :source="disease" :metadata="diseaseMetadata">
        </RadDataForm>
        <Button
          text="Güncelle"
          @tap="updateDiseaseAndGotoShow"
          row="1"
          class="p-15"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { showToast } from "@/helpers/ui";

export default {
  props: {
    birdID: Number,
    diseaseID: Number,
    isim: String,
    Gorulme_Tarihi: String,
    Notlar: String,
  },
  data() {
    return {
      disease: {
        isim: this.$props.isim,
        Gorulme_Tarihi: this.$props.Gorulme_Tarihi,
        Notlar: this.$props.Notlar,
      },
      diseaseMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "isim",
            displayName: "Hastalık Adı",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 24,
                  errorMessage: "Hastalık Adı 24 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 3,
                  errorMessage: "Hastalık Adı 3 karakterden daha kısa olamaz",
                },
              },
            ],
          },

          {
            name: "Gorulme_Tarihi",
            displayName: "Uygulama Tarihi",
            editor: "DatePicker",
          },
          {
            name: "Notlar",
            editor: "MultilineText",
          },
        ],
      },
    };
  },
  methods: {
    updateDiseaseAndGotoShow() {
      // console.log("this.disease :>> ", this.disease);
      // console.log("this.$props.diseaseID :>> ", this.$props.diseaseID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.EDIT_DISEASE,
          // Parameters
          variables: {
            diseaseID: this.$props.diseaseID,
            isim: this.disease.isim,
            Gorulme_Tarihi: this.disease.Gorulme_Tarihi,
            Notlar: this.disease.Notlar,
          },
        })
        .then((data) => {
          // Result
          // console.log("Incoming disease ID ::::: :>> ", data.data.updatedisease.disease);
          this.$navigateTo(routes.showDisease, {
            props: {
              diseaseID: data.data.updateDisease.disease.id,
              birdID: this.birdID,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("Malesef Kayıt hata verdi");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>