<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          :text="bird.isim + ': Hastalık Detayı'"
          col="1"
          @tap="gotoShowMyBird(birdID)"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60,60" columns="*">
        <ActivityIndicator
          v-if="$apollo.loading"
          width="100"
          height="100"
          busy="true"
        />

        <StackLayout v-else class="m-30">
          <Label text="Hastalık" textWrap="true" class="h1" />
          <Label :text="disease.isim" textWrap="true" class="h3" />
          <Label text="" textWrap="true" class="hr m-10" />
          <Label text="Görülme Tarihi" textWrap="true" class="h2" />
          <Label :text="turkishDate(disease.Gorulme_Tarihi)" textWrap="true" />
          <Label text="" textWrap="true" class="hr m-10" />
          <Label text="Notlar" textWrap="true" class="h2" />
          <Label :text="disease.Notlar" textWrap="true" />
        </StackLayout>

        <Button text="Hastalığı Düzenle" row="1" @tap="gotoEditDisease" />
        <Button text="Hastalık Sil" row="2" @tap="destroyDisease" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { vocaMixin, dateMixin, navMixin } from "@/helpers/ui";

export default {
  props: {
    diseaseID: {
      type: [Number, String],
      // default: 1
    },
    birdID: {
      type: [Number, String],
      // default: 1
    },
  },
  data() {
    return {
      disease: {
        id: "",
        isim: " ",
        Gorulme_Tarihi: "",
        Notlar: "",
      },
      bird: {
        isim: "",
        bilezik: "",
      },
    };
  },
  mixins: [vocaMixin, dateMixin, navMixin],
  methods: {
    destroyDisease() {
      console.log("this.diseaseID :>> ", this.diseaseID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.DESTROY_DISEASE,
          // Parameters
          variables: {
            diseaseID: this.diseaseID,
          },
          update: (store, { data }) => {
            try {
              // console.log(
              //   "data of deleted disease ::::>> ",
              //   data.deleteDisease.disease
              // );
              const diseasesQuery = {
                query: queries.DISEASES_OF_BIRD,
                variables: { birdID: this.birdID },
              };
              const diseasesData: any = store.readQuery(diseasesQuery);
              // console.log("diseasesData :>> ", diseasesData);

              let filteredDiseasesData = diseasesData.diseases.filter(
                (item) => item.id !== data.deleteDisease.disease.id
              );
              // console.log("filteredDiseasesData :>> ", filteredDiseasesData);
              let newDiseasesDataObject = { diseases: filteredDiseasesData };
              // console.log("newDiseasesDataObject :>> ", newDiseasesDataObject);
              store.writeQuery({
                ...diseasesQuery,
                data: newDiseasesDataObject,
              });
            } catch (error) {
              console.error(error);
            }
          },
        })
        .then((data) => {
          // Result
          // console.log(
          //   "Incoming disease ID from server ::::: :>> ",
          //   data.data.deleteDisease.disease.id
          // );

          this.$navigateTo(routes.showMyBird, {
            props: {
              birdID: this.birdID,
            },
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
    gotoEditDisease() {
      // console.log("this.diseaseID :>> ", this.diseaseID);
      this.$navigateTo(routes.editDisease, {
        props: {
          birdID: this.birdID,
          diseaseID: this.diseaseID,
          isim: this.disease.isim,
          Gorulme_Tarihi: this.disease.Gorulme_Tarihi,
          Notlar: this.disease.Notlar,
        },
      });
    },
  },
  apollo: {
    disease: {
      query: queries.DISEASE,
      variables() {
        return {
          diseaseID: this.diseaseID,
        };
      },
    },
    bird: {
      query: queries.BIRD,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
};
</script>
<style lang="scss" scoped>
</style>