<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *,30">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          :text="usersCount + ' Kayıtlı Üye'"
          col="1"
          @swipe="refresh"
        />
        <Label text="" col="2" class="fas" fontSize="18" @tap="refresh" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="80,*,auto" columns="*">
        <SearchBar
          hint="Kullanıcı adı"
          @loaded="sBLoaded($event)"
          v-model="searchQuery"
          row="0"
          class="search"
        />
        <ActivityIndicator v-if="$apollo.loading" row="1" busy="true" />
        <GridLayout v-else columns="*" rows="*" row="1" class="list-bg">
          <ListView for="user in filteredUsers" separatorColor="#C8E75B">
            <v-template>
              <GridLayout
                rows="*"
                columns="*,60,60"
                @tap="gotoUserShow(user.id)"
              >
                <StackLayout
                  orientation="horizontal"
                  col="0"
                  class="text-center font-weight-bold p-15"
                >
                  <Label :text="titleCase(user.username)" :key="user.id" />
                </StackLayout>

                <Label
                  v-show="user.Uye_No > 0"
                  :text="user.Uye_No"
                  class="text-center font-weight-light"
                  col="1"
                />
                <Label
                  v-show="user.Kulup_Uye_No > 0"
                  :text="'K ' + user.Kulup_Uye_No"
                  class="text-center font-weight-light"
                  col="2"
                />
              </GridLayout>
            </v-template>
            <v-template if="$odd">
              <GridLayout
                rows="*"
                columns="*,60,60"
                @tap="gotoUserShow(user.id)"
                class="grifon"
              >
                <StackLayout
                  orientation="horizontal"
                  col="0"
                  class="text-center font-weight-bold p-15"
                >
                  <Label :text="titleCase(user.username)" :key="user.id" />
                </StackLayout>

                <Label
                  v-show="user.Uye_No > 0"
                  :text="user.Uye_No"
                  class="text-center font-weight-light"
                  col="1"
                />
                <Label
                  v-show="user.Kulup_Uye_No > 0"
                  :text="'K ' + user.Kulup_Uye_No"
                  class="text-center font-weight-light"
                  col="2"
                />
              </GridLayout>
            </v-template>
          </ListView>
        </GridLayout>
        <GridLayout row="2" rows="*" columns="*,*" class="m-5">
          <Label
            v-if="showLessEnabled"
            col="0"
            text=""
            class="fas text-left m-l-15"
            fontSize="22"
            @tap="showLess"
          />
          <Label
            v-if="showMoreEnabled"
            col="1"
            text=""
            class="fas text-right m-r-15"
            fontSize="22"
            @tap="showMore"
          />
        </GridLayout>
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import * as queries from "@/graphql/queries";
import { vocaMixin, navMixin } from "@/helpers/ui";
import { domainMixin } from "@/helpers/domain";
import { ApplicationSettings, Http } from "@nativescript/core";
const pagerSize = 100;
export default {
  data() {
    return {
      start: 0,
      showLessEnabled: false,
      searchQuery: "",
      users: [],
      usersCount: ApplicationSettings.getString("usersCount"),
      user: { id: "", username: "", Uye_No: Number, Kulup_Uye_No: Number },
    };
  },
  mixins: [vocaMixin, navMixin, domainMixin],
  methods: {
    refresh() {
      //console.log("this.start :>> ", this.start);
      this.$apollo.queries.users.refetch();
    },
    showMore() {
      this.start = this.start + pagerSize;
      this.refresh();
      if (this.users.length > pagerSize - 1) {
        this.showMoreEnabled = false;
      }
      this.showLessEnabled = true;
    },
    showLess() {
      this.start = this.start - pagerSize;
      this.refresh();
      this.showMoreEnabled = true;
      if (this.start < pagerSize - 1) {
        this.showLessEnabled = false;
      }
    },
  },
  apollo: {
    users: {
      query: queries.USERS_LIST,
      variables() {
        return {
          start: this.start,
        };
      },
    },
  },
  computed: {
    filteredUsers() {
      return this.users.filter((user) => {
        return user.username
          .toLowerCase()
          .match(this.searchQuery.toLowerCase());
      });
    },
    showMoreEnabled() {
      return +this.usersCount > pagerSize;
    },
  },
};
</script> 

<style lang="scss" scoped>
@import "@/app.scss";
.search {
  font-weight: bold;
  font-size: 20;
  color: darken($markaKoyu, 11);
  background-color: lighten($acikBej, 11);
}
</style>
