<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto,auto, *,*,*">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Üye Detay" col="1" />
        <Label
          v-if="loggedInUserID == userID && loggedInUserID !== 1"
          text=""
          row="0"
          col="2"
          class="fas p-t-5"
          fontSize="22"
          @tap="gotoEditUser"
          verticalAlignment="top"
          horizantalAlignment="right"
        />
        <Label
          v-if="loggedInUserID == userID && loggedInUserID !== 1"
          text=""
          row="0"
          col="3"
          class="fas p-t-5"
          fontSize="22"
          @tap="gotoSelfie"
          verticalAlignment="top"
          horizantalAlignment="right"
        />
        <Label
          v-if="loggedInUserID == userID && loggedInUserID !== 1 && user.Gizli"
          text=""
          row="0"
          col="4"
          class="fas p-t-5"
          fontSize="22"
          @tap="showMyInfo"
          verticalAlignment="top"
          horizantalAlignment="right"
        />
        <Label
          v-if="loggedInUserID == userID && loggedInUserID !== 1 && !user.Gizli"
          text=""
          row="0"
          col="4"
          class="fas p-t-5"
          fontSize="22"
          @tap="hideMyInfo"
          verticalAlignment="top"
          horizantalAlignment="right"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="40,auto,250,*" columns="*">
        <ActivityIndicator v-if="$apollo.loading" row="0" busy="true" />
        <Label
          v-else
          :text="user.username"
          textWrap="true"
          class="h2 ana-renk-fon ana-renk text-center m-t-2"
          row="0"
        />
        <StackLayout row="1">
          <Label
            v-show="!user.Gizli"
            v-if="user.Telefon"
            :text="telefon"
            textWrap="true"
            class="h2 text-center koyu"
          />
          <Label
            v-show="user.Gizli"
            v-if="user.Telefon"
            text=""
            class="fas text-center koyu"
            fontSize="16"
          />
          <Label
            v-if="user.Sehir"
            v-show="user.Sehir"
            :text="titleCase(user.Sehir)"
            textWrap="true"
            class="text-center ana-renk-fon ana-renk"
            fontSize="20"
          />
        </StackLayout>

        <GridLayout rows="*,*,*,30" columns="*,*" row="2" class="m-t-0">
          <Image
            v-show="!user.Gizli"
            v-if="user.Profil_Foto ? true : false"
            :src="this.backend + user.Profil_Foto.url"
            stretch="aspectFill"
            col="0"
            row="0"
            rowSpan="3"
            verticalAlign="middle"
          />
          <Image
            v-else
            src="res://profiles"
            stretch="aspectFill"
            col="0"
            row="0"
            rowSpan="3"
            verticalAlign="middle"
          />
          <GridLayout
            col="1"
            row="0"
            rows="30, *"
            columns="*, *"
            class="grifon"
          >
            <Label text="Ülke Kodu" row="0" col="0" class="h3 p-l-2" />
            <Label text="Plaka Kodu" class="h3 p-l-2" row="0" col="1" />

            <Label
              :text="user.Ulke_Kodu"
              row="1"
              col="0"
              class="koyu sayi text-center p-r-5"
            />
            <Label
              :text="user.Plaka_Kodu"
              class="koyu sayi text-center p-r-5"
              row="1"
              col="1"
            />
          </GridLayout>
          <StackLayout col="1" row="1" class="grifon">
            <Label text="Fedarasyon Üye No" textWrap="true" class="h3 p-l-2" />
            <Label :text="user.Uye_No" class="koyu sayi text-center" />
          </StackLayout>
          <StackLayout col="1" row="2" class="grifon">
            <Label text="Kulüp Üye No" textWrap="true" class="h3 p-l-2" />
            <Label :text="user.Kulup_Uye_No" class="koyu sayi text-center" />
          </StackLayout>

          <StackLayout
            orientation="horizontal"
            col="0"
            row="3"
            class="ana-renk-fon ana-renk p-l-10"
          >
            <Label
              v-show="user.created_at !== bugun"
              :text="this.memberSince"
              textWrap="true"
              verticalAlignment="center"
            />
            <Label
              v-show="user.created_at !== bugun"
              text="dan beri üye"
              textWrap="true"
              verticalAlignment="center"
            />
          </StackLayout>

          <android>
            <StackLayout col="1" row="3" class="ana-renk-fon">
              <Label
                v-show="!user.Gizli"
                :text="user.email"
                class="h3 text-center ana-renk"
                @tap="sendMail(user.email)"
                verticalAlignment="center"
              />
              <Label
                v-show="user.Gizli"
                col="1"
                row="3"
                text=""
                class="fas text-center ana-renk"
                fontSize="16"
              />
            </StackLayout>
          </android>
          <ios>
            <GridLayout  v-if="!user.Gizli"
              col="1"
              row="3"
              height="30"
              color="white"
              backgroundColor="purple" rows="*" columns="*">
              <Label row="0" text=" " class="text-center" @tap="sendMail(user.email)" />
              <Label
               row="0"
                v-show="!user.Gizli"
                :text="user.email"
                class="text-center p-b-10"
                fontSize="16"
              />
              <Label
               row="0"
                v-show="user.Gizli && loggedInUserID !== userID"
                text=""
                class="fas"
                fontSize="22"
              />
            </GridLayout>

          </ios>
        </GridLayout>

        <ListView
          v-show="!user.Gizli"
          for="bird in user.birds"
          row="3"
          class="m-y-10"
        >
          <v-template>
            <GridLayout
              rows="*"
              columns="130,50,*"
              @tap="gotoShowTheBird(bird.id)"
              class="m-y-15"
            >
              <Label
                :text="bird.bilezik"
                :key="bird.id"
                col="0"
                :class="[bird.Cinsiyet]"
                class="bilezik"
              />
              <Label
                :text="cinsiyetIkon(bird.Cinsiyet)"
                class="fas m-x-10"
                :class="[bird.Cinsiyet]"
                fontSize="16"
                col="1"
              />
              <Label
                id="kusIsim"
                v-if="bird.isim"
                :text="titleCase(bird.isim)"
                col="2"
                :class="[bird.Cinsiyet]"
              />
            </GridLayout>
          </v-template>
        </ListView>
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import { format, formatDistanceToNow, formatISO } from "date-fns";
import { tr } from "date-fns/locale";
import * as config from "@/helpers/config";
import { ApplicationSettings } from "@nativescript/core";
import { openUrl } from "@nativescript/core/utils/utils";
import * as dialogs from "@nativescript/core/ui/dialogs";
import { apolloClient } from "@/main";
import { vocaMixin, dateMixin, navMixin, showToast } from "@/helpers/ui";

export default {
  props: {
    userID: {
      type: Number,
      //default: 1,
    },
  },
  data() {
    return {
      backend: config.BACKEND,
      user: {
        username: "",
        Uye_No: "",
        Kulup_Uye_No: "",
        created_at: formatISO(new Date(), { representation: "date" }),
        email: "",
        Uyelik_Yenileme: formatISO(new Date(), { representation: "date" }),
        birds: [],
        Profil_Foto: null,
        Plaka_Kodu: "",
        Ulke_Kodu: "",
        Sehir: "",
        Telefon: "",
        Gizli: false,
      },
      loggedInUserID: ApplicationSettings.getNumber("userID"),
      bugun: formatISO(new Date(), { representation: "date" }),
    };
  },
  mixins: [vocaMixin, dateMixin, navMixin],
  methods: {
    cinsiyetIkon(sex) {
      return sex == "disi" ? "" : sex == "erkek" ? "" : "";
    },
    hideMyInfo() {
      dialogs
        .confirm({
          title: "Tüm Bilgileriniz Açık",
          message:
            "Kuş listeniz, telefon ve e-posta adresinizin gizleyebilirsiniz",
          okButtonText: "Gizle",
          cancelButtonText: "Göster",
        })
        .then((result) => {
          // console.log(result);
          if (result) {
            // console.log("Gizli true mutation :>> ");
            this.user.Gizli = true;
            apolloClient
              .mutate({
                // Query
                mutation: mutations.HIDE_MY_INFO,
                // Parameters
                variables: {
                  userID: this.userID,
                },
              })
              .then((data) => {
                // Result
                showToast("Özel bilgileriniz gizlendi");
              })
              .catch((error) => {
                // Error
                console.error(error);
                showToast("Malesef Kayıt hata verdi");
              });
          } else {
            showToast("değişiklik yapılmadı");
          }
        });
    },
    showMyInfo() {
      // console.log("this.Gizli :>> ", this.user.Gizli);

      dialogs
        .confirm({
          title: "Özel Bilgileriniz Saklı",
          message:
            "Kuş listeniz, telefon ve e-posta adresinizin paylaşılmasını ister misiniz?",
          okButtonText: "Göster",
          cancelButtonText: "Gizle",
        })
        .then((result) => {
          // console.log(result);
          if (result) {
            // console.log("Gizli false mutation :>> ");
            this.user.Gizli = false;
            apolloClient
              .mutate({
                // Query
                mutation: mutations.SHOW_MY_INFO,
                // Parameters
                variables: {
                  userID: this.userID,
                },
              })
              .then((data) => {
                // Result
                showToast("BİLGİLERİNİZ AÇIK");
              })
              .catch((error) => {
                // Error
                console.error(error);
                showToast("Malesef Kayıt hata verdi");
              });
          }
        });
    },
    sendMail(address) {
      openUrl(`mailto:${address}`);
    },
  },
  apollo: {
    user: {
      query: queries.USER,
      variables() {
        return { userID: this.userID };
      },
    },
  },
  computed: {
    memberSince() {
      return formatDistanceToNow(Date.parse(this.user.created_at), {
        locale: tr,
      });
    },
    telefon() {
      return this.user.Telefon.replace(
        /(\d{2})\D*(\d{3})\D*(\d{3})\D*(\d{4})\D*/,
        "$1 $2 $3 $4"
      );
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/app.scss";
.disi {
  color: darken($pembe, 15);
}
.erkek {
  color: darken($mavi, 11);
}
.bebek {
  color: darken($yesilTurkuaz, 50);
}
.bilezik {
  font-family: "Bebas Neue", "Bebas Neue Regular", "BebasNeue-Regular",
    sans-serif;
  font-size: 16;
}
.sayi {
  font-family: "Open Sans Condensed", "OpenSansCondensed-Light", sans-serif;
  font-size: 30;
}
#kusIsim {
  font-size: 16;
}
</style>