<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Yarış Derecesi Ekleme" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent class="docs" rows="*,65" columns="*">
        <RadDataForm
          row="0"
          class="fon"
          :source="race"
          :metadata="raceMetadata"
        >
        </RadDataForm>
        <Button text="Yeni Yarış Ekle" @tap="createRating" row="1" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { alert } from "@/helpers/ui";
import { formatISO } from "date-fns";
const bugun = formatISO(new Date(), { representation: "date" });

export default {
  props: {
    birdID: {
      type: Number,
      // default: 9
    },
  },
  data() {
    return {
      race: {
        Yaris_Ad: "",
        Sehir: "",
        Derece: 0,
        Yaris_Tarihi: bugun,
        Notlar: "",
      },
      raceMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "Yaris_Ad",
            displayName: "Yarış Adı",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 24,
                  errorMessage: "Yarış Adı 24 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 3,
                  errorMessage: "Yarış Adı 3 karakterden daha kısa olamaz",
                },
              },
            ],
          },
          {
            name: "Sehir",
            displayName: "Şehir",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 16,
                  errorMessage: "Şehir Adı 16 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 3,
                  errorMessage: "Şehir Adı 3 karakterden daha kısa olamaz",
                },
              },
            ],
          },
          {
            name: "Derece",
            editor: "Stepper",
          },
          {
            name: "Yaris_Tarihi",
            displayName: "Yarış Tarihi",
            editor: "DatePicker",
          },
          {
            name: "Notlar",
            editor: "MultilineText",
          },
        ],
      },
    };
  },
  methods: {
    createRating() {
      if (this.race.Sehir < 3 && this.race.Yaris_Ad < 3) {
        alert(
          "Form doldururken Hata",
          "Lütfen Şehir ve Yarış Adını doldurunuz"
        );
        return;
      }
      apolloClient
        .mutate({
          // Query
          mutation: mutations.CREATE_RATING,
          // Parameters
          variables: {
            bird: this.birdID,
            Yaris_Ad: this.race.Yaris_Ad,
            Notlar: this.race.Notlar,
            Sehir: this.race.Sehir,
            Derece: this.race.Derece,
            Yaris_Tarihi: this.race.Yaris_Tarihi,
          },
        })
        .then((data) => {
          // Result
          // console.log(
          //   "data.data raceID ::::: :>> ",
          //   data.data.createRace.race.id
          // );

          this.$navigateTo(routes.showRating, {
            props: {
              raceID: data.data.createRace.race.id,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
</style>