<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Yarış Bilgilerini Düzenle" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60" columns="*">
        <RadDataForm row="0" :source="race" :metadata="raceMetadata">
        </RadDataForm>
        <Button
          text="Güncelle"
          @tap="updateRatingAndGotoShow"
          row="1"
          class="p-15"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { showToast } from "@/helpers/ui";

export default {
  props: {
    raceID: Number,
    Yaris_Ad: String,
    Sehir: String,
    Derece: Number,
    Yaris_Tarihi: String,
    Notlar: String,
    birdBilezik: String,
    birdName: String,
  },
  data() {
    return {
      race: {
        Yaris_Ad: this.$props.Yaris_Ad,
        Sehir: this.$props.Sehir,
        Derece: this.$props.Derece,
        Yaris_Tarihi: this.$props.Yaris_Tarihi,
        Notlar: this.$props.Notlar,
      },
      raceMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "Yaris_Ad",
            displayName: "Yarış Adı",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 24,
                  errorMessage: "Yarış Adı 24 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 3,
                  errorMessage: "Yarış Adı 3 karakterden daha kısa olamaz",
                },
              },
            ],
          },
          {
            name: "Sehir",
            displayName: "Şehir",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 16,
                  errorMessage: "Şehir Adı 16 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 3,
                  errorMessage: "Şehir Adı 3 karakterden daha kısa olamaz",
                },
              },
            ],
          },
          {
            name: "Derece",
            editor: "Stepper",
          },
          {
            name: "Yaris_Tarihi",
            displayName: "Yarış Tarihi",
            editor: "DatePicker",
          },
          {
            name: "Notlar",
            editor: "MultilineText",
          },
        ],
      },
    };
  },
  methods: {
    updateRatingAndGotoShow() {
      // console.log("this.race :>> ", this.race);
      // console.log("this.$props.raceID :>> ", this.$props.raceID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.EDIT_RATING,
          // Parameters
          variables: {
            raceID: this.$props.raceID,
            Yaris_Ad: this.race.Yaris_Ad,
            Sehir: this.race.Sehir,
            Derece: this.race.Derece,
            Yaris_Tarihi: this.race.Yaris_Tarihi,
            Notlar: this.race.Notlar,
          },
        })
        .then((data) => {
          // Result
          // console.log("Incoming race ID ::::: :>> ", data.data.updateRace.race);
          this.$navigateTo(routes.showMyRating, {
            props: {
              raceID: data.data.updateRace.race.id,
              birdName: this.birdName,
              birdBilezik: this.birdBilezik,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("Malesef Kayıt hata verdi");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>