<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Yarış Detayı" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="auto,*,90" columns="*" class="renkliFon">
        <StackLayout row="0" col="0" class="p-30">
          <Label
            text=""
            class="fas koyu text-right p-r-5"
            fontSize="50"
            verticalAlignment="middle"
          />
          <StackLayout orientation="horizontal" class="text-center m-y-10">
            <Label :text="birdBilezik" class="text-center koyu" />
            <Label
              text="Bilezik Numaralı:"
              textWrap="true"
              class="text-center p-l-5"
            />
          </StackLayout>
          <Label :text="birdName" textWrap="true" class="h1" />
        </StackLayout>
        <ActivityIndicator v-if="$apollo.loading" row="1" busy="true" />
        <StackLayout v-else row="1" col="0" class="p-20">
          <StackLayout orientation="horizontal" class="text-center m-t-5">
            <Label :text="titleCase(race.Sehir)" textWrap="true" class="koyu" />
            <Label text="şehrinde yapılan" textWrap="true" class="p-l-5" />
          </StackLayout>
          <StackLayout orientation="horizontal" class="text-center m-y-20">
            <Label
              :text="titleCase(race.Yaris_Ad)"
              textWrap="true"
              class="h3"
            />
            <Label text="Yarışlarında" textWrap="true" class="h3 p-l-5 m-b-5" />
          </StackLayout>

          <StackLayout orientation="horizontal" class="text-center">
            <Label
              :text="turkishDate(race.Yaris_Tarihi)"
              textWrap="true"
              class="koyu"
            />
            <Label text="tarihinde " textWrap="true" class="p-l-5" />
            <Label
              v-if="race.Derece"
              :text="addLik(race.Derece)"
              textWrap="true"
              class="p-l-5 koyu"
            />
            <Label text="Kazanmıştır" textWrap="true" class="p-l-5" />
          </StackLayout>
          <Label
            v-if="race.Notlar"
            v-show="race.Notlar.length > 0"
            text="Notlar"
            textWrap="true"
            class="h3 m-t-15"
          />
          <TextView :text="race.Notlar" editable="false" class="m-5" />
        </StackLayout>
        <Button
          text="Yarışı Düzenle"
          row="2"
          col="0"
          @tap="editMyRace"
          class="m-2"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import { vocaMixin, dateMixin } from "@/helpers/ui";
import { format } from "date-fns";
import { tr } from "date-fns/locale";

export default {
  props: {
    raceID: {
      type: [String, Number],
      // default: 28
    },
    birdName: {
      type: String,
      // default: "bir kuş ismi"
    },
    birdBilezik: {
      type: String,
      // default: "ve bir bilezik"
    },
  },
  data() {
    return {
      race: {
        Yaris_Ad: String,
        Notlar: String,
        Sehir: String,
        Derece: Number,
        Yaris_Tarihi: String,
      },
    };
  },
  mixins: [vocaMixin, dateMixin],
  methods: {
    editMyRace() {
      this.$navigateTo(routes.editRating, {
        props: {
          raceID: this.raceID,
          Yaris_Ad: this.race.Yaris_Ad,
          Sehir: this.race.Sehir,
          Derece: this.race.Derece,
          Yaris_Tarihi: this.race.Yaris_Tarihi,
          Notlar: this.race.Notlar,
          birdName: this.birdName,
          birdBilezik: this.birdBilezik,
        },
      });
    },
  },
  apollo: {
    race: {
      query: queries.THE_RACE,
      variables() {
        return {
          raceID: this.raceID,
        };
      },
    },
  },
};
</script>
<style lang="scss" scoped>
TextView {
  line-height: 20;
}
.h1 {
  color: darkmagenta;
}
.h3 {
  color: darkred;
}
.renkliFon {
  background: linear-gradient(to top, #d1a1cc, #ffffff);
}
</style>