<template>
  <Page>
    <ActionBar>
      <Label class="text-center" text="Hesap Süresi doldu" />
    </ActionBar>
    <GridLayout rows="*,auto,*" columns="*">
      <Label
        row="0"
        :text="accountIsValid"
        textWrap="true"
        class="h1 text-center m-10"
      />
      <Label
        row="1"
        text="Yönetimle irtibata geçiniz"
        textWrap="true"
        class="h3 text-center m-5"
      />
      <Button text="Çıkış yap" @tap="exit" class="slideInUp" />
    </GridLayout>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import { ApplicationSettings } from "@nativescript/core";
import { compareAsc, formatISO, parseISO, formatDistanceToNow } from "date-fns";
import { tr } from "date-fns/locale";
import { apolloClient } from "@/main";
import { domainMixin } from "@/helpers/domain";

export default {
  data() {
    return {
      userData: {
        Uyelik_Yenileme: formatISO(new Date(), { representation: "date" }),
      },
    };
  },
  mixins: [domainMixin],
  methods: {
    getUserData() {
      setTimeout(() => {
        this.userData = JSON.parse(ApplicationSettings.getString("userData"));
      }, 600);
    },
  },
  mounted() {
    this.getUserData();
  },
  computed: {
    accountIsValid() {
      const comparedDate = compareAsc(
        parseISO(this.userData.Uyelik_Yenileme),
        new Date()
      );
      if (comparedDate == -1) {
        return "Hesap Süresi Doldu";
      } else if (comparedDate == 1) {
        return "Hesap Geçerli olabilir";
      } else {
        return "Bugün Hesabınızın Son Gününü";
      }
    },
  },
};
</script>
<style lang="scss" scoped>
GridLayout {
  background-color: red;
  label {
    color: white;
  }
}
</style>