<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="fas"
          fontSize="18"
        />
        <Label class="text-center" text="Temizlik ve Çıkış" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*" columns="*" class="fon p-20">
        <StackLayout>
          <StackLayout
            v-show="reminderCount"
            orientation="horizontal"
            class="m-10 p-b-30"
            @tap='gotoEggs'
          >
            <Label
              text=""
              textWrap="true"
              class="fas acik p-l-10"
              fontSize="18"
            />
            <Label :text="reminderCount" class="m-l-30" />
            <Label text=" Yumurta Hatırlatıcı Var" />
          </StackLayout>
          <StackLayout
            orientation="horizontal"
            v-show="reminderCount"
            @tap="cancelReminders"
          >
            <Label
              text=""
              textWrap="true"
              class="p-l-5 m-t-2 fas acik"
              fontSize="22"
            />
            <Label class="drawer-item m-l-0" text="Hatırlatıcıları Temizle" />
          </StackLayout>
          <StackLayout class="hr m-10"></StackLayout>

          <StackLayout orientation="horizontal" @tap="closeApp">
            <Label
              text=""
              textWrap="true"
              class="p-l-5 m-t-2 fas acik"
              fontSize="22"
            />
            <Label class="drawer-item m-l-0" text="Uygulamayı Kapat" />
          </StackLayout>
          <Label
            text="Hafıza yeniler"
            textWrap="true"
            class="text-right kucuk"
          />

          <StackLayout class="hr m-10"></StackLayout>

          <StackLayout orientation="horizontal" @tap="exit">
            <Label
              text=""
              textWrap="true"
              class="p-l-5 m-t-2 fas acik"
              fontSize="22"
            />
            <Label class="drawer-item m-l-0" text="Oturumu Kapat" />
          </StackLayout>
          <Label
            text="Tüm arabelleği yeniler"
            textWrap="true"
            class="text-right kucuk"
          />
        </StackLayout>
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import { domainMixin } from "@/helpers/domain";
import { navMixin } from "@/helpers/ui";

export default {
  data() {
    return {
      reminderCount: null,
    };
  },
  mixins: [domainMixin,navMixin],
  mounted() {
    this.getCountOfReminders().then((c: number) => {
      this.reminderCount = c;
    });
  },
};
</script>
<style lang="scss" scoped>
@import "@/renkler.scss";

.drawer-item {
  font-weight: bold;
  padding: 8 16;
  color: darken($markaAcik, 55);
  font-size: 16;
  margin-left: 30;
}
.acik {
  color: darken($markaAcik, 11);
}
.ns-dark {
  .drawer-item {
    font-weight: bold;
    padding: 8 16;
    color: lighten($markaAcik, 55);
    font-size: 16;
    margin-left: 30;
  }
  .acik {
    color: lighten($markaAcik, 11);
  }
}
</style>