<template>
  <Page actionBarHidden="true" backgroundSpanUnderStatusBar="true">
    <GridLayout rows="130,50,auto,*,20,100,90" columns="*">
      <Image
        row="0"
        src="~/assets/images/sebAPP-logo-renkli.png"
        width="130"
        class="m-5"
      />
      <Label
        row="1"
        text="Hoşgeldiniz"
        textWrap="true"
        class="h1 text-center m-10 baslik"
      />
      <!-- Username and reminder count area -->
      <StackLayout row="2">
        <Label
          v-show="userData.username"
          :text="userData.username"
          textWrap="true"
          class="h2 text-center m-10"
          @tap="gotoUserShow(userData.id)"
        />

        <Label
          v-show="reminderCount"
          text=""
          textWrap="true"
          class="fas text-center parlak-renk m-y-5"
          fontSize="18"
        />
        <StackLayout
          v-show="reminderCount"
          orientation="horizontal"
          class="m-x-auto parlak-renk m-y-5"
        >
          <Label :text="reminderCount" class="m-l-10" />
          <Label text=" Yumurta Hatırlatıcı Var" />
        </StackLayout>
      </StackLayout>
      <!-- usernmame and uye no details -->
      <GridLayout row="3" rows="*,*,*" columns="*,*" class="m-10">
        <Label
          v-show="userData.Uye_No"
          class="font-weight-bold koyu m-t-5"
          text="Federasyon Üye no "
          textWrap="true"
          row="0"
          col="0"
        />
        <Label
          v-show="userData.Uye_No"
          class="footnote"
          :text="userData.Uye_No"
          row="0"
          col="1"
        />
        <Label
          v-show="userData.Kulup_Uye_No"
          class="font-weight-bold koyu m-t-5"
          text="Kulüp Üye no "
          textWrap="true"
          row="1"
          col="0"
        />
        <Label
          v-show="userData.Kulup_Uye_No"
          class="footnote"
          :text="userData.Kulup_Uye_No"
          row="1"
          col="1"
        />
        <Label
          v-show="uyelikYenileme"
          class="font-weight-bold koyu m-t-5"
          text="Kalan Üyelik Süreniz "
          textWrap="true"
          row="2"
          col="0"
        />
        <Label class="footnote" :text="uyelikYenileme" row="2" col="1" />
      </GridLayout>
      <StackLayout row="4" class="hr m-10"></StackLayout>
      <!-- statistics -->
      <GridLayout row="5" rows="auto,*, *" columns="*, *" class="m-x-auto">
        <Label row="0" col="0" text="sebApp " textWrap="true" class="baslik" />
        <Label text="" row="0" col="1" class="fas m-l-10" fontSize="22" />
        <Label text="" row="1" col="0" class="fas m-l-10" fontSize="22" />
        <Label :text="birdsCount" row="1" col="1" />
        <Label text="" row="2" col="0" class="fas m-l-10" fontSize="22" />
        <Label :text="usersCount" row="2" col="1" />
      </GridLayout>
      <Button row="6" text="Devam Et" @tap="gotoListMyBirds" class="m-b-30" />
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import routes from "@/routes";
import { ApplicationSettings, Http } from "@nativescript/core";
import { compareAsc, formatISO, parseISO, formatDistanceToNow } from "date-fns";
import { tr } from "date-fns/locale";
import { navMixin } from "@/helpers/ui";
import { domainMixin } from "@/helpers/domain";
import { BACKEND } from "@/helpers/config";

export default {
  data() {
    return {
      userData: {
        Uyelik_Yenileme: formatISO(new Date(), { representation: "date" }),
        blocked: null,
      },
      reminderCount: Number,
      birdsCount: "",
      usersCount: "",
    };
  },
  mixins: [navMixin, domainMixin],

  methods: {
    async getUserData() {
      this.userData = await JSON.parse(
        ApplicationSettings.getString("userData")
      );
      await this.accountValidityCheck(this.userData.Uyelik_Yenileme);
    },
    accountValidityCheck(validTill) {
      setTimeout(() => {
        if (this.userData.blocked == true) {
          this.$navigateTo(routes.unBlockRequest);
        }
        const comparedDate = compareAsc(parseISO(validTill), new Date());
        if (comparedDate < 1) {
          this.$navigateTo(routes.accountExpired, { clearHistory: true });
        }
      }, 200);
    },
    async birdsCountGetter() {
      await Http.request({
        method: "GET",
        url: BACKEND + "/birds/count",
      })
        .then((res) => {
          this.birdsCount = res.content.toString();
        })
        .catch((e) => {
          console.log("e :>> ", e);
        });
      await ApplicationSettings.setString("birdsCount", this.birdsCount);
    },
    async usersCountGetter() {
      await Http.request({
        method: "GET",
        url: BACKEND + "/users/count",
      })
        .then((res) => {
          this.usersCount = res.content.toString();
        })
        .catch((e) => {
          console.log("e :>> ", e);
        });
      await ApplicationSettings.setString("usersCount", this.usersCount);
    },
  },
  computed: {
    uyelikYenileme() {
      return formatDistanceToNow(Date.parse(this.userData.Uyelik_Yenileme), {
        locale: tr,
      });
    },
  },

  mounted() {
    this.getUserData();
    this.getCountOfReminders().then((c: number) => {
      this.reminderCount = c;
    });
    this.birdsCountGetter().then(this.usersCountGetter());
  },
};
</script>

<style lang="scss" scoped>
GridLayout label {
  font-size: 16;
  .koyu {
    padding-top: 20;
    margin-top: 10;
  }
}
.footnote {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 20;
}
</style>
