<template>
  <Page actionBarHidden="true">
    <FlexboxLayout class="nt-page">
      <GridLayout rows="auto,auto,*,15,*" columns="*" class="nt-form m-20">
        <Image
          row="0"
          class="logo m-b-10 slideInDown"
          src="~/assets/images/sebAPP-logo.png"
          :width="logoWidth"
        ></Image>
        <GridLayout rows="auto, auto" row="1" class="m-y-15 fadeIn">
          <TextField
            row="0"
            class="nt-input -rounded m-y-10 -border p-5 input-field"
            hint="e-posta veya kullanıcı adınız"
            keyboardType="email"
            autocorrect="false"
            autocapitalizationType="none"
            v-model="user.identifier"
            returnKeyType="next"
            @returnPress="focusPassword"
            @focus="toggleRegister"
          ></TextField>

          <TextField
            row="1"
            class="nt-input -rounded m-y-20 -border p-15 input-field"
            ref="password"
            hint="Şifreniz"
            secure="true"
            v-model="user.password"
            returnKeyType="done"
          ></TextField>
        </GridLayout>
        <StackLayout row="2">
          <Button
            text="Üye Girişi"
            @tap="enterToSystem"
            class="m-y-5 loginButton fadeIn"
            @focus="toggleRegister"
          ></Button>
          <Label
            class="pull-right m-15"
            text="Şifrenizi mi unuttunuz?"
            @tap="forgotPassword()"
            color="white"
          ></Label>
        </StackLayout>
        <StackLayout
          v-show="registerArea"
          row="3"
          class="hr m-5 fadeInAfter2s"
        ></StackLayout>
        <Button
          v-show="registerArea"
          row="4"
          text="Hesap Oluşturun"
          @tap="gotoRegister"
          class="m-15 loginButton fadeInAfter2s"
        ></Button>
      </GridLayout>
    </FlexboxLayout>
  </Page>
</template>

<script lang="ts">
import { BACKEND } from "@/helpers/config";
import { Http, ApplicationSettings } from "@nativescript/core";
import routes from "@/routes";
import { showToast, navMixin, alert } from "@/helpers/ui";
import * as dialogs from "@nativescript/core/ui/dialogs";
import { removeData } from "@/helpers/domain";

export default {
  data() {
    return {
      registerArea: true,
      logoWidth: 150,
      user: {
        identifier: "",
        password: "",
      },
    };
  },
  mixins: [navMixin],

  methods: {
    enterToSystem() {
      // clear token to prevent errors (if malformed)
      removeData();
      if (!this.user.identifier || !this.user.password) {
        alert("Form doldururken Hata", "Lütfen iki alanı da doldurunuz");
        return;
      }
      showToast("Kontrol Ediliyor");

      Http.request({
        url: BACKEND + "/auth/local",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify({
          identifier: this.user.identifier,
          password: this.user.password,
        }),
      }).then(
        (response) => {
          const result = response.content.toJSON();
          if (result.error) {
            if (
              result.message[0].messages[0].id === "Auth.form.error.invalid"
            ) {
              alert(
                "Form doldururken Hata",
                "Kullanıcı adı veya şifre geçerli değil"
              );
              this.$navigateTo(routes.login);
              return;
            } else {
              alert("Form doldururken Hata", "Hesabınız henüz onaylanmadı");
              return;
            }
          } else {
            ApplicationSettings.setString("token", result.jwt);
            // console.log("JWT from Server: ", result.jwt);
            ApplicationSettings.setNumber("userID", result.user.id);
            // userData object to string
            ApplicationSettings.setString(
              "userData",
              JSON.stringify(result.user)
            );

            this.$navigateTo(routes.firstLoggedIn, { clearHistory: true });
          }
        },
        (e) => {
          console.error("auth/local error :", e);
          removeData();
          this.$navigateTo(routes.login);
          alert("Yetki hatası", "Malesef oturum açılamadı.");
        }
      );
    },
    focusPassword() {
      this.$refs.password.nativeView.focus();
    },
    forgotPassword() {
      dialogs.Dialogs.prompt({
        title: "Şifre hatırlatma",
        message:
          "SebApp'a kayıt olurken kullandığınız e-posta adresinizi yazınız.",
        okButtonText: "Tamam",
        cancelButtonText: "İptal",
        defaultText: "",
        inputType: dialogs.inputType.email,
      }).then((result) => {
        // console.log(`Dialog result: ${result.result}, text: ${result.text}`);
        if (result.result) {
          if (this.validateEmail(result.text)) {
            Http.request({
              url: BACKEND + "/auth/forgot-password",
              method: "POST",
              headers: { "Content-Type": "application/json" },
              content: JSON.stringify({
                email: result.text,
              }),
            }).then(
              (response) => {
                const result = response.content.toJSON();
                showToast(
                  "Lütfen mailinize gönderilen talimatlarla yeni bir şifre oluşturun."
                );
              },
              (e) => {
                showToast("Malesef bir hata oldu");
                console.log("Malesef mail alırken hata oldu.", e);
              }
            );
          } else {
            alert("Lütfen bir e-posta adresi giriniz.");
          }
        }
      });
    },

    validateEmail(email) {
      const regexForMail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return regexForMail.test(String(email).toLowerCase());
    },
    toggleRegister() {
      this.registerArea = !this.registerArea;
      this.logoWidth = this.logoWidth == 150 ? 90 : 150;
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/app.scss";

.nt-page {
  background: rgb(228, 85, 147);
  background: linear-gradient(
    180deg,
    rgba(226, 28, 115, 1) 0%,
    rgba(255, 223, 238, 1) 25%,
    #e21c73 39%,
    #8e3285 100%
  );
}
.ns-dark {
  .nt-page {
    background: rgb(131, 0, 57);
    background: linear-gradient(
      180deg,
      rgb(75, 0, 32) 0%,
      rgb(179, 0, 89) 25%,
      #4d0045 100%
    );
  }
}
.nt-input {
  background-color: $beyaz;
  color: $magenta;
}
.ns-dark .nt-input {
  background-color: darken($pembe, 30);
  color: lighten($markaAcik, 33);
}
.loginButton {
  font-family: "BaiJamjuree-Medium", sans-serif;
  android-elevation: 3;
  border-radius: 30;
  border-width: 0;
  color: #e21c73;
  font-size: 18;
  font-weight: bold;
  background: #dabbc9;
  background-color: #dabbc9;
  background: linear-gradient(to right, #dfcdd5, #f5d4f0);
}
.ns-dark .loginButton {
  color: $markaKoyu;
}
</style>
