<template>
  <Page actionBarHidden="true">
    <GridLayout rows="95,*,auto,55" columns="*" class="nt-page">
      <Image
        row="0"
        class="logo m-t-5 slideInDown"
        src="~/assets/images/sebAPP-logo.png"
        width="90"
      ></Image>
      <ScrollView row="1">
        <GridLayout
          rows="auto, auto, auto, auto, auto, *"
          columns="*,*"
          class="nt-form m-10 fadeIn"
        >
          <GridLayout
            row="0"
            col="0"
            colSpan="2"
            rows="auto,auto,auto"
            :class="status($v.user.username)"
            class="m-b-5"
          >
            <Label row="0" text="Hesap Oluşturun" class="text-center baslik" />
            <TextField
              row="1"
              class="nt-input -rounded m-y-10 -border p-5 input-field"
              hint="Ad Soyad"
              autocorrect="false"
              autocapitalizationType="none"
              v-model.lazy="$v.user.username.$model"
              @blur="$v.user.username.$touch()"
              returnKeyType="next"
            ></TextField>
            <Label
              row="2"
              class="kucuk error"
              v-if="!$v.user.username.minLength"
              text="Kullanıcı Adınız en az 4 karakter olmalı"
            />
            <Label
              row="2"
              class="kucuk text-right"
              v-if="!$v.user.username.required"
              v-show="$v.user.username.$dirty"
              text="Kullanıcı Adınız gerekli"
            />
          </GridLayout>

          <GridLayout
            rows="auto,auto"
            row="1"
            col="0"
            colSpan="2"
            :class="status($v.user.email)"
            class="m-b-10"
          >
            <TextField
              row="0"
              class="nt-input -rounded m-y-10 -border p-5 input-field"
              hint="E-posta Adresiniz"
              keyboardType="email"
              autocorrect="false"
              autocapitalizationType="none"
              v-model.lazy="$v.user.email.$model"
              @blur="$v.user.email.$touch()"
              returnKeyType="next"
            ></TextField>

            <Label
              row="1"
              class="kucuk"
              v-if="!$v.user.email.email"
              v-show="$v.user.email.$dirty"
              text="Doğru bir E-posta adresi olmalı"
            />
            <Label
              row="1"
              class="kucuk text-right"
              v-if="!$v.user.email.required"
              v-show="$v.user.email.$dirty"
              text="E-posta adresi zorunlu"
            />
          </GridLayout>

          <StackLayout
            row="2"
            col="0"
            :class="status($v.user.password)"
            class="m-b-10"
          >
            <Label text="Şifreniz" />
            <TextField
              class="nt-input -rounded m-y-10 m-r-20 -border p-15 input-field"
              ref="password"
              secure="true"
              v-model="$v.user.password.$model"
              @blur="$v.user.password.$touch()"
              returnKeyType="next"
            ></TextField>
            <Label
              class="kucuk"
              v-if="!$v.user.password.required && $v.user.password.$dirty"
              text="şifre zorunlu"
            />
            <Label
              class="kucuk text-right"
              v-if="!$v.user.password.minLength"
              text="şifre 6 karakterden kısa olamaz"
            />
          </StackLayout>
          <StackLayout
            row="2"
            col="1"
            :class="status($v.user.repeatPassword)"
            class="m-b-10"
          >
            <Label text="Şifreniz Tekrar" />

            <TextField
              class="nt-input -rounded m-y-10 -border p-15 input-field"
              ref="repassword"
              secure="true"
              v-model.lazy="$v.user.repeatPassword.$model"
              returnKeyType="next"
            ></TextField>
            <Label
              class="kucuk text-right"
              text="Yandaki şifreyle aynı olmalı"
              v-if="!$v.user.repeatPassword.sameAsPassword"
            />
          </StackLayout>
          <StackLayout row="3" col="0" orientation="horizontal">
            <StackLayout :class="status($v.user.Ulke_Kodu)">
              <TextField
                class="nt-input -rounded m-y-10 -border p-15 input-field"
                ref="ulke"
                hint="Ülke Kodu"
                keyboardType="email"
                v-model.trim="$v.user.Ulke_Kodu.$model"
                @blur="$v.user.Ulke_Kodu.$touch()"
                returnKeyType="next"
              ></TextField>
              <Label
                class="kucuk"
                text="Ülke kodu en az 2 karakter olabilir"
                v-if="!$v.user.Ulke_Kodu.minLength"
              />
              <Label
                class="kucuk"
                text="Ülke kodu en fazla 3 karakter olabilir"
                v-if="!$v.user.Ulke_Kodu.maxLength"
              />
            </StackLayout>
          </StackLayout>
          <StackLayout row="3" col="1" orientation="horizontal">
            <StackLayout :class="status($v.user.Plaka_Kodu)">
              <TextField
                class="nt-input -rounded m-y-10 -border p-15 m-r-5 input-field"
                ref="plaka"
                hint="Şehir Plaka Kodu"
                keyboardType="email"
                v-model.trim="$v.user.Plaka_Kodu.$model"
                @blur="$v.user.Plaka_Kodu.$touch()"
                returnKeyType="next"
              ></TextField>
              <Label
                class="kucuk"
                text="Plaka kodu 2 karakterden küçük olmalı"
                v-if="!$v.user.Plaka_Kodu.minLength"
              />
              <Label
                class="kucuk"
                text="Plaka kodu 3 karakterden büyük olmalı"
                v-if="!$v.user.Plaka_Kodu.maxLength"
              />
              <Label
                class="kucuk text-right"
                text="Plaka kodu zorunlu"
                v-if="!$v.user.Plaka_Kodu.required"
                v-show="$v.user.Plaka_Kodu.$dirty"
              />
            </StackLayout>
          </StackLayout>
          <StackLayout row="4" col="0" :class="status($v.user.Uye_No)">
            <TextField
              class="nt-input -rounded m-y-10 -border p-15 input-field"
              ref="uye"
              hint="Federasyon Üye No"
              keyboardType="phone"
              v-model="$v.user.Uye_No.$model"
              returnKeyType="next"
            ></TextField>
            <Label
              class="kucuk"
              text="Üye No 1-9999 arasında bir tam sayı olmalı"
              v-if="!$v.user.Uye_No.between"
            />
          </StackLayout>
          <StackLayout row="4" col="1" :class="status($v.user.Kulup_Uye_No)">
            <TextField
              class="nt-input -rounded m-y-10 -border p-15 input-field"
              ref="uye"
              hint="Kulüp Üye No"
              keyboardType="phone"
              v-model.trim="$v.user.Kulup_Uye_No.$model"
              returnKeyType="next"
            ></TextField>
            <Label
              class="kucuk"
              text="Üye No 1-9999 arasında bir tam sayı olmalı"
              v-if="!$v.user.Kulup_Uye_No.between"
            />
          </StackLayout>
          <StackLayout row="5" col="0" :class="status($v.user.Telefon)">
            <TextField
              class="nt-input -rounded m-y-10 -border p-15 m-r-20 input-field"
              ref="tel"
              hint="Telefon"
              keyboardType="phone"
              v-model.trim="$v.user.Telefon.$model"
              returnKeyType="next"
            ></TextField>
            <Label
              class="kucuk"
              text="Telefon numarası 15 karakterden uzun olamaz"
              v-if="!$v.user.Telefon.maxLength"
            />
            <Label
              class="kucuk"
              text="Telefon numarası 10 karakterden kısa olamaz"
              v-if="!$v.user.Telefon.minLength"
            />
          </StackLayout>

          <StackLayout row="5" col="1">
            <TextField
              class="nt-input -rounded m-y-10 -border p-15 input-field"
              ref="sehir"
              hint="Şehir"
              keyboardType="email"
              v-model.trim="$v.user.Sehir.$model"
              returnKeyType="done"
            ></TextField>
            <Label
              class="kucuk"
              text="Şehir 24 karakterden uzun olamaz"
              v-if="!$v.user.Sehir.maxLength"
            />
            <Label
              class="kucuk"
              text="Şehir 3 karakterden kısa olamaz"
              v-if="!$v.user.Sehir.minLength"
            />
          </StackLayout>
        </GridLayout>
      </ScrollView>
      <Label
        v-if="submitStatus === 'OK'"
        row="2"
        text="Teşekkürler"
        textWrap="true"
        class="parlak-renk"
      />
      <Label
        v-if="submitStatus === 'ERROR'"
        row="2"
        text="Lütfen formu tekrar kontrol eder misiniz?"
        textWrap="true"
        class="error"
      />
      <Label
        v-if="submitStatus === 'NOTMEMBER'"
        row="2"
        text="İki dernekten birine üye olmalısınız?"
        textWrap="true"
        class="error"
      />
      <Label
        v-if="submitStatus === 'PENDING'"
        row="2"
        text="Gönderiliyor..."
        textWrap="true"
        class="parlak-renk"
      />

      <Button
        row="3"
        text="Kayıt ol"
        @tap="register"
        class="loginButton fadeInAfter2s m-b-5"
      ></Button>
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import routes from "@/routes";
import { BACKEND } from "@/helpers/config";
import { format, formatDistanceToNow, formatISO, add } from "date-fns";
import { Http, ApplicationSettings } from "@nativescript/core";
import { showToast, alert } from "@/helpers/ui";
import { removeData } from "@/helpers/domain";
import {
  required,
  minLength,
  maxLength,
  between,
  email,
  sameAs,
} from "vuelidate/lib/validators";

export default {
  data() {
    return {
      user: {
        username: "",
        email: "",
        password: "",
        repeatPassword: "",
        blocked: true,
        Uye_No: "",
        Kulup_Uye_No: "",
        Uyelik_Yenileme: formatISO(add(new Date(), { years: 1 }), {
          representation: "date",
        }),
        Ulke_Kodu: "TR",
        Plaka_Kodu: "",
        Telefon: "",
        Sehir: "",
      },
      submitStatus: null,
    };
  },
  validations: {
    user: {
      username: {
        required,
        minLength: minLength(4),
      },
      password: {
        required,
        minLength: minLength(6),
      },
      repeatPassword: {
        sameAsPassword: sameAs("password"),
      },
      email: {
        required,
        email,
      },
      Ulke_Kodu: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(3),
      },
      Plaka_Kodu: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(3),
      },
      Uye_No: {
        between: between(1, 9999),
      },
      Kulup_Uye_No: {
        between: between(1, 9999),
      },
      Telefon: {
        minLength: minLength(10),
        maxLength: maxLength(15),
      },
      Sehir: {
        minLength: minLength(3),
        maxLength: maxLength(24),
      },
    },
  },
  methods: {
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      };
    },
    register() {
      // clear token to prevent errors (if malformed)
      removeData();
      this.$v.$touch();
      const bothMemberNoAreasAreEmpty: boolean =
        !(this.user.Uye_No > 0) && !(this.user.Kulup_Uye_No > 0);

      if (this.$v.$invalid) {
        showToast("Formu Kontrol ediniz");
        this.submitStatus = "ERROR";
      } else if (bothMemberNoAreasAreEmpty) {
        alert("Form doldururken Hata", "Üyeliklerden birini doldurmalısınız");
        this.submitStatus = "NOTMEMBER";
      } else {
        showToast("Kontrol ediliyor");
        this.submitStatus = "PENDING";
        const collectedUserData = {
          username: this.user.username,
          email: this.user.email,
          password: this.user.password,
          Uye_No: this.user.Uye_No ?? "",
          Kulup_Uye_No: this.user.Kulup_Uye_No ?? "",
          Uyelik_Yenileme: this.user.Uyelik_Yenileme,
          Ulke_Kodu: this.user.Ulke_Kodu,
          Plaka_Kodu: this.user.Plaka_Kodu,
          Telefon: this.user.Telefon,
          Sehir: this.user.Sehir,
          blocked: 1,
        };
        this.sendRequest(collectedUserData);
      }
    },
    sendRequest(uf) {
      Http.request({
        url: BACKEND + "/auth/local/register",
        method: "POST",
        headers: { "Content-Type": "application/json" },
        content: JSON.stringify(uf),
      }).then(
        (response) => {
          const result = response.content.toJSON();
          if (result.error) {
            console.log("error: ", result.error);
            console.log("error: ", result.message[0].messages[0].message);
            if (
              result.message[0].messages[0].message == "Username already taken"
            ) {
              alert("Form doldururken Hata", "Bu kullanıcı zaten kayıtlı");
            } else if (
              result.message[0].messages[0].message == "Email is already taken."
            ) {
              alert("Form doldururken Hata", "Bu e-posta zaten kayıtlı");
            } else {
              alert(
                "Form doldururken Hata",
                "Bilinmeyen bir hata oluştu. Yeniden Deneyiniz."
              );
            }
          } else {
            ApplicationSettings.setString("token", result.jwt);
            // console.log("JWT from Server: ", result.jwt);
            ApplicationSettings.setNumber("userID", result.user.id);
            // userData object to string
            ApplicationSettings.setString(
              "userData",
              JSON.stringify(result.user)
            );
            this.submitStatus = "OK";
            this.$navigateTo(routes.firstLoggedIn, { clearHistory: true });
          }
        },
        (e) => {
          console.error("auth/local error :", e);
          this.$navigateTo(routes.login);
          alert("Yetki hatası", "Malesef oturum açılamadı.");
        }
      );
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/app.scss";
.nt-page {
  background: rgb(228, 85, 147);
  background: linear-gradient(
    180deg,
    rgba(226, 28, 115, 1) 0%,
    rgba(255, 223, 238, 1) 25%,
    #8e3285 100%
  );
}
.ns-dark {
  .nt-page {
    background: rgb(131, 0, 57);
    background: linear-gradient(
      180deg,
      rgb(109, 0, 47) 0%,
      rgb(179, 0, 89) 25%,
      #4d0045 100%
    );
  }
}

.nt-input {
  background-color: lighten($pembe, 58);
  color: $magenta;
}
ListPicker {
  color: #dabbc9;
}
.loginButton {
  font-family: "BaiJamjuree-Medium", sans-serif;
  android-elevation: 3;
  border-radius: 30;
  border-width: 0;
  color: #e21c73;
  font-size: 18;
  font-weight: bold;
  background: #dabbc9;
  background-color: #dabbc9;
  background: linear-gradient(to right, #dfcdd5, #f5d4f0);
  margin-bottom: 15;
}

.dirty {
  TextField {
    color: darkolivegreen;
  }
}

.dirty:focus {
  color: #8e8;
}

.error {
  border-color: red;
  background: #fdd;
}

.error:focus {
  outline-color: #f99;
}
.ns-dark {
  .baslik {
    color: $siyah;
  }
  .nt-input {
    background-color: darken($pembe, 58);
    color: $beyaz;
  }
  .loginButton {
    font-family: "BaiJamjuree-Medium", sans-serif;
    android-elevation: 3;
    border-radius: 30;
    border-width: 0;
    color: $markaKoyu;
    font-size: 18;
    font-weight: bold;
    background: #dabbc9;
    background-color: #dabbc9;
    background: linear-gradient(to right, #dfcdd5, #f5d4f0);
    margin-bottom: 15;
  }
  .error {
    border-color: red;
    background: $pembe;
  }

  .error:focus {
    outline-color: $turkuaz;
  }
}
</style>