<template>
  <Page>
    <ActionBar>
      <Label class="text-center" text="İstek Talebi" />
    </ActionBar>
    <GridLayout
      ~mainContent
      rows="80,*,45,90,90"
      columns="60,*"
      class="fon p-10"
    >
      <Label
        row="0"
        colSpan="2"
        text="Hesabınızın Aktive edilmesi için lütfen Kurenk Kulubü ile iletişime geçiniz"
        class="baslik text-center m-y-auto p-t-30"
        textWrap="true"
      />
      <StackLayout row="1" colSpan="2">
        <Image
          src="res://kurenkkulubulogo"
          stretch="none"
          class="m-x-auto"
          @tap="openUrl('https://kurenkkulubu.com/')"
        />
        <TextView
          text="Türkiye Kürenk Kulübü Şebap güvercinin Kürenk cinsini tanıtır,
Kürenk ırkını besleyen üreticileri bir araya getirir.
         "
          editable="false"
          class="buyuk m-x-auto text-center"
        />
        <Label
          text="www.kurenkkulubu.com"
          class="baslik m-x-auto"
          textWrap="true"
          @tap="openUrl('https://kurenkkulubu.com/')"
        />
      </StackLayout>

      <Button
        row="2"
        colSpan="2"
        text="Hesabım Onaylandı. Tekrar Giriş Yap"
        @tap="exit"
      />

      <Image
        row="4"
        col="0"
        src="res://kurenkkulubulogo"
        stretch="none"
        class="m-y-auto"
        @tap="openUrl('https://kurenkkulubu.com/uye-basvuru-formu/')"
      />
      <Button row="4" col="1" text="Çıkış" @tap="closeApp" class="m-20" />
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import { removeData, domainMixin } from "@/helpers/domain";
import { Utils } from "@nativescript/core";
import routes from "@/routes";
export default {
  mixins: [domainMixin],
  methods: {
    openUrl(url) {
      Utils.openUrl(url);
    },
  },
};
</script>

<style scoped>
</style>