<template>
  <StackLayout ~drawerContent>
    <Label class="drawer-header" :text="userName" @tap="gotoUserShow(userID)" />
    <StackLayout orientation="horizontal" @tap="gotoListMyBirds">
      <Label
        text=""
        textWrap="true"
        class="p-l-5 m-t-2 fas acik"
        fontSize="22"
      />
      <Label class="drawer-item" text="Kuşlarım" />
    </StackLayout>
    <StackLayout class="hr m-10"></StackLayout>

    <StackLayout
      v-if="userID !== firstUser"
      orientation="horizontal"
      @tap="gotoCreateBird"
    >
      <Label
        text=""
        textWrap="true"
        class="p-l-5 m-t-2 fas acik"
        fontSize="22"
      />
      <Label
        v-if="userID !== firstUser"
        class="drawer-item"
        text="Yeni Kuş Ekle"
      />
    </StackLayout>
    <StackLayout v-if="userID !== firstUser" class="hr m-10"></StackLayout>

    <StackLayout orientation="horizontal" @tap="gotoListAllBirds">
      <Label
        text=""
        textWrap="true"
        class="p-l-5 m-t-2 fas acik"
        fontSize="22"
      />
      <Label class="drawer-item" text="Tüm Güvercinler" />
    </StackLayout>
    <StackLayout class="hr m-10"></StackLayout>

    <StackLayout orientation="horizontal" @tap="gotoBirdTransferInfo">
      <Label
        text=""
        textWrap="true"
        class="p-l-5 m-t-2 fas acik"
        fontSize="22"
      />
      <Label class="drawer-item" text="Kuş Transfer" />
    </StackLayout>
    <StackLayout class="hr m-10"></StackLayout>

    <StackLayout orientation="horizontal" @tap="gotoUserList">
      <Label
        text=""
        textWrap="true"
        class="p-l-5 m-t-2 fas acik"
        fontSize="22"
      />
      <Label class="drawer-item m-l-2 p-l-5" text="Kayıtlı Üyeler" />
    </StackLayout>
    <StackLayout class="hr m-10"></StackLayout>

    <StackLayout orientation="horizontal" @tap="gotoEggs">
      <Label
        text=""
        textWrap="true"
        class="p-l-5 m-t-2 fas acik"
        fontSize="22"
      />
      <Label class="drawer-item" text="Yumurtlayanlar" />
    </StackLayout>
    <StackLayout class="hr m-10"></StackLayout>

    <StackLayout orientation="horizontal" @tap="gotoExit">
      <Label
        text=""
        textWrap="true"
        class="p-l-5 m-t-2 fas acik"
        fontSize="22"
      />
      <Label class="drawer-item m-l-0" text="Çıkış" />
    </StackLayout>
    <StackLayout class="hr m-10"></StackLayout>
    <StackLayout orientation="horizontal">
      <Image src="res://kurenkkulubulogo" stretch="none" class="m-y-auto" />
      <Label id="version" :text="version" class="m-15 ana-renk" @tap="about" />
    </StackLayout>
  </StackLayout>
</template>

<script lang="ts">
import routes from "../routes";
import { ApplicationSettings } from "@nativescript/core";
import { formatDistanceToNow } from "date-fns";
import { tr } from "date-fns/locale";
import { apolloClient } from "@/main";
import { navMixin } from "@/helpers/ui";
import { domainMixin } from "@/helpers/domain";
import { version } from "../../package.json";

export default {
  data() {
    return {
      version: version,
      userData: JSON.parse(ApplicationSettings.getString("userData")),
      userID: ApplicationSettings.getNumber("userID"),
      firstUser: 1,
    };
  },
  mixins: [navMixin, domainMixin],

  computed: {
    userName() {
      return this.userData.username.toUpperCase();
    },
    uyelikYenileme() {
      return formatDistanceToNow(Date.parse(this.userData.Uyelik_Yenileme), {
        locale: tr,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/renkler.scss";
StackLayout {
  font-weight: bold;
  background: #e21c73;
  background-color: #e21c73;
  background: linear-gradient(to right, #e21c73, #8e3285);
}
.drawer-header {
  font-family: "Open Sans Condensed", "OpenSansCondensed-Light", sans-serif;
  font-weight: 300;
  padding: 50 16 16 16;
  margin-bottom: 16;
  background-color: desaturate($markaKoyu, 10%);
  color: $beyaz;
  font-size: 26;
}

.drawer-item {
  padding: 8 16;
  color: lighten($markaAcik, 66);
  font-size: 16;
  margin-left: 30;
}
.acik {
  color: lighten($markaAcik, 33);
}
#version {
  font-size: 9;
}
</style>
