<template>
  <GridLayout
    rows="50,200,100,50"
    columns="*"
    backgroundColor="palevioletred"
    color="white"
  >
    <Label
      row="0"
      text="Anne Seçiniz"
      class="h2 text-center p-t-5 text-primary"
      v-show="motherIsKnown"
    />
    <ActivityIndicator v-if="$apollo.loading" row="0" :busy="$apollo.loading" />
    <Label
      v-if="$apollo.loading"
      row="1"
      text="Yükleniyor ...  "
      textWrap="true"
      class="h2"
    />
    <ListPicker
      v-else
      row="1"
      :items="anneBilezikler"
      v-model="femaleIndex"
      @selectedIndexChange="selectedIndexofMotherChanged"
      v-show="motherIsKnown"
    />
    <Label
      :text="motherName"
      textWrap="true"
      class="h3 text-center p-t-50 parlak-renk"
      row="2"
      fontWeight="bold"
      verticalAlignment="center"
      v-show="motherIsKnown"
    />
    <Button v-show="motherIsKnown" row="3" text="Bilinmiyor" @tap="remove" />
    <Button
      v-show="!motherIsKnown"
      row="3"
      text="Biliniyor"
      @tap="showMother"
    />
  </GridLayout>
</template>

<script lang="ts">
import * as queries from "@/graphql/queries";
import { ApplicationSettings } from "@nativescript/core";
export default {
  data() {
    return {
      userId: ApplicationSettings.getNumber("userID"),
      motherName: "",
      femaleIndex: 0,
      motherIsKnown: true,
    };
  },
  apollo: {
    birds: {
      query: queries.MY_ALIVE_FEMALE_BIRDS,
      variables() {
        return {
          userId: this.userId,
        };
      },
    },
  },
  methods: {
    selectedIndexofMotherChanged() {
      if (this.motherIsKnown) {
        this.$emit("motherChanged", this.motherID);
      } else {
        this.motherID = null;
        this.$emit("motherChanged", this.motherID);
      }
    },
    remove() {
      this.motherIsKnown = false;
      this.motherID = null;
      this.$emit("motherChanged", null);
    },
    showMother() {
      this.motherIsKnown = true;
    },
  },
  computed: {
    motherID() {
      return this.anneIDler[this.femaleIndex];
    },
    anneBilezikler() {
      return this.birds.map((value) => value.bilezik);
    },
    anneIDler() {
      return this.birds.map((value) => value.id);
    },
    anneIsimler() {
      return this.birds.map((value) => value.isim);
    },
  },
  updated() {
    this.motherName = this.anneIsimler[this.femaleIndex];
  },
};
</script>

<style lang="scss" scoped>
button {
  android-elevation: 1;
  border-radius: 15;
  border-width: 0;
  color: #fffcff;
  font-size: 13;
  height: 30;
}
</style>