<template>
  <GridLayout
    rows="50,200,100,50"
    columns="*"
    backgroundColor="DarkSlateBlue"
    color="white"
  >
    <Label
      row="0"
      text="Baba Seçiniz"
      class="h2 text-center p-t-5 text-primary"
      color="white"
      v-show="fatherIsKnown"
    />
    <ActivityIndicator v-if="$apollo.loading" row="1" :busy="$apollo.loading" />
    <Label
      v-if="$apollo.loading"
      row="1"
      text="Yükleniyor ...  "
      textWrap="true"
      class="h2"
    />
    <ListPicker
      v-else
      row="1"
      :items="bilezikler"
      v-model="maleIndex"
      @selectedIndexChange="selectedIndexofFatherChanged"
      v-show="fatherIsKnown"
    />
    <Label
      :text="fatherName"
      textWrap="true"
      class="h3 text-center p-t-50 parlak-renk"
      row="2"
      fontWeight="bold"
      verticalAlignment="center"
      v-show="fatherIsKnown"
    />
    <Button
      v-show="fatherIsKnown"
      row="3"
      text="Bilinmiyor"
      @tap="removefather"
    />
    <Button
      v-show="!fatherIsKnown"
      row="3"
      text="Biliniyor"
      @tap="showFather"
    />
  </GridLayout>
</template>

<script lang="ts">
import * as queries from "@/graphql/queries";
import { ApplicationSettings } from "@nativescript/core";
import { isNullOrUndefined } from "util";

export default {
  data() {
    return {
      userId: ApplicationSettings.getNumber("userID"),
      fatherName: "",
      maleIndex: 0,
      fatherIsKnown: true,
    };
  },
  apollo: {
    birds: {
      query: queries.MY_ALIVE_MALE_BIRDS,
      variables() {
        return {
          userId: this.userId,
        };
      },
    },
  },
  methods: {
    selectedIndexofFatherChanged() {
      // console.log("this.fatherIsKnown :>> ", this.fatherIsKnown);
      if (this.fatherIsKnown) {
        this.$emit("fatherChanged", this.fatherID);
      } else {
        this.fatherID = null;
        this.$emit("fatherChanged", this.fatherID);
      }
    },
    removefather() {
      this.fatherIsKnown = false;
      // console.log("this.fatherIsKnown :>> ", this.fatherIsKnown);
      this.fatherID = null;
      this.$emit("fatherChanged", null);
    },
    showFather() {
      this.fatherIsKnown = true;
    },
  },
  computed: {
    fatherID() {
      return this.babaIDler[this.maleIndex];
    },
    bilezikler() {
      return this.birds.map((value) => value.bilezik);
    },
    babaIDler() {
      return this.birds.map((value) => value.id);
    },
    babaIsimler() {
      return this.birds.map((value) => value.isim);
    },
  },
  updated() {
    this.fatherName = this.babaIsimler[this.maleIndex];
  },
};
</script>

<style lang="scss" scoped>
button {
  android-elevation: 1;
  border-radius: 15;
  border-width: 0;
  color: #fffcff;
  font-size: 13;
  height: 30;
}
</style>