<template>
  <GridLayout rows="auto,*,auto,auto" columns="*" backgroundColor="#FFCCFF">
    <Label
      row="0"
      text="Anne Bilezik Bilgileri"
      class="text-center text-primary m-5"
      textWrap="true"
    />

    <RadDataForm
      row="1"
      :source="bilezikForm"
      :metadata="bilezikFormMeta"
      class="fon"
    ></RadDataForm>
    <ActivityIndicator v-if="loading" row="2" busy="true" />
    <Label
      :text="this.bilezikNO"
      textWrap="true"
      class="h3 text-center"
      row="2"
      @tap="motherSelected"
    />
    <Label
      v-if="birdName"
      row="3"
      :text="birdName"
      textWrap="true"
      class="h4 text-center"
      @tap="motherSelected"
    />
    <Button v-if="!birdName" row="3" text="Ara" @tap="searchParentBird" />
  </GridLayout>
</template>

<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import { apolloClient } from "@/main";
import { showToast, alert } from "@/helpers/ui";
import { domainMixin } from "@/helpers/domain";
export default {
  data() {
    return {
      bilezikForm: {
        ulkeKodu: "TR",
        plakaKodu: "",
        uyeNo: "",
        kulupUyeNo: "",
        kusSiraNo: "",
        bilezikYili: 2020,
      },
      bilezikFormMeta: {
        isReadOnly: false,
        validationMode: "OnLostFocus",
        propertyAnnotations: [
          {
            name: "ulkeKodu",
            displayName: "Ülke Kodu",
            editor: "Email",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 3,
                  errorMessage: "Ülke Kodu 3 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 2,
                  errorMessage: "Ülke Kodu 2 karakterden daha kısa olamaz",
                },
              },
            ],
          },
          {
            name: "plakaKodu",
            displayName: "Plaka Kodu",
            editor: "Email",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 3,
                  errorMessage: "Plaka Kodu 3 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 2,
                  errorMessage: "Plaka Kodu 2 karakterden daha kısa olamaz",
                },
              },
            ],
          },
          {
            name: "uyeNo",
            displayName: "Federasyon Üye No",
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 1,
                  maximum: 9999,
                  errorMessage:
                    "Federasyon üye no 1 ile 9999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "kulupUyeNo",
            displayName: "Kulüp Üye No",
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 1,
                  maximum: 9999,
                  errorMessage: "Kulüp üye no 1 ile 9999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "kusSiraNo",
            displayName: "Kuş Sıra No",
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 0,
                  maximum: 999,
                  errorMessage: "Kuş Sıra no 0 ile 999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "bilezikYili",
            displayName: "Bilezik yılı",
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 2000,
                  maximum: 2099,
                  errorMessage: "Bilezik yılı 2000 ile 2099 arasında olabilir",
                },
              },
            ],
          },
        ],
      },
      skipQuery: true,
      loading: false,
    };
  },
  apollo: {
    birds() {
      return {
        query: queries.FEMALE_BIRD_FROM_BILEZIK,
        variables() {
          return {
            bilezik: this.bilezikNO,
          };
        },
        skip() {
          return this.skipQuery;
        },
      };
    },
  },
  mixins: [domainMixin],
  methods: {
    searchParentBird() {
      if (!this.bilezikFormInfoIsValid(this.bilezikForm)) {
        alert(
          "Anne Formu Doldururken Hata",
          "Lütfen bilezik için gerekli tüm alanları doldurduğunuzdan emin olunuz"
        );
        return;
      }

      this.skipQuery = false;
      this.loading = true;
      this.$apollo.queries.birds.refetch();
      setTimeout(() => {
        // stop query
        this.skipQuery = true;
        // error message
        this.birds && this.birds.length > 0
          ? this.motherSelected()
          : showToast("Böyle Bir Dişi Yok");
        // stop ActivityIndicator spinner
        this.loading = false;
        this.$apollo.queries.birds.stop();
      }, 1500);
    },
    motherSelected() {
      const motherID = this.birds[0].id;
      this.$emit("motherFound", motherID);
    },
  },
  computed: {
    bilezikNO() {
      const memberPortion: string =
        this.bilezikForm.kulupUyeNo > 0
          ? "K" + this.bilezikForm.kulupUyeNo
          : this.bilezikForm.uyeNo;
      const bilezikNo =
        this.bilezikForm.ulkeKodu.toUpperCase() +
        "-" +
        this.bilezikForm.plakaKodu +
        "-" +
        memberPortion +
        "-" +
        this.bilezikForm.kusSiraNo +
        "-" +
        this.bilezikForm.bilezikYili.toString();
      return bilezikNo;
    },
    birdName() {
      return this.birds && this.birds.length > 0 ? this.birds[0].isim : "";
    },
  },
};
</script>

<style lang="scss" scoped>
button {
  android-elevation: 1;
  border-radius: 15;
  border-width: 0;
  color: #fffcff;
  font-size: 13;
  height: 30;
}
</style>