<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          :text="bird.isim + ': Aşı Ekle'"
          col="1"
          @tab="gotoShowMyBird"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60" columns="*">
        <RadDataForm
          row="0"
          class="fon"
          :source="vaccine"
          :metadata="vaccineMetadata"
        >
        </RadDataForm>
        <Button row="1" text="Aşı Ekle" @tap="addVaccine" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { formatISO } from "date-fns";
const bugun = formatISO(new Date(), { representation: "date" });
export default {
  props: {
    birdID: {
      type: Number,
      // default: 1
    },
  },
  data() {
    return {
      vaccine: {
        isim: "",
        Uygulama_Tarihi: bugun,
        Notlar: "",
      },
      vaccineMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "isim",
            displayName: "İsim",
            validators: [
              {
                name: "MinimumLength",
                params: {
                  length: 3,
                  errorMessage: "İsim 3 karakterden daha kısa olamaz",
                },
              },
            ],
          },

          {
            name: "Uygulama_Tarihi",
            displayName: "Aşı Uygulama Tarihi",
            editor: "DatePicker",
          },
          {
            name: "Notlar",
            editor: "MultilineText",
          },
        ],
      },
      bird: {
        id: "",
        isim: "",
        bilezik: "",
        Dogum_Tarihi: "",
        Turu: "",
        Cinsiyet: "",
        Fotograf: {
          id: "",
          formats: {
            thumbnail: {
              hash: "",
              ext: "",
              mime: "",
              width: Number,
              height: Number,
              size: Number,
              path: null,
              url: "",
            },

            small: {
              hash: "",
              ext: "",
              mime: "",
              width: Number,
              height: Number,
              size: Number,
              path: null,
              url: "",
            },
          },
          url: "",
          name: "",
        },
        Notlar: "",
        Tepe: "",
        Cinsi: "",
        Sag_Kuyruk: Number,
        Sol_Kuyruk: Number,
        Atlama: false,
        Canli: true,
        user: {
          id: "",
          username: "",
          Uye_No: Number,
        },
        Anne: null,
        Baba: null,
        diseases: [],
        vaccines: [],
        races: [],
        eggs: [],
        transfer: null,
      },
    };
  },
  methods: {
    addVaccine() {
      // console.log("this.birdID :>> ", this.birdID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.CREATE_VACCINE,
          // Parameters
          variables: {
            birdID: this.birdID,
            isim: this.vaccine.isim,
            Uygulama_Tarihi: this.vaccine.Uygulama_Tarihi,
            Notlar: this.vaccine.Notlar,
          },
          update: (store, { data }) => {
            try {
              /*               console.log(
                "data of created vaccine ::::>> ",
                data.createVaccine.vaccine
              ); */
              const vaccinesQuery = {
                query: queries.VACCINES_OF_BIRD,
                variables: { birdID: this.birdID },
              };
              const vaccinesData: any = store.readQuery(vaccinesQuery);
              // console.log("vaccinesData :>> ", vaccinesData);
              // console.log("this.birdID :>> ", this.birdID);
              vaccinesData.vaccines.push(data.createVaccine.vaccine);
              store.writeQuery({ ...vaccinesQuery, data: vaccinesData });
            } catch (error) {
              console.error(error);
            }
          },
        })
        .then((data) => {
          // Result
          console.log(
            "Incoming vaccine ID from server ::::: :>> ",
            data.data.createVaccine.vaccine.id
          );
          this.$navigateTo(routes.showVaccine, {
            props: {
              vaccineID: data.data.createVaccine.vaccine.id,
              birdID: this.birdID,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
    gotoShowMyBird() {
      this.$navigateTo(routes.showMyBird, {
        props: {
          birdID: this.birdID,
        },
      });
    },
  },
  apollo: {
    bird: {
      query: queries.BIRD,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
};
</script>
<style lang="scss" scoped>
DataFormEditorCore {
  background-color: transparent;
  color: magenta;
  font-size: 16;
  margin-bottom: 30;
}
</style>