<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Aşı Bilgilerini Düzenle" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60" columns="*">
        <RadDataForm row="0" :source="vaccine" :metadata="vaccineMetadata">
        </RadDataForm>
        <Button
          text="Güncelle"
          @tap="updateVaccineAndGotoShow"
          row="1"
          class="p-15"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { showToast } from "@/helpers/ui";

export default {
  props: {
    birdID: Number,
    vaccineID: Number,
    isim: String,
    Uygulama_Tarihi: String,
    Notlar: String,
  },
  data() {
    return {
      vaccine: {
        isim: this.$props.isim,
        Uygulama_Tarihi: this.$props.Uygulama_Tarihi,
        Notlar: this.$props.Notlar,
      },
      vaccineMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "isim",
            displayName: "Aşı Adı",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 24,
                  errorMessage: "Aşı Adı 24 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 3,
                  errorMessage: "Aşı Adı 3 karakterden daha kısa olamaz",
                },
              },
            ],
          },

          {
            name: "Uygulama_Tarihi",
            displayName: "Uygulama Tarihi",
            editor: "DatePicker",
          },
          {
            name: "Notlar",
            editor: "MultilineText",
          },
        ],
      },
    };
  },
  methods: {
    updateVaccineAndGotoShow() {
      // console.log("this.vaccine :>> ", this.vaccine);
      // console.log("this.$props.vaccineID :>> ", this.$props.vaccineID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.EDIT_VACCINE,
          // Parameters
          variables: {
            vaccineID: this.$props.vaccineID,
            isim: this.vaccine.isim,
            Uygulama_Tarihi: this.vaccine.Uygulama_Tarihi,
            Notlar: this.vaccine.Notlar,
          },
        })
        .then((data) => {
          // Result
          // console.log("Incoming vaccine ID ::::: :>> ", data.data.updatevaccine.vaccine);
          this.$navigateTo(routes.showVaccine, {
            props: {
              vaccineID: data.data.updateVaccine.vaccine.id,
              birdID: this.birdID,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("Malesef Kayıt hata verdi");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>