<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          :text="bird.isim + ': Aşı Detayı'"
          col="1"
          @tap="gotoShowMyBird(birdID)"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60,60" columns="*">
        <ActivityIndicator
          v-if="$apollo.loading"
          width="100"
          height="100"
          busy="true"
        />

        <StackLayout v-else row="0" class="m-30">
          <Label text="Aşı" textWrap="true" class="h1" />
          <Label :text="vaccine.isim" textWrap="true" class="h3" />
          <Label text="" textWrap="true" class="hr m-10" />
          <Label text="Uygulama Tarihi" textWrap="true" class="h2" />
          <Label :text="turkishDate(vaccine.Uygulama_Tarihi)" textWrap="true" />
          <Label text="" textWrap="true" class="hr m-10" />
          <Label text="Notlar" textWrap="true" class="h2" />
          <Label :text="vaccine.Notlar" textWrap="true" />
        </StackLayout>
        <Button text="Aşıyı Düzenle" row="1" @tap="gotoEditVaccine" />
        <Button text="Aşıyı Sil" row="2" @tap="destroyVaccine" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";

import { format } from "date-fns";
import { tr } from "date-fns/locale";
import { formatDistanceToNow } from "date-fns";
import { vocaMixin, dateMixin, navMixin } from "@/helpers/ui";

export default {
  props: {
    vaccineID: {
      type: Number,
      // default: 1
    },
    birdID: {
      type: Number,
      // default: 1
    },
  },
  data() {
    return {
      vaccine: {
        id: "",
        isim: " ",
        Uygulama_Tarihi: "",
        Notlar: "",
      },
      bird: {
        isim: "",
      },
    };
  },
  mixins: [navMixin, vocaMixin, dateMixin],
  methods: {
    destroyVaccine() {
      // console.log("this.vaccineID :>> ", this.vaccineID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.DESTROY_VACCINE,
          // Parameters
          variables: {
            vaccineID: this.vaccineID,
          },
          update: (store, { data }) => {
            try {
              // console.log(
              //   "data of deleted vaccine ::::>> ",
              //   data.deleteVaccine.vaccine
              // );
              const vaccinesQuery = {
                query: queries.VACCINES_OF_BIRD,
                variables: { birdID: this.birdID },
              };
              const vaccinesData: any = store.readQuery(vaccinesQuery);
              // console.log("vaccinesData :>> ", vaccinesData);

              let filteredVaccinesData = vaccinesData.vaccines.filter(
                (item) => item.id !== data.deleteVaccine.vaccine.id
              );
              let newVaccineDataObject = { vaccines: filteredVaccinesData };
              store.writeQuery({
                ...vaccinesQuery,
                data: newVaccineDataObject,
              });
            } catch (error) {
              console.error(error);
            }
          },
        })
        .then((data) => {
          // Result
          // console.log(
          //   "Incoming vaccine ID from server ::::: :>> ",
          //   data.data.deleteVaccine.vaccine.id
          // );

          this.$navigateTo(routes.showHealthInfo, {
            props: {
              birdID: this.birdID,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
    gotoEditVaccine() {
      // console.log("this.vaccineID :>> ", this.vaccineID);
      this.$navigateTo(routes.editVaccine, {
        props: {
          birdID: this.birdID,
          vaccineID: this.vaccineID,
          isim: this.vaccine.isim,
          Uygulama_Tarihi: this.vaccine.Uygulama_Tarihi,
          Notlar: this.vaccine.Notlar,
        },
      });
    },
  },
  apollo: {
    vaccine: {
      query: queries.THE_VACCINE,
      variables() {
        return {
          vaccineID: this.vaccineID,
        };
      },
    },
    bird: {
      query: queries.BIRD,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
};
</script>
<style lang="scss" scoped>
</style>