<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Yumurta Ekle" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60" columns="*">
        <RadDataForm row="0" class="fon" :source="egg" :metadata="eggMetadata">
        </RadDataForm>
        <Button row="1" text="Yumurta Ekle" @tap="addEgg" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as mutations from "@/graphql/mutations";
import * as queries from "@/graphql/queries";
import { apolloClient } from "@/main";
import { formatISO } from "date-fns";
import { ApplicationSettings } from "@nativescript/core";
import { LocalNotifications } from "@nativescript/local-notifications";
import { showToast, navMixin } from "@/helpers/ui";
import { scheduleNotification } from "@/helpers/domain";
const bugun = formatISO(new Date(), { representation: "date" });

export default {
  props: {
    birdID: {
      type: [Number, String],
      // default: 1
    },
  },
  data() {
    return {
      userData: JSON.parse(ApplicationSettings.getString("userData")),
      egg: {
        Gorulme_Tarihi: bugun,
        Notlar: "",
      },
      eggMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "Gorulme_Tarihi",
            displayName: "Yumurta Görülme Tarihi",
            editor: "DatePicker",
            validators: [
              {
                name: "NonEmptyValidator",
                params: {
                  errorMessage: "Görülme Tarihi boş geçilemez",
                },
              },
            ],
          },
        ],
      },
    };
  },
  mixins: [navMixin],
  methods: {
    addEgg() {
      // console.log("this.birdID :>> ", this.birdID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.CREATE_EGG,
          // Parameters
          variables: {
            birdID: this.birdID,
            Gorulme_Tarihi: this.egg.Gorulme_Tarihi,
            Notlar: this.egg.Notlar,
          },
          update: (store, { data }) => {
            try {
              // console.log("data of created egg ::::>> ", data.createEgg.egg);
              const eggsQuery = {
                query: queries.EGGS_OF_BIRD,
                variables: { birdID: this.birdID },
              };
              const eggsData: any = store.readQuery(eggsQuery);
              // console.log("eggsData :>> ", eggsData);
              // console.log("this.birdID :>> ", this.birdID);
              eggsData.eggs.push(data.createEgg.egg);
              store.writeQuery({ ...eggsQuery, data: eggsData });
            } catch (error) {
              console.error(error);
            }
          },
        })
        .then((data) => {
          // Result

          scheduleNotification(this.egg.Gorulme_Tarihi, this.userData.username);
          this.gotoShowMyBird(this.birdID);
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
    mounted() {
      console.log("this.egg.Gorulme_Tarihi :>> ", this.egg.Gorulme_Tarihi);
    },
  },
};
</script>
<style lang="scss" scoped>
</style>