<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Yumurta Bilgilerini Düzenle" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60,60" columns="*" class="sayfa fon">
        <RadDataForm row="0" :source="egg" :metadata="eggMetadata">
        </RadDataForm>
        <Button
          text="Güncelle"
          @tap="updateEggAndGotoShow"
          row="1"
          class="p-15"
        />
        <Button text="Kaldır" @tap="destroyEgg" row="2" class="p-15" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { showToast, vocaMixin, dateMixin, navMixin } from "@/helpers/ui";
import * as queries from "@/graphql/queries";

export default {
  props: {
    birdID: [Number, String],
    eggID: [Number, String],
    Gorulme_Tarihi: String,
    Notlar: String,
  },
  data() {
    return {
      egg: {
        Gorulme_Tarihi: this.$props.Gorulme_Tarihi,
        Notlar: this.$props.Notlar,
      },
      eggMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "Gorulme_Tarihi",
            displayName: "Yumurta Görülme Tarihi",
            editor: "DatePicker",
          },
          {
            name: "Notlar",
            editor: "MultilineText",
          },
        ],
      },
    };
  },
  mixins: [vocaMixin, dateMixin, navMixin],
  methods: {
    updateEggAndGotoShow() {
      // console.log("this.egg :>> ", this.egg);
      // console.log("this.$props.eggID :>> ", this.$props.eggID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.EDIT_EGG,
          // Parameters
          variables: {
            eggID: this.$props.eggID,
            Gorulme_Tarihi: this.egg.Gorulme_Tarihi,
            Notlar: this.egg.Notlar,
          },
        })
        .then((data) => {
          // Result
          // console.log("Incoming egg ID ::::: :>> ", data.data.updateegg.egg);
          this.gotoHealth(data.data.updateEgg.egg.bird.id);
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("Malesef Kayıt hata verdi");
        });
    },
    destroyEgg() {
      apolloClient
        .mutate({
          // Query
          mutation: mutations.DESTROY_EGG,
          // Parameters
          variables: {
            eggID: this.eggID,
          },
          update: (store, { data }) => {
            try {
              // console.log("data of deleted egg ::::>> ", data.deleteEgg.egg);
              const eggsQuery = {
                query: queries.EGGS_OF_BIRD,
                variables: { birdID: this.birdID },
              };
              const eggsData: any = store.readQuery(eggsQuery);
              // console.log("eggsData :>> ", eggsData);

              let filteredEggsData = eggsData.eggs.filter(
                (item) => item.id !== data.deleteEgg.egg.id
              );
              // console.log("filteredEggsData :>> ", filteredEggsData);
              let newEggsDataObject = { eggs: filteredEggsData };
              // console.log("newEggsDataObject :>> ", newEggsDataObject);
              store.writeQuery({
                ...eggsQuery,
                data: newEggsDataObject,
              });
            } catch (error) {
              console.error("store update failed");
              console.error(error);
            }
          },
        })
        .then((data) => {
          // Result
          const eggDate = this.turkishDate(
            data.data.deleteEgg.egg.Gorulme_Tarihi
          );
          // console.log("eggDate :>> ", eggDate);
          showToast(eggDate + ": tarihli yumurta kaldırılı");
          this.gotoShowMyBird(this.birdID);
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("Malesef Kayıt hata verdi");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
</style>