<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Bilezikle Ebeveyin Ekleme" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60" columns="*,*" class="fon">
        <SelectMotherFromBilezik
          @motherFound="onMotherFound"
          col="0"
        ></SelectMotherFromBilezik>
        <SelectFatherFromBilezik
          @fatherFound="onFatherFound"
          col="1"
          class="fatherComponent"
        ></SelectFatherFromBilezik>
        <Button
          v-if="atLeastOneFound"
          text="Ebeveyin Ekle"
          @tap="addParents"
          row="2"
          colSpan="2"
          class="m-5 -rounded"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import SelectMotherFromBilezik from "@/components/SelectMotherFromBilezik.vue";
import SelectFatherFromBilezik from "@/components/SelectFatherFromBilezik.vue";
import { apolloClient } from "@/main";
import { navMixin } from "@/helpers/ui";
import { ApplicationSettings } from "@nativescript/core";
export default {
  components: {
    SelectMotherFromBilezik,
    SelectFatherFromBilezik,
  },
  props: {
    birdID: {
      type: [Number, String],
    },
    birdName: {
      type: String,
    },
    birdBilezik: {
      type: String,
    },
  },
  data() {
    return {
      anneID: Number,
      babaID: Number,
      atLeastOneFound: false,
    };
  },
  mixins: [navMixin],
  methods: {
    onMotherFound(payload) {
      this.atLeastOneFound = true;
      this.anneID = payload;
    },
    onFatherFound(payload) {
      this.atLeastOneFound = true;
      this.babaID = payload;
    },
    addParents() {
      apolloClient
        .mutate({
          // Query
          mutation: mutations.ADD_PARENTS,
          // Parameters
          variables: {
            birdID: this.birdID,
            anneID: this.anneID,
            babaID: this.babaID,
          },
        })
        .then((data) => {
          // Result
          // console.log("data.data ::::: :>> ", data.data);
          this.gotoShowMyBird(this.birdID);
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
  },
};
</script>

<style scoped>
DataFormEditorLabel {
  font-size: 11;
  margin-bottom: 1;
  color: darkmagenta;
}
</style>
