<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Ebeveyin Ekleme" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,90" columns="*,*" class="fon">
        <SelectAnne
          v-if="selectAnneVisibility"
          @motherChanged="onMotherChanged"
          col="0"
        ></SelectAnne>
        <StackLayout v-else col="0" class="m-t-20">
          <Label
            :text="bird.Anne.isim"
            class="buyuk m-x-auto m-y-10"
            textWrap="true"
            @tap="gotoShowMyBird(bird.Anne.id)"
          />
          <Label text="" class="fas m-x-auto" fontSize="22" textWrap="true" />

          <Button
            text="Değiştir"
            class="degis"
            @tap="selectAnneVisibility = !selectAnneVisibility"
          />
        </StackLayout>

        <SelectBaba
          v-if="selectBabaVisibility"
          @fatherChanged="onFatherChanged"
          col="1"
        ></SelectBaba>
        <StackLayout v-else col="1">
          <Label
            :text="bird.Baba.isim"
            class="buyuk m-x-auto"
            textWrap="true"
            @tap="gotoShowMyBird(bird.Baba.id)"
          />
          <Label text="" class="fas" fontSize="22" textWrap="true" />
          <Button
            text="Değiştir"
            class="degis"
            @tap="selectBabaVisibility = !selectBabaVisibility"
          />
        </StackLayout>

        <Button text="Ebeveyin Ekle" @tap="addParents" row="2" colSpan="2" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import SelectAnne from "@/components/SelectAnne.vue";
import SelectBaba from "@/components/SelectBaba.vue";
import { apolloClient } from "@/main";
import routes from "@/routes";
import { ApplicationSettings } from "@nativescript/core";
import { navMixin } from "@/helpers/ui";

export default {
  components: {
    SelectAnne,
    SelectBaba,
  },
  props: {
    birdID: {
      type: [Number, String],
      default: 38,
    },
    birdName: {
      type: String,
      default: "LOW",
    },
    birdBilezik: {
      type: String,
      default: "TR-45-5416-24-2020",
    },
  },
  data() {
    return {
      anneID: Number,
      babaID: Number,
      userID: ApplicationSettings.getNumber("userID"),
      selectAnneVisibility: Boolean,
      selectBabaVisibility: Boolean,
    };
  },
  mixins: [navMixin],
  apollo: {
    bird: {
      query: queries.BIRD,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
  methods: {
    onMotherChanged(payload) {
      if (payload !== null) {
        this.anneID = payload;
      } else {
        this.anneID = null;
      }
    },
    onFatherChanged(payload) {
      if (payload !== null) {
        this.babaID = payload;
      } else {
        this.babaID = null;
      }
    },
    addParents() {
      apolloClient
        .mutate({
          // Query
          mutation: mutations.ADD_PARENTS,
          // Parameters
          variables: {
            birdID: this.birdID,
            anneID: this.anneID,
            babaID: this.babaID,
          },
        })
        .then((data) => {
          // Result
          this.gotoShowMyBird(this.birdID);
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
    selectAnneVisibilitySetter() {
      this.selectAnneVisibility = !this.bird.Anne;
    },
    selectBabaVisibilitySetter() {
      this.selectBabaVisibility = !this.bird.Baba;
    },
  },
  mounted() {
    this.selectAnneVisibilitySetter();
    this.selectBabaVisibilitySetter();
  },
};
</script>

<style lang="scss" scoped>
.degis {
  android-elevation: 1;
  border-radius: 15;
  border-width: 0;
  color: #fffcff;
  font-size: 13;
  height: 30;
}
</style>
