<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          :text="birdName + ' Ebeveyin Ekleme'"
          col="1"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="auto,*,90,80,80" class="fon" columns="*">
        <Label
          row="0"
          :text="birdBilezik + ' Ebeveyin Ekleme'"
          textWrap="true"
          class="h1 text-center m-t-5"
        />

        <StackLayout row="1" class="text-center m-30">
          <Label
            text="Adlı kuşa ebeveyin olarak eklemek istediğiniz güvercinin bilezik numarası"
            textWrap="true"
            class="h3"
          />
          <Label
            text="sizin üzerinize mi kayıtlı?"
            textWrap="true"
            class="font-weight-bold h2 m-y-10"
          />
        </StackLayout>
        <Label
          row="2"
          text="Eklemek İstediğim Ebeveyin"
          textWrap="true"
          class="h2 text-center"
        />
        <Button
          row="3"
          text="Yabancı Bilezikli"
          @tap="gotoAddForeignParents()"
        />
        <Button
          row="4"
          text="Kendime ait Bilezikli"
          @tap="gotoAddMyParents()"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
export default {
  props: {
    birdID: {
      type: Number,
    },
    birdName: {
      type: String,
    },
    birdBilezik: {
      type: String,
    },
  },
  data() {
    return {};
  },
  methods: {
    gotoAddForeignParents() {
      this.$navigateTo(routes.addForeignParents, {
        props: {
          birdID: this.birdID,
          birdName: this.birdName,
          birdBilezik: this.birdBilezik,
        },
      });
    },
    gotoAddMyParents() {
      this.$navigateTo(routes.addMyParents, {
        props: {
          birdID: this.birdID,
          birdName: this.birdName,
          birdBilezik: this.birdBilezik,
        },
      });
    },
  },
};
</script>
<style lang="scss" scoped>
</style>