<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Fotoğraf Ekleme" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent class="fon" columns="*" rows="*,60,60,60">
        <Image
          :src="photo"
          stretch="aspectFill"
          row="0"
          height="400"
          width="400"
        />
        <Button
          :text="photo == null ? 'Fotoğraf Çek' : 'Yeniden Çek'"
          @tap="takeThenSave"
          row="1"
          class="p-5 font-weight-bold"
        />
        <Button
          text="Galeriden Seç"
          @tap="selectSinglePhoto"
          row="2"
          class="p-5 font-weight-bold"
        />

        <Button
          v-show="photo"
          text="Onayla ve Gönder"
          @tap="uploadToServer"
          row="3"
          class="font-weight-bold"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import { takePicture, requestPermissions } from "@nativescript/camera";
import * as config from "@/helpers/config";
import { Image } from "@nativescript/core/ui/image";
import {
  fromFile,
  fromResource,
  fromBase64,
} from "@nativescript/core/image-source";
import {
  Folder,
  path,
  knownFolders,
  File,
} from "@nativescript/core/file-system";
import { isAndroid, isIOS } from "@nativescript/core/platform";
import {
  request,
  HTTPFormData,
  HTTPFormDataEntry,
} from "@klippa/nativescript-http";
import { ApplicationSettings, ImageSource } from "@nativescript/core";
import { apolloClient } from "@/main";
import * as mutations from "@/graphql/mutations";
import * as queries from "@/graphql/queries";
import { navMixin } from "@/helpers/ui";

import * as imagepicker from "@nativescript/imagepicker";
import { formatISO } from "date-fns";

export default {
  props: {
    birdID: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      photo: null,
      photoPath: "",
      fileName: "",
      // previewSize: 500,
      userId: ApplicationSettings.getNumber("userID"),
      today: formatISO(new Date(), { representation: "date" }),
    };
  },
  mixins: [navMixin],
  methods: {
    takeThenSave() {
      takePicture({
        width: 220,
        height: 220,
        keepAspectRatio: true,
      })
        .then((imageAsset) => {
          //console.log("test camera action");
          // START CLEAN
          this.photo = null;
          this.photoPath = "";
          this.fileName = "";
          /* console.log(
            "Real Size: " +
              imageAsset.options.width +
              "x" +
              imageAsset.options.height
          ); */
          // SAVE IMAGE
          ImageSource.fromAsset(imageAsset).then((imageSource: ImageSource) => {
            const fileName: string = this.finalFileName("cam");
            this.fileName = fileName;
            const folderPath: string = knownFolders.documents().path;
            const filePath: string = path.join(folderPath, fileName);
            // console.log("filePath :>> ", filePath);
            const saved: boolean = imageSource.saveToFile(filePath, "jpeg");
            if (saved) {
              // console.log("Saved to: " + filePath);
              this.photoPath = filePath;
            } else {
              // console.log("not saved");
            }
            const loadedImage: ImageSource = ImageSource.fromFileSync(filePath);
            this.photo = loadedImage;
          });
        })
        .catch((err) => {
          console.log("Error -> " + err.message);
          alert(err);
        });
    },
    selectSinglePhoto() {
      const context = imagepicker.create({ mode: "single" });
      this.startSelection(context);
    },
    startSelection(context) {
      context
        .authorize()
        .then(() => {
          return context.present();
        })
        .then((selection) => {
          // START CLEAN
          this.photo = null;
          this.photoPath = "";
          this.fileName = "";
          selection[0].options.width = selection[0].options.height = 600;
          // console.log("selection[0] :>> ", selection[0]);
          // resize image
          /* const imageSourceInsideFunction = ImageSource.fromFileSync(
            selection[0]._android
          );
          const resizedImage = imageSourceInsideFunction.resize(600); */
          // SAVE IMAGE
          ImageSource.fromAsset(selection[0]).then(
            (imageSource: ImageSource) => {
              const fileName: string = this.finalFileName("gal");
              this.fileName = fileName;
              const folderPath: string = knownFolders.documents().path;
              const filePath: string = path.join(folderPath, fileName);
              const saved: boolean = imageSource.saveToFile(filePath, "jpeg");
              if (saved) {
                console.log("Saved to: " + filePath);
                this.photoPath = filePath;
              } else {
                console.log("not saved");
              }
              const loadedImage: ImageSource = ImageSource.fromFileSync(
                filePath
              );
              this.photo = loadedImage;
            }
          );

          // console.log("Selection done: " + JSON.stringify(selection[0]));
          // android için file path
          isAndroid ? console.log("android sistem") : console.log("ios sistem");

          this.photo = selection[0];
          this.photoPath = selection[0].android.toString();
          this.fileName = this.photoPath.split(/(\\|\/)/g).pop();
          // selection[0].options.width = this.previewSize;
          // selection[0].options.height = this.previewSize;
          const imageSourceInsideFunction = ImageSource.fromFileSync(
            this.photo._android
          );
          const resizedImage = imageSourceInsideFunction.resize(600);
          this.photo = resizedImage;
          const resizedFileName: string = this.finalFileName;

          let resizedImageFolder = this.photoPath
            .split(/(\\|\/)/g)
            .slice(0, -1)
            .join("");
          this.photoPath = resizedImageFolder + resizedFileName;
          this.fileName = resizedFileName;
        })
        .catch((err) => {
          console.log("Error -> " + err.message);
          alert("seçim: " + err);
        });
    },
    uploadToServer() {
      /* console.log("this.photoPath :>> ", this.photoPath);
      console.log("this.photo :>> ", this.photo);
      console.log("this.fileName :>> ", this.fileName); */
      const form = new HTTPFormData();
      const imageFile: File = File.fromPath(this.photoPath);
      const binarySource = imageFile.readSync();
      const formFile = new HTTPFormDataEntry(
        binarySource,
        this.fileName,
        "image/jpeg"
      );
      const jwt = ApplicationSettings.getString("token");
      form.append("files", formFile);
      request({
        url: config.BACKEND + "/upload",
        method: "POST",
        headers: { Authorization: "Bearer " + jwt },
        content: form,
      }).then(
        (response) => {
          /* console.log("response :>> ", response);
          console.log("response FOTO ID :>> ", response.content.toJSON()[0].id);
          console.log(
            "response thumb url :>> ",
            response.content.toJSON()[0].formats.thumbnail.url
          ); */

          const fotoID = response.content.toJSON()[0].id;
          this.updatePhotoOfBird(fotoID);
        },
        (e) => {
          console.log("e :>> ", e);
          alert(e);
        }
      );
    },
    updatePhotoOfBird(fotoID) {
      /* console.log("this.birdID :>> ", this.birdID);
      console.log("fotoID :>> ", fotoID); */
      apolloClient
        .mutate({
          // Query
          mutation: mutations.ADD_PHOTO,
          // Parameters
          variables: {
            birdID: this.birdID,
            fotoID: fotoID,
          },
        })
        .then((data) => {
          this.gotoShowMyBird(this.birdID);
        })
        .catch((error) => {
          // Error
          console.error(error);
          alert(error);
        });
    },
    finalFileName(source: string) {
      return (
        "u" +
        this.userId +
        "-b" +
        this.birdID +
        "-" +
        this.today +
        "-" +
        source +
        ".jpeg"
      );
    },
  },
  mounted() {
    requestPermissions().then(
      //request permissions for camera
      (success) => {
        //have permissions
        console.log("we have permission");
      },
      (failure) => {
        //no permissions for camera
        console.log("we DONT have permission");
      }
    );
  },
};
</script>

<style lang="scss" scoped></style>
