<template>
  <Page>
    <ActionBar :class="'y' + [bird.bilezikYili]">
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          :class="'fas y' + [bird.bilezikYili]"
          fontSize="18"
        />
        <Label
          :class="'y' + [bird.bilezikYili]"
          text="Yeni Kuş Ekleme"
          col="1"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout
        ~mainContent
        rows="*,70"
        columns="*"
        :class="'y' + [bird.bilezikYili]"
      >
        <android>
          <RadDataForm
            row="0"
            :source="bird"
            :metadata="birdMetadata"
            :groups="groups"
            :class="'y' + [bird.bilezikYili]"
          >
          </RadDataForm>
        </android>
        <ios>
          <RadDataForm
            row="0"
            :source="bird"
            :metadata="birdMetadata"
            :groups="groups"
            class="fon"
          >
          </RadDataForm>
        </ios>
        <Button
          text="Yeni Güvercin Ekle"
          @tap="createBird"
          row="1"
          class="-outline"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import { PropertyGroup, GroupTitleStyle } from "nativescript-ui-dataform";
import { ApplicationSettings } from "@nativescript/core";
import * as mutations from "@/graphql/mutations";
import * as queries from "@/graphql/queries";
import { apolloClient } from "@/main";
import { showToast, navMixin, alert } from "@/helpers/ui";
import { formatISO } from "date-fns";
interface MyBirdObject {
  bilezik: string;
  user: string;
  isim: string;
  Dogum_Tarihi: string;
  Cinsiyet: string;
  Tepe: string;
  Turu: string;
  Sag_Kuyruk: number | null;
  Sol_Kuyruk: number | null;
  Atlama: boolean;
  Notlar: string;
}

const sexEnumeration = [
  { label: "Bebek", db: "bebek" },
  { label: "Erkek", db: "erkek" },
  { label: "Dişi", db: "disi" },
];
const tepeEnumeration = [
  { label: "Düz", db: "duz" },
  { label: "Kepez", db: "tepeli" },
];
const turuEnumeration = [
  { label: "Kürenk", db: "kurenk" },
  { label: "Miski", db: "miski" },
  { label: "Arap", db: "arap" },
  { label: "Çakmaklı", db: "cakmakli" },
  { label: "Çil", db: "cil" },
  { label: "Abalı Miski", db: "abali_miski" },
  { label: "Abalı Çakmaklı", db: "abali_cakmakli" },
];
const dateOfToday = formatISO(new Date(), { representation: "date" });
export default {
  data() {
    return {
      userID: ApplicationSettings.getNumber("userID"),
      userData: JSON.parse(ApplicationSettings.getString("userData")),
      bird: {
        isim: "",
        kusSiraNo: null,
        bilezikYili: 2020,
        Dogum_Tarihi: dateOfToday,
        Cinsiyet: "Bebek",
        Tepe: "Düz",
        Turu: "Kürenk",
        Sag_Kuyruk: 0,
        Sol_Kuyruk: 0,
        Atlama: false,
        Notlar: "",
      },
      groups: [
        Object.assign(new PropertyGroup(), {
          name: "Aynalı Kuyruk",
          index: 8,
          collapsible: true,
          collapsed: false,
          titleStyle: Object.assign(new GroupTitleStyle(), {
            fillColor: "#FFFFFF",
            labelTextColor: "#4A6A9D",
            strokeWidth: 1,
            strokeColor: "#B8EBDA",
            separatorColor: "#C8E75B",
            labelTextSize: 22,
          }),
        }),
      ],
      birdMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "isim",
            index: 1,
            displayName: "Güvercine Verdiğiniz İsim",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 24,
                  errorMessage: "İsim 24 karakterden daha uzun olamaz",
                },
              },
            ],
          },
          {
            name: "kusSiraNo",
            index: 2,
            displayName: "Kuş Sıra no",
            editor: "Number",
            validators: [
              {
                name: "NonEmptyValidator",
                params: {
                  errorMessage: "Kuş sıra no boş geçilemez",
                },
              },
              {
                name: "RangeValidator",
                params: {
                  minimum: 1,
                  maximum: 999,
                  errorMessage: "Kuş sıra no 1 ile 999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "Dogum_Tarihi",
            index: 3,
            displayName: "Doğum Tarihi",
            editor: "DatePicker",
          },
          {
            name: "bilezikYili",
            index: 4,
            displayName: "Bilezik Yılı",
            editor: "Stepper",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 2009,
                  maximum: 2090,
                  errorMessage: "Bilezik yılı 2009 ile 2090 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "Cinsiyet",
            index: 5,
            editor: "SegmentedEditor",
            valuesProvider: sexEnumeration.map((value) => value.label),
          },
          {
            name: "Tepe",
            index: 6,
            editor: "SegmentedEditor",
            valuesProvider: tepeEnumeration.map((value) => value.label),
          },
          {
            name: "Turu",
            index: 7,
            displayName: "Türü",
            editor: "Picker",
            valuesProvider: [
              "Kürenk",
              "Miski",
              "Arap",
              "Çakmaklı",
              "Çil",
              "Abalı Miski",
              "Abalı Çakmaklı",
            ],
          },
          {
            name: "Sag_Kuyruk",
            index: 9,
            groupName: "Aynalı Kuyruk",
            displayName: "Sağ Kuyruk",
            editor: "Stepper",
            editorParams: {
              minimum: 0,
              maximum: 11,
            },
          },
          {
            name: "Sol_Kuyruk",
            index: 10,
            groupName: "Aynalı Kuyruk",
            displayName: "Sol Kuyruk",
            editor: "Stepper",
            editorParams: {
              minimum: 0,
              maximum: 11,
            },
          },
          {
            name: "Atlama",
            index: 11,
            groupName: "Aynalı Kuyruk",
            displayName: "Atlama",
            editor: "Switch",
          },
          {
            name: "Notlar",
            index: 12,
          },
        ],
      },
    };
  },
  mixins: [navMixin],

  methods: {
    createBird() {
      const memberPortion: string =
        this.userData.Kulup_Uye_No > 0
          ? "K" + this.userData.Kulup_Uye_No
          : this.userData.Uye_No;

      const bilezikNo: string =
        this.userData.Ulke_Kodu +
        "-" +
        this.userData.Plaka_Kodu +
        "-" +
        memberPortion +
        "-" +
        this.bird.kusSiraNo +
        "-" +
        this.bird.bilezikYili;

      if (!this.bird.kusSiraNo) {
        alert("Form doldururken Hata", "Lütfen Kuş Sıra no doldurunuz");
        return;
      }
      if (this.bird.kusSiraNo > 999) {
        alert("Form doldururken Hata", "Kuş Sıra no 999'dan büyük olamaz");
        return;
      }

      const { db: cinsiyetWord } = sexEnumeration.find(
        ({ label }) => label == this.bird.Cinsiyet
      );
      const { db: tepeWord } = tepeEnumeration.find(
        ({ label }) => label == this.bird.Tepe
      );

      if (this.bird.Turu == "Kürenk" || this.bird.Turu == 0) {
        var turuWord = "kurenk";
      } else if (typeof this.bird.Turu == "number") {
        // console.log("this.bird.Turu :>> ", this.bird.Turu);
        var { db: turuWord } = turuEnumeration[this.bird.Turu];
      } else {
        // console.log("this.bird.Turu :>> ", this.bird.Turu);
        var { db: turuWord } = turuEnumeration.find(
          ({ label }) => label == this.bird.Turu
        );
      }

      function convertToNull(number: number) {
        return number == 0 ? null : number;
      }

      const myBirdData: MyBirdObject = {
        bilezik: bilezikNo,
        user: this.userID,
        isim: this.bird.isim,
        Dogum_Tarihi: this.bird.Dogum_Tarihi,
        Cinsiyet: cinsiyetWord,
        Tepe: tepeWord,
        Turu: turuWord,
        Sag_Kuyruk: convertToNull(this.bird.Sag_Kuyruk),
        Sol_Kuyruk: convertToNull(this.bird.Sol_Kuyruk),
        Atlama: this.bird.Atlama,
        Notlar: this.bird.Notlar,
      };
      // console.log("gönderilecekler", myBirdData);
      this.createBirdMutationThenUpdateStore(myBirdData);
    },
    createBirdMutationThenUpdateStore(birdData: MyBirdObject) {
      // console.log("birdData.bilezik :>> ", birdData.bilezik);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.CREATE_BIRD,
          // Parameters
          variables: birdData,
          update: (store, { data }) => {},
        })
        .then((data) => {
          this.gotoShowMyBird(data.data.createBird.bird.id);
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("bilezik no : " + birdData.bilezik + " Zaten kayıtlı");
        });
    },
  },
  computed: {
    name() {
      return this.data;
    },
  },
};
</script>

<style lang="scss" >
.y2012 {
  background-color: #0000ff;
  color: #ffffff;
}
.y2013 {
  background-color: #808080;
  color: #ffffff;
}
.y2014 {
  background-color: #ff0000;
  color: #b8ebda;
}
.y2015 {
  background-color: #008000;
  color: #ffffff;
}
.y2016 {
  background-color: #000000;
  color: #ffffff;
}
.y2017 {
  background-color: #ffff00;
  color: #4a6a9d;
}
.y2018 {
  background-color: #800080;
  color: #ffffff;
}
.y2019 {
  background-color: #a52a2a;
  color: #ffffff;
}
.y2020 {
  background-color: #0000c5;
  color: #ffffff;
}
</style>
