<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Sisteme Yeni Kuş Ekleme" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout
        ~mainContent
        rows="auto,*,auto,80,80"
        columns="*"
        class="docs"
      >
        <Label
          row="0"
          text=""
          textWrap="true"
          fontSize="30"
          class="fas text-center m-t-5"
        />

        <StackLayout row="1" class="text-center m-30 zoomIn">
          <Label
            text="Kuşlarınızın arasına eklemek istediğiniz güvercinin bilezik numarası"
            textWrap="true"
            class="h3"
          />
          <Label text="" class="fas" fontSize="26" />

          <Label
            text="sizin üzerinize mi kayıtlı?"
            textWrap="true"
            class="font-weight-bold h2 m-y-10"
          />
        </StackLayout>
        <Label
          row="2"
          text="Eklemek istediğim kuş"
          textWrap="true"
          class="h3 text-center"
        />
        <Button
          row="3"
          text="Yabancı Bilezikli"
          @tap="gotoCreateForeignBird()"
        />
        <Button
          row="4"
          text="Kendime ait Bilezikli"
          @tap="gotoCreateMyBird()"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import { navMixin } from "@/helpers/ui";

export default {
  mixins: [navMixin],
};
</script>
<style lang="scss" scoped>
</style>