<template>
  <Page>
    <ActionBar :class="'y' + [bird.bilezikYili]">
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          :class="'fas y' + [bird.bilezikYili]"
          fontSize="18"
        />
        <Label
          :class="'y' + [bird.bilezikYili]"
          text="Yabancı Bilezikli Yeni Kuş Ekleme"
          col="1"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout
        ~mainContent
        rows="auto,*,70"
        columns="*"
        :class="'y' + [bird.bilezikYili]"
        color="#FFFFFF"
      >
        <Label
          row="0"
          text="Sistemde Var Olmayan Kuşlar İçin"
          textWrap="true"
          class="h3 text-center"
          :class="'y' + [bird.bilezikYili]"
        />
        <android>
          <RadDataForm
            row="1"
            :source="bird"
            :metadata="birdMetadata"
            :groups="groups"
            :class="'y' + [bird.bilezikYili]"
          ></RadDataForm>
        </android>
        <ios>
          <RadDataForm
            row="1"
            :source="bird"
            :metadata="birdMetadata"
            :groups="groups"
            class="fon"
          ></RadDataForm>
        </ios>
        <Button
          text="Yeni Güvercin Ekle"
          @tap="createBird"
          row="2"
          class="-outline"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import { PropertyGroup, GroupTitleStyle } from "nativescript-ui-dataform";
import { ApplicationSettings } from "@nativescript/core";
import * as mutations from "@/graphql/mutations";
import * as queries from "@/graphql/queries";
import { apolloClient } from "@/main";
import { showToast, alert } from "@/helpers/ui";
import { formatISO } from "date-fns";
import routes from "@/routes";

const sexEnumeration = [
  { label: "Bebek", db: "bebek" },
  { label: "Erkek", db: "erkek" },
  { label: "Dişi", db: "disi" },
];
const tepeEnumeration = [
  { label: "Düz", db: "duz" },
  { label: "Kepez", db: "tepeli" },
];
const turuEnumeration = [
  { label: "Kürenk", db: "kurenk" },
  { label: "Miski", db: "miski" },
  { label: "Arap", db: "arap" },
  { label: "Çakmaklı", db: "cakmakli" },
  { label: "Çil", db: "cil" },
  { label: "Abalı Miski", db: "abali_miski" },
  { label: "Abalı Çakmaklı", db: "abali_cakmakli" },
];
const dateOfToday = formatISO(new Date(), { representation: "date" });

export default {
  data() {
    return {
      userID: ApplicationSettings.getNumber("userID"),
      userData: JSON.parse(ApplicationSettings.getString("userData")),
      bird: {
        isim: "",
        Ulke_Kodu: "TR",
        Plaka_Kodu: null,
        Uye_No: null,
        Kulup_Uye_No: null,
        kusSiraNo: null,
        bilezikYili: 2020,
        Dogum_Tarihi: dateOfToday,
        Cinsiyet: "Bebek",
        Tepe: "Düz",
        Turu: "Kürenk",
        Sag_Kuyruk: 0,
        Sol_Kuyruk: 0,
        Atlama: false,
        Notlar: "",
      },
      birdMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "isim",
            displayName: "İlk Sahibinin Verdiği İsim",
            index: 1,
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 24,
                  errorMessage: "İsim 24 karakterden daha uzun olamaz",
                },
              },
            ],
          },
          {
            name: "Ulke_Kodu",
            displayName: "İlk Sahibinin Ülke Kodu",
            index: 2,
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 2,
                  errorMessage: "Ülke Kodu 2 karakterden daha uzun olamaz",
                },
              },
            ],
          },
          {
            name: "Plaka_Kodu",
            displayName: "İlk Sahibinin Plaka Kodu",
            index: 3,
            validators: [
              {
                name: "NonEmptyValidator",
                params: {
                  errorMessage: "Plaka Kodu boş geçilemez",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 2,
                  errorMessage:
                    "Plaka Kodu 2 karakterden daha kısa olamaz başına 0 koyunuz",
                },
              },
              {
                name: "MaximumLength",
                params: {
                  length: 3,
                  errorMessage: "Plaka Kodu 3 karakterden daha uzun olamaz",
                },
              },
            ],
          },
          {
            name: "Uye_No",
            displayName: "Varsa Federasyon Üye No",
            index: 4,
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 1,
                  maximum: 9999,
                  errorMessage: "Üye No 1 ile 9999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "Kulup_Uye_No",
            displayName: "Varsa Kulüp Üye No",
            index: 4,
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 1,
                  maximum: 9999,
                  errorMessage: "Üye No 1 ile 9999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "kusSiraNo",
            displayName: "İlk Sahibinin Verdiği Kuş Sıra no",
            index: 5,
            editor: "Number",
            validators: [
              {
                name: "NonEmptyValidator",
                params: {
                  errorMessage: "Kuş sıra no boş geçilemez",
                },
              },
              {
                name: "RangeValidator",
                params: {
                  minimum: 1,
                  maximum: 999,
                  errorMessage: "Kuş sıra no 1 ile 999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "Dogum_Tarihi",
            displayName: "Doğum Tarihi",
            index: 6,
            editor: "DatePicker",
          },
          {
            name: "bilezikYili",
            displayName: "Bilezik Yılı",
            index: 7,
            editor: "Stepper",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 2009,
                  maximum: 2090,
                  errorMessage: "Bilezik yılı 2009 ile 2090 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "Cinsiyet",
            editor: "SegmentedEditor",
            index: 8,
            valuesProvider: ["Bebek", "Erkek", "Dişi"],
          },
          {
            name: "Tepe",
            editor: "SegmentedEditor",
            index: 9,
            valuesProvider: ["Düz", "Kepez"],
          },
          {
            name: "Turu",
            displayName: "Türü",
            index: 10,
            editor: "Picker",
            valuesProvider: [
              "Kürenk",
              "Miski",
              "Arap",
              "Çakmaklı",
              "Çil",
              "Abalı Miski",
              "Abalı Çakmaklı",
            ],
          },
          {
            name: "Sag_Kuyruk",
            index: 12,
            groupName: "Aynalı Kuyruk",
            displayName: "Sağ Kuyruk",
            editor: "Stepper",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 0,
                  maximum: 11,
                  errorMessage: "Sağ Kuyruk 0 ile 11 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "Sol_Kuyruk",
            index: 13,
            groupName: "Aynalı Kuyruk",
            displayName: "Sol Kuyruk",
            editor: "Stepper",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 0,
                  maximum: 11,
                  errorMessage: "Sol Kuyruk 0 ile 11 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "Atlama",
            index: 14,
            groupName: "Aynalı Kuyruk",
            displayName: "Atlama",
            editor: "Switch",
          },
          {
            name: "Notlar",
            index: 15,
          },
        ],
      },
      groups: [
        Object.assign(new PropertyGroup(), {
          name: "Aynalı Kuyruk",
          index: 11,
          collapsible: true,
          collapsed: false,
          titleStyle: Object.assign(new GroupTitleStyle(), {
            fillColor: "#FFFFFF",
            labelTextColor: "#4A6A9D",
            strokeWidth: 1,
            strokeColor: "#B8EBDA",
            separatorColor: "#C8E75B",
            labelTextSize: 22,
          }),
        }),
      ],
    };
  },
  methods: {
    createBird() {
      //console.log("userID :>> ", this.userID);
      const memberPortion: string =
        this.bird.Kulup_Uye_No > 0
          ? "K" + this.bird.Kulup_Uye_No
          : this.bird.Uye_No;
      const bilezikNo =
        this.bird.Ulke_Kodu +
        "-" +
        this.bird.Plaka_Kodu +
        "-" +
        memberPortion +
        "-" +
        this.bird.kusSiraNo +
        "-" +
        this.bird.bilezikYili;

      if (
        !this.bird.kusSiraNo ||
        (!(this.bird.Uye_No > 0) && !(this.bird.Kulup_Uye_No > 0)) ||
        !this.bird.Plaka_Kodu
      ) {
        alert(
          "Form doldururken Hata",
          "Lütfen bilezik için gerekli bilgileri tam doldurunuz"
        );

        return;
      }
      if (this.bird.Dogum_Tarihi > dateOfToday) {
        alert("Form doldururken Hata", "Doğum Tarihi İLERİ BİR TARİH olamaz");
        return;
      }
      const { db: cinsiyetWord } = sexEnumeration.find(
        ({ label }) => label == this.bird.Cinsiyet
      );
      const { db: tepeWord } = tepeEnumeration.find(
        ({ label }) => label == this.bird.Tepe
      );

      if (this.bird.Turu == "Kürenk" || this.bird.Turu == 0) {
        var turuWord = "kurenk";
      } else if (typeof this.bird.Turu == "number") {
        // console.log("this.bird.Turu :>> ", this.bird.Turu);
        var { db: turuWord } = turuEnumeration[this.bird.Turu];
      } else {
        // console.log("this.bird.Turu :>> ", this.bird.Turu);
        var { db: turuWord } = turuEnumeration.find(
          ({ label }) => label == this.bird.Turu
        );
      }

      function convertToNull(number: Number) {
        return number == 0 ? null : number;
      }

      const stuffToSend = {
        bilezik: bilezikNo,
        user: this.userID,
        isim: this.bird.isim,
        Dogum_Tarihi: this.bird.Dogum_Tarihi,
        Cinsiyet: cinsiyetWord,
        Tepe: tepeWord,
        Turu: turuWord,
        Sag_Kuyruk: convertToNull(this.bird.Sag_Kuyruk),
        Sol_Kuyruk: convertToNull(this.bird.Sol_Kuyruk),
        Atlama: this.bird.Atlama,
        Notlar: this.bird.Notlar,
      };
      // console.log("gönderilecekler", stuffToSend);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.CREATE_BIRD,
          // Parameters
          variables: {
            bilezik: bilezikNo,
            user: this.userID,
            isim: this.bird.isim,
            Dogum_Tarihi: this.bird.Dogum_Tarihi,
            Cinsiyet: cinsiyetWord,
            Tepe: tepeWord,
            Turu: turuWord,
            Sag_Kuyruk: convertToNull(this.bird.Sag_Kuyruk),
            Sol_Kuyruk: convertToNull(this.bird.Sol_Kuyruk),
            Atlama: this.bird.Atlama,
            Notlar: this.bird.Notlar,
          },
          update: (store, { data }) => {},
        })
        .then((data) => {
          this.$navigateTo(routes.showMyBird, {
            props: {
              birdID: data.data.createBird.bird.id,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
          showToast("bilezik no : " + bilezikNo);
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("bilezik no : " + bilezikNo + " Zaten kayıtlı");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/app.scss";

.y2012 {
  background-color: #0000ff;
  color: #ffffff;
}
.y2013 {
  background-color: #808080;
  color: #ffffff;
}
.y2014 {
  background-color: #9c0b0b;
  color: $yesilTurkuaz;
}
.y2015 {
  background-color: #008000;
  color: #ffffff;
}
.y2016 {
  background-color: #000000;
  color: #ffffff;
}
.y2017 {
  background-color: #ffff00;
  color: $lacivert;
}
.y2018 {
  background-color: #800080;
  color: #ffffff;
}
.y2019 {
  background-color: #a52a2a;
  color: #ffffff;
}
.y2020 {
  background-color: #3636c5;
  color: #ffffff;
}
</style>
