<template>
  <Page>
    <ActionBar> </ActionBar>

    <RadDataForm row="0" :source="bird" :metadata="birdMetadata" >
    </RadDataForm>
  </Page>
</template>

<script lang="ts">
import { ApplicationSettings } from "@nativescript/core";
import * as mutations from "@/graphql/mutations";
import { apolloClient } from "@/main";
import { showToast, navMixin, alert } from "@/helpers/ui";
import { formatISO } from "date-fns";
interface MyBirdObject {
  bilezik: string;
  user: string;
  isim: string;
  Dogum_Tarihi: string;
  Cinsiyet: string;
  Tepe: string;
  Turu: string;
  Sag_Kuyruk: number | null;
  Sol_Kuyruk: number | null;
  Atlama: boolean;
  Notlar: string;
}
const sexEnumeration = [
  { label: "Bebek", db: "bebek" },
  { label: "Erkek", db: "erkek" },
  { label: "Dişi", db: "disi" },
];
const tepeEnumeration = [
  { label: "Düz", db: "duz" },
  { label: "Kepez", db: "tepeli" },
];
const turuEnumeration = [
  { label: "Kürenk", db: "kurenk" },
  { label: "Miski", db: "miski" },
  { label: "Arap", db: "arap" },
  { label: "Çakmaklı", db: "cakmakli" },
  { label: "Çil", db: "cil" },
  { label: "Abalı Miski", db: "abali_miski" },
  { label: "Abalı Çakmaklı", db: "abali_cakmakli" },
];
const dateOfToday = formatISO(new Date(), { representation: "date" });
export default {
  data() {
    return {
      userID: ApplicationSettings.getNumber("userID"),
      userData: JSON.parse(ApplicationSettings.getString("userData")),
      bird: {
        isim: "",
        Dogum_Tarihi: dateOfToday,
        sex: "man",
        number: 0,
        exists: false,
      },
      birdMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "isim",
            index: 0,
            displayName: "name",
          },
          {
            name: "Dogum_Tarihi",
            displayName: "birth date",
            editor: "DatePicker",
          },
        ],
      },
    };
  },
  mixins: [navMixin],
  methods: {
    createBird() {
      const memberPortion: string =
        this.userData.Kulup_Uye_No > 0
          ? "K" + this.userData.Kulup_Uye_No
          : this.userData.Uye_No;

      const bilezikNo: string =
        this.userData.Ulke_Kodu +
        "-" +
        this.userData.Plaka_Kodu +
        "-" +
        memberPortion +
        "-" +
        this.bird.kusSiraNo +
        "-" +
        this.bird.bilezikYili;

      if (!this.bird.kusSiraNo) {
        alert("Form doldururken Hata", "Lütfen Kuş Sıra no doldurunuz");
        return;
      }
      if (this.bird.kusSiraNo > 999) {
        alert("Form doldururken Hata", "Kuş Sıra no 999'dan büyük olamaz");
        return;
      }

      const { db: cinsiyetWord } = sexEnumeration.find(
        ({ label }) => label == this.bird.Cinsiyet
      );
      const { db: tepeWord } = tepeEnumeration.find(
        ({ label }) => label == this.bird.Tepe
      );

      if (this.bird.Turu == "Kürenk" || this.bird.Turu == 0) {
        var turuWord = "kurenk";
      } else if (typeof this.bird.Turu == "number") {
        // console.log("this.bird.Turu :>> ", this.bird.Turu);
        var { db: turuWord } = turuEnumeration[this.bird.Turu];
      } else {
        // console.log("this.bird.Turu :>> ", this.bird.Turu);
        var { db: turuWord } = turuEnumeration.find(
          ({ label }) => label == this.bird.Turu
        );
      }

      function convertToNull(number: number) {
        return number == 0 ? null : number;
      }

      const myBirdData: MyBirdObject = {
        bilezik: bilezikNo,
        user: this.userID,
        isim: this.bird.isim,
        Dogum_Tarihi: this.bird.Dogum_Tarihi,
        Cinsiyet: cinsiyetWord,
        Tepe: tepeWord,
        Turu: turuWord,
        Sag_Kuyruk: convertToNull(this.bird.Sag_Kuyruk),
        Sol_Kuyruk: convertToNull(this.bird.Sol_Kuyruk),
        Atlama: this.bird.Atlama,
        Notlar: this.bird.Notlar,
      };
      // console.log("gönderilecekler", myBirdData);
      this.createMutationThenUpdateStore(myBirdData);
    },
    createMutationThenUpdateStore(birdData: MyBirdObject) {
      // console.log("birdData.bilezik :>> ", birdData.bilezik);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.CREATE_BIRD,
          // Parameters
          variables: birdData,
          update: (store, { data }) => {},
        })
        .then((data) => {
          this.gotoShowMyBird(data.data.createBird.bird.id);
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("bilezik no : " + birdData.bilezik + " Zaten kayıtlı");
        });
    },
  },
  computed: {
    name() {
      return this.data;
    },
  },
};
</script>
