<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Ölüm" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <ScrollView ~mainContent>
        <Label v-if="$apollo.loading" text="Yükleniyor ... " textWrap="true" />
        <GridLayout v-else rows="*" columns="*">
          <Label text="Kuş Kaldırma" textWrap="true" />
        </GridLayout>
      </ScrollView>
    </RadSideDrawer>
  </Page>
</template> <script lang="ts">
export default {};
</script> <style lang="scss" scoped></style>

