<template>
  <Page>
    <ActionBar :class="'y' + [bird.bilezikYili]">
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          :class="'fas y' + [bird.bilezikYili]"
          fontSize="18"
        />
        <Label :class="'y' + [bird.bilezikYili]" text="Düzenleme" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout
        ~mainContent
        rows="*,60"
        columns="*"
        :class="'y' + [bird.bilezikYili]"
      >
        <RadDataForm
          row="0"
          :source="bird"
          :metadata="birdMetadata"
          :groups="groups"
          :class="'y' + [bird.bilezikYili]"
          class="fon"
          @propertyValidated="onPropertyValidated"
        >
        </RadDataForm>
        <Button text="Güncelle" @tap="updateBird" row="1" class="p-5" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import { PropertyGroup, GroupTitleStyle } from "nativescript-ui-dataform";
import { ApplicationSettings } from "@nativescript/core";
import { isIOS } from "@nativescript/core/platform";
import * as mutations from "@/graphql/mutations";
import * as queries from "@/graphql/queries";
import { apolloClient } from "@/main";
import { showToast } from "@/helpers/ui";
import { formatISO } from "date-fns";
import routes from "@/routes";
import { deburr, lowerCase } from "lodash";

const sexEnumeration = [
  { label: "Bebek", db: "bebek" },
  { label: "Erkek", db: "erkek" },
  { label: "Dişi", db: "disi" },
];
const tepeEnumeration = [
  { label: "Düz", db: "duz" },
  { label: "Kepez", db: "tepeli" },
];
const turuEnumeration = [
  { label: "Kürenk", db: "kurenk" },
  { label: "Miski", db: "miski" },
  { label: "Arap", db: "arap" },
  { label: "Çakmaklı", db: "cakmakli" },
  { label: "Çil", db: "cil" },
  { label: "Abalı Miski", db: "abali_miski" },
  { label: "Abalı Çakmaklı", db: "abali_cakmakli" },
];
const sexEnumerationMap = new Map(
  sexEnumeration.map((item) => [item.db, item])
);
const tepeEnumerationMap = new Map(
  tepeEnumeration.map((item) => [item.db, item])
);

const turuEnumerationMap = new Map(
  turuEnumeration.map((item) => [item.db, item])
);
// ios asks for index instead of db value
function turuAccordingToOS(incomingTuru) {
  if (isIOS) {
    let turuWord = turuEnumeration.findIndex(({ db }) => db == incomingTuru);
    return turuWord;
  } else {
    let { label: turuWord } = turuEnumeration.find(
      ({ db }) => db == incomingTuru
    );
    return turuWord;
  }
}

export default {
  props: {
    birdID: [Number, String],
    isim: String,
    Dogum_Tarihi: String,
    Cinsiyet: null,
    Tepe: String,
    Turu: String,
    Sag_Kuyruk: Number,
    Sol_Kuyruk: Number,
    Atlama: Boolean,
    Notlar: String,
    Canli: Boolean,
  },
  data() {
    return {
      userData: JSON.parse(ApplicationSettings.getString("userData")),
      validated: false,
      bird: {
        isim: this.$props.isim,
        Dogum_Tarihi: this.$props.Dogum_Tarihi,
        Cinsiyet: sexEnumerationMap.get(this.$props.Cinsiyet).label,
        Tepe: tepeEnumerationMap.get(this.$props.Tepe).label,
        Turu: turuAccordingToOS(this.$props.Turu),
        Sag_Kuyruk: this.$props.Sag_Kuyruk ? this.$props.Sag_Kuyruk : 0,
        Sol_Kuyruk: this.$props.Sol_Kuyruk ? this.$props.Sol_Kuyruk : 0,
        Atlama: this.$props.Atlama,
        Notlar: this.$props.Notlar,
        Canli: this.$props.Canli,
      },
      groups: [
        Object.assign(new PropertyGroup(), {
          name: "Aynalı Kuyruk",
          index: 6,
          collapsible: true,
          collapsed: false,
          titleStyle: Object.assign(new GroupTitleStyle(), {
            fillColor: "#FFFFFF",
            labelTextColor: "#4A6A9D",
            strokeWidth: 1,
            strokeColor: "#B8EBDA",
            separatorColor: "#C8E75B",
            labelTextSize: 22,
          }),
        }),
      ],
      birdMetadata: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "Immediate",
        propertyAnnotations: [
          {
            name: "isim",
            displayName: "İsim",
            index: 1,
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 24,
                  errorMessage: "İsim 24 karakterden daha uzun olamaz",
                },
              },
            ],
          },

          {
            name: "Dogum_Tarihi",
            displayName: "Doğum Tarihi",
            index: 2,
            editor: "DatePicker",
          },

          {
            name: "Cinsiyet",
            editor: "SegmentedEditor",
            index: 3,
            valuesProvider: ["Bebek", "Erkek", "Dişi"],
          },
          {
            name: "Tepe",
            index: 4,
            editor: "SegmentedEditor",
            valuesProvider: ["Düz", "Kepez"],
          },
          {
            name: "Turu",
            displayName: "Türü",
            index: 5,
            editor: "Picker",
            valuesProvider: [
              "Kürenk",
              "Miski",
              "Arap",
              "Çakmaklı",
              "Çil",
              "Abalı Miski",
              "Abalı Çakmaklı",
            ],
          },
          {
            name: "Sag_Kuyruk",
            index: 7,
            groupName: "Aynalı Kuyruk",
            displayName: "Sağ Kuyruk",
            editor: "Stepper",
          },
          {
            name: "Sol_Kuyruk",
            index: 8,
            groupName: "Aynalı Kuyruk",
            displayName: "Sol Kuyruk",
            editor: "Stepper",
            editorParams: {
              minimum: 0,
              maximum: 11,
            },
          },
          {
            name: "Atlama",
            index: 9,
            groupName: "Aynalı Kuyruk",
            displayName: "Atlama",
            editor: "Switch",
          },
          {
            name: "Notlar",
            index: 10,
          },
          {
            name: "Canli",
            index: 11,
            displayName: "Canlı",
          },
        ],
      },
    };
  },
  methods: {
    onPropertyValidated({ object, propertyName, entityProperty }) {
      this.validated = true;
    },
    async updateBird() {
      // necessery for ios
      if (this.bird.Turu == "Kürenk" || this.bird.Turu == 0) {
        var turuWord = "kurenk";
      } else if (typeof this.bird.Turu == "number") {
        var { db: turuWord } = turuEnumeration[this.bird.Turu];
      } else {
        var { db: turuWord } = turuEnumeration.find(
          ({ label }) => label == this.bird.Turu
        );
      }
      function convertToNull(number: number) {
        return number == 0 ? null : number;
      }

      await apolloClient
        .mutate({
          // Query
          mutation: mutations.EDIT_BIRD,
          // Parameters
          variables: {
            birdID: this.birdID,
            isim: this.bird.isim,
            Dogum_Tarihi: this.bird.Dogum_Tarihi,
            Cinsiyet: lowerCase(deburr(this.bird.Cinsiyet)),
            Tepe: this.bird.Tepe == "Kepez" ? "tepeli" : "duz",
            Turu: turuWord,
            Sag_Kuyruk: convertToNull(this.bird.Sag_Kuyruk),
            Sol_Kuyruk: convertToNull(this.bird.Sol_Kuyruk),
            Atlama: this.bird.Atlama,
            Notlar: this.bird.Notlar,
            Canli: this.bird.Canli,
          },
        })
        .then((data) => {
          this.$navigateTo(routes.showMyBird, {
            props: {
              birdID: data.data.updateBird.bird.id,
            },
            // clearHistory: true,
            animated: true,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("Malesef Kayıt hata verdi");
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~/app.scss";
PropertyEditor {
  margin: 5 15;
  background-color: transparent;
  border-color: darken($pembe, 33);
  border-width: 1;
  border-radius: 5;
}

DataFormEditorLabel {
  font-size: 18;
  text-align: center;
  margin-bottom: 1;
  color: $magenta;
}
DataFormEditorCore {
  background-color: transparent;
  color: $magenta;
  font-size: 16;
  margin-bottom: 15;
}

.y2012 {
  background-color: #0000ff;
  color: $beyaz;
}
.y2013 {
  background-color: #808080;
  color: $beyaz;
}
.y2014 {
  background-color: #ff0000;
  color: $yesilTurkuaz;
}
.y2015 {
  background-color: #008000;
  color: $beyaz;
}
.y2016 {
  background-color: #000000;
  color: $beyaz;
}
.y2017 {
  background-color: #ffff00;
  color: $lacivert;
}
.y2018 {
  background-color: #800080;
  color: $beyaz;
}
.y2019 {
  background-color: #a52a2a;
  color: $beyaz;
}
.y2020 {
  background-color: #000080;
  color: $beyaz;
}
</style>
