<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="50, *,30">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          text="Güvercinlerim"
          col="1"
          @swipe="refresh"
        />
        <Label text="" col="2" class="fas" fontSize="18" @tap="refresh" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*" columns="*" class="list-bg">
        <ActivityIndicator v-if="$apollo.loading" row="1" busy="true" />
        <GridLayout v-else columns="*" rows="35,*" class="list-bg">
          <Button
            v-show="birds.length < 1 && userID !== firstUser"
            text="Yeni Kuş Ekle"
            @tap="gotoCreateBird()"
            row="0"
            rowSpan="2"
            col="0"
          />
          <GridLayout
            rows="35"
            columns="90,*,*"
            row="0"
            col="0"
            class="ana-renk-fon ana-renk"
          >
            <StackLayout orientation="horizontal" col="0" @tap="sortByYear">
              <Label text="Yıl" class="m-5 p-l-5" />
              <Label :text="yearIcon" class="fas p-t-5" fontSize="15" />
            </StackLayout>
            <StackLayout orientation="horizontal" col="1" @tap="sortByIsim">
              <Label text="İsim" class="m-5 p-l-5" />
              <Label :text="isimIcon" class="fas p-t-5" fontSize="15" />
            </StackLayout>
            <StackLayout orientation="horizontal" col="2" @tap="sortByBilezik">
              <Label text="Bilezik" class="m-5 p-l-5" />
              <Label :text="bilezikIcon" class="fas p-t-5" fontSize="15" />
            </StackLayout>
          </GridLayout>
          <ListView for="kus in birds" separatorColor="#C8E75B" row="1" col="0">
            <v-template>
              <GridLayout
                rows="*"
                columns="80,*,*"
                @tap="gotoShowMyBird(kus.id)"
              >
                <Image
                  v-if="kus.Fotograf ? true : false"
                  :src="backend + kus.Fotograf.formats.thumbnail.url"
                  stretch="aspectFill"
                  class="roundedImage"
                  col="0"
                />
                <StackLayout
                  orientation="horizontal"
                  col="1"
                  :class="[kus.Cinsiyet]"
                >
                  <Label
                    :text="sexIcon(kus.Cinsiyet)"
                    textWrap="true"
                    class="fas m-r-10"
                    fontSize="16"
                  />
                  <Label :text="kus.isim" :key="kus.id" />
                </StackLayout>

                <Label :text="kus.bilezik" class="text-left m-y-15" col="2" />
              </GridLayout>
            </v-template>
            <v-template if="$odd">
              <GridLayout
                rows="*"
                columns="80,*,*"
                @tap="gotoShowMyBird(kus.id)"
                class="grifon"
              >
                <Image
                  v-if="kus.Fotograf ? true : false"
                  :src="backend + kus.Fotograf.formats.thumbnail.url"
                  stretch="aspectFill"
                  class="roundedImage"
                  col="0"
                />
                <StackLayout
                  orientation="horizontal"
                  col="1"
                  :class="[kus.Cinsiyet]"
                >
                  <Label
                    :text="sexIcon(kus.Cinsiyet)"
                    textWrap="true"
                    class="fas m-r-10"
                    fontSize="18"
                  />
                  <Label :text="kus.isim" :key="kus.id" />
                </StackLayout>
                <Label :text="kus.bilezik" class="text-left m-y-15" col="2" />
              </GridLayout>
            </v-template>
          </ListView>
        </GridLayout>
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template> 

<script lang="ts">
import * as sorgular from "@/graphql/queries";
import * as config from "@/helpers/config";
import { ApplicationSettings } from "@nativescript/core";
import { vocaMixin, navMixin } from "@/helpers/ui";

export default {
  data() {
    return {
      birds: [],
      backend: config.BACKEND,
      userID: ApplicationSettings.getNumber("userID"),
      sort: "Dogum_Tarihi:DESC",
      yearIcon: ``,
      isimIcon: ``,
      bilezikIcon: ``,
      firstUser: 1,
    };
  },
  mixins: [vocaMixin, navMixin],
  methods: {
    async refresh() {
      await this.$apollo.queries.birds.refetch();
    },
    async sortByYear() {
      if (this.sort == "Dogum_Tarihi:DESC") {
        this.sort = "Dogum_Tarihi";
        this.yearIcon = ``;
      } else {
        this.sort = "Dogum_Tarihi:DESC";
        this.yearIcon = ``;
      }
      await this.$apollo.queries.birds.refetch();
      console.log("this.sort :>> ", this.sort);
    },
    async sortByIsim() {
      if (this.sort == "isim") {
        this.sort = "isim:DESC";
        this.isimIcon = ``;
      } else {
        this.sort = "isim";
        this.isimIcon = ``;
      }
      await this.$apollo.queries.birds.refetch();
      console.log("this.sort :>> ", this.sort);
    },
    async sortByBilezik() {
      if (this.sort == "bilezik") {
        this.sort = "bilezik:DESC";
        this.bilezikIcon = ``;
      } else {
        this.sort = "bilezik";
        this.bilezikIcon = ``;
      }
      await this.$apollo.queries.birds.refetch();
      console.log("this.sort :>> ", this.sort);
    },
  },
  apollo: {
    birds: {
      query: sorgular.MY_ALIVE_BIRDS,
      variables() {
        return { userId: this.userID, sort: this.sort };
      },
    },
  },
};
</script> 

<style lang="scss" scoped>
@import "@/app.scss";
@import "~@/birds.css";
.roundedImage {
  width: 80;
  height: 80;
  border-color: $beyaz;
  border-radius: 22%;
  border-width: 2;
}
.disi {
  color: darken($pembe, 15);
  font-weight: bold;
}
.erkek {
  color: darken($mavi, 11);
  font-weight: bold;
}
.bebek {
  color: darken($yesilTurkuaz, 50);
}
.ns-dark {
  .disi {
    color: lighten($pembe, 44);
    font-weight: bold;
  }
  .erkek {
    color: lighten($mavi, 33);
    font-weight: bold;
  }
  .bebek {
    color: lighten($yesilTurkuaz, 66);
  }
}
</style>
