<template>
  <Page actionBarHidden="true" backgroundSpanUnderStatusBar="true">
    <ActivityIndicator v-if="$apollo.loading" busy="true" />
    <ScrollView v-else>
      <GridLayout
        columns="*"
        rows="auto,70,auto,85,auto,auto,auto,auto,80,80,80,80,80"
      >
        <android>
          <ImageZoom
            v-if="bird.Fotograf"
            :src="this.backend + this.bird.Fotograf.url"
            stretch="aspectFill"
            width="100%"
            height="350"
            row="0"
            class="p-t-20"
            verticalAlignment="stretch"
          />
        </android>
        <ios>
          <ImageZoom
            v-if="bird.Fotograf && bird.Fotograf.formats.large"
            :src="this.backend + this.bird.Fotograf.formats.large.url"
            stretch="none"
            :width="this.bird.Fotograf.formats.large.width / 2"
            :height="this.bird.Fotograf.formats.large.height / 2"
            row="0"
            class="p-t-20"
          />
          <ImageZoom
            v-else-if="bird.Fotograf"
            :src="this.backend + this.bird.Fotograf.url"
            stretch="none"
            width="100%"
            :height="this.bird.Fotograf.height"
            row="0"
            class="p-t-20"
          />
        </ios>

        <Label
          row="0"
          col="0"
          horizontalAlignment="left"
          verticalAlignment="top"
          @tap="gotoListMyBirds"
          text=""
          class="fas p-20 back-button"
          fontSize="26"
        />

        <GridLayout
          rows="35,35"
          columns="*,90,60,60"
          row="1"
          class="text-center"
        >
          <Label
            v-if="bird.isim"
            :text="titleCase(bird.isim)"
            class="buyuk p-1"
            row="0"
            col="0"
          />
          <Label text="Doğum" row="0" col="1" class="baslik" />
          <Label
            v-if="bird.Cinsiyet"
            :text="sexWord(bird.Cinsiyet)"
            row="0"
            col="2"
            class="baslik"
            :class="[bird.Cinsiyet]"
          />
          <Label
            v-if="bird.Cinsiyet"
            :text="sexIcon(bird.Cinsiyet)"
            row="1"
            col="2"
            class="fas"
            :class="[bird.Cinsiyet]"
            fontSize="24"
          />

          <Label
            text=""
            row="0"
            col="3"
            rowSpan="2"
            class="koyu fas p-t-5"
            fontSize="22"
            @tap="gotoEdit"
            verticalAlignment="middle"
          />
          <Label
            :text="bird.bilezik.toUpperCase()"
            row="1"
            col="0"
            class="bilezik"
          />
          <Label
            v-if="bird.Dogum_Tarihi"
            :text="birthDate(bird.Dogum_Tarihi)"
            row="1"
            col="1"
          />
        </GridLayout>

        <GridLayout
          v-show="bird.Anne || bird.Baba"
          rows="30,45,10"
          columns="*, *"
          row="2"
          class="text-center"
        >
          <Label text="Anne" row="0" col="0" class="disi baslik" />
          <Label text="Baba" row="0" col="1" class="erkek baslik" />
          <Label
            v-if="bird.Anne"
            :text="bird.Anne.isim"
            row="1"
            col="0"
            class="disi-isim buyuk p-5"
            @tap="gotoShowMyBird(bird.Anne.id)"
          />
          <Label
            v-if="bird.Baba"
            :text="bird.Baba.isim"
            row="1"
            col="1"
            class="erkek-isim buyuk p-5"
            @tap="gotoShowMyBird(bird.Baba.id)"
          />
          <StackLayout class="hr" row="2" colSpan="2"></StackLayout>
        </GridLayout>

        <GridLayout
          rows="30, 55"
          columns="55,*,*,55"
          row="3"
          class="text-center p-l-2 p-r-2"
          paddingTop="5"
        >
          <Label text="Cinsi" row="0" col="0" class="baslik" />
          <Label text="Türü" row="0" col="1" class="baslik" />
          <Label text="Kuyruk" row="0" col="2" class="baslik" />
          <Label text="Tepe" row="0" col="3" class="baslik p-r-3" />
          <ios>
            <Label :text="cinsi(bird.Cinsi)" row="1" col="0" />
            <Label :text="turu(bird.Turu)" row="1" col="1" />
            <Label :text="kuyruk ? kuyruk : 'Düz'" row="1" col="2" />
            <Label :text="tepesi(bird.Tepe)" row="1" col="3" />
          </ios>
          <android>
            <Label
              :text="cinsi(bird.Cinsi)"
              row="1"
              col="0"
              class="grifon p-t-10"
            />
            <Label
              :text="turu(bird.Turu)"
              row="1"
              col="1"
              class="grifon p-t-10"
            />
            <Label
              :text="kuyruk ? kuyruk : 'Düz'"
              row="1"
              col="2"
              class="grifon p-t-10"
            />
            <Label
              :text="tepesi(bird.Tepe)"
              row="1"
              col="3"
              class="grifon p-t-10"
            />
          </android>
        </GridLayout>

        <GridLayout
          v-if="bird.Notlar"
          rows="*, *"
          columns="*"
          row="4"
          paddingTop="10"
        >
          <Label text="Notlar" row="0" class="baslik" />
          <Label :text="bird.Notlar" row="1" textWrap="true" />
        </GridLayout>

        <GridLayout
          v-if="bird.races.length > 0"
          rows="auto,*"
          columns="*"
          row="5"
        >
          <Label
            text="Katıldığı Yarışlar"
            row="0"
            col="0"
            class="h2 p-t-2 text-center"
          />
          <ListView for="race in bird.races" row="1" col="0">
            <v-template>
              <GridLayout
                rows="*"
                columns="*,*"
                @tap="gotoShowMyRace(race.id, bird.isim, bird.bilezik)"
              >
                <Label
                  :text="titleCase(race.Yaris_Ad) + ': '"
                  class="koyu font-weight-bold"
                  col="0"
                />
                <StackLayout orientation="horizontal" class="m-l-2" col="1">
                  <Label :text="turkishDate(race.Yaris_Tarihi)" />
                  <Label :text="titleCase(race.Sehir)" />
                  <Label :text="addLik(race.Derece)" />
                </StackLayout>
              </GridLayout>
            </v-template>
          </ListView>
        </GridLayout>

        <GridLayout rows="auto, 10" columns="30, *" row="6" padding="10">
          <Label
            text=""
            row="0"
            col="0"
            class="fas koyu"
            fontSize="22"
            verticalAlignment="middle"
          />
          <Button
            text="Sağlık Detayları"
            @tap="gotoHealth(birdID)"
            row="0"
            col="1"
          />
          <StackLayout
            row="1"
            col="0"
            class="hr m-10"
            colSpan="2"
          ></StackLayout>
        </GridLayout>

        <GridLayout
          v-if="bird.Anne ? true : false || bird.Baba ? true : false"
          rows="*, 10"
          columns="30, *"
          row="7"
          padding="10"
          marginTop="-15"
        >
          <Label
            text=""
            row="0"
            col="0"
            class="fas koyu"
            fontSize="20"
            verticalAlignment="middle"
          />
          <Button
            text="Pedigree Sertifikası"
            @tap="gotoPedigree"
            row="0"
            col="1"
          />

          <StackLayout
            row="1"
            col="0"
            class="hr m-10"
            colSpan="2"
          ></StackLayout>
        </GridLayout>

        <GridLayout
          rows="auto,10"
          columns="30, *"
          row="8"
          padding="10"
          marginTop="-10"
        >
          <Label
            text=""
            row="0"
            col="0"
            class="fas koyu"
            fontSize="22"
            verticalAlignment="middle"
          />
          <Button text="Transfer" @tap="gotoCreateTransfer" row="0" col="1" />
          <StackLayout
            row="1"
            col="0"
            class="hr m-10"
            colSpan="2"
          ></StackLayout>
        </GridLayout>
        <GridLayout
          rows="auto,10"
          columns="30, *"
          row="9"
          padding="10"
          marginTop="-10"
        >
          <Label
            text=""
            row="0"
            col="0"
            class="fas koyu"
            fontSize="22"
            verticalAlignment="middle"
          />
          <Button
            :text="
              !bird.Anne
                ? 'Ebeveyin Bilgileri Gir'
                : 'Ebeveyin Bilgilerini Güncelle'
            "
            @tap="addParents"
            :class="!bird.Anne ? 'font-weight-bold' : false"
            row="0"
            col="1"
          />
          <StackLayout
            row="1"
            col="0"
            class="hr m-10"
            colSpan="2"
          ></StackLayout>
        </GridLayout>
        <GridLayout
          rows="auto,10"
          columns="30, *"
          row="10"
          padding="10"
          marginTop="-10"
        >
          <Label
            text=""
            row="0"
            col="0"
            class="fas koyu"
            fontSize="22"
            verticalAlignment="middle"
          />
          <Button
            :text="!bird.Fotograf ? 'Fotoğraf Ekle' : 'Fotoğrafı Değiştir'"
            @tap="addPhoto"
            :class="!bird.Fotograf ? 'font-weight-bold' : false"
            row="0"
            col="1"
          />
          <StackLayout
            row="1"
            col="0"
            class="hr m-10"
            colSpan="2"
          ></StackLayout>
        </GridLayout>
        <GridLayout
          rows="auto,10"
          columns="30, *"
          row="11"
          padding="10"
          marginTop="-10"
        >
          <Label
            text=""
            row="0"
            col="0"
            class="fas koyu"
            fontSize="22"
            verticalAlignment="middle"
          />
          <Button
            text="Yarış Ekle"
            @tap="gotoCreateRace"
            :class="!bird.races ? 'font-weight-bold' : false"
            row="0"
            col="1"
          />
        </GridLayout>
        <GridLayout
          rows="auto,10"
          columns="30, *"
          row="12"
          padding="10"
          marginTop="-10"
        >
          <Label
            text=""
            row="0"
            col="0"
            class="fas koyu"
            fontSize="22"
            verticalAlignment="middle"
          />
          <Button text="Sistem Dışı Bırak" @tap="disableBird" row="0" col="1" />
        </GridLayout>
      </GridLayout>
    </ScrollView>
  </Page>
</template>

<script lang="ts">
import * as queries from "@/graphql/queries";
import * as config from "@/helpers/config";
import routes from "@/routes";
import { apolloClient } from "@/main";
import * as mutations from "@/graphql/mutations";
import * as dialogs from "@nativescript/core/ui/dialogs";
import { ApplicationSettings, Screen } from "@nativescript/core";
import { vocaMixin, dateMixin, navMixin } from "@/helpers/ui";
export default {
  props: {
    birdID: {
      type: [Number, String],
      default: 361,
    },
  },
  data: () => ({
    screenHeight: Screen.mainScreen.heightDIPs.toFixed(1),
    screenWidth: Screen.mainScreen.widthDIPs.toFixed(1),
    backend: config.BACKEND,
    userID: ApplicationSettings.getNumber("userID"),
    bird: {
      isim: "",
      bilezik: null,
      Dogum_Tarihi: null,
      Turu: "",
      Cinsiyet: "",
      Fotograf: {
        url: "",
        formats: {
          small: { url: "" },
          large: {
            url: "",
            width: "",
            height: "",
          },
        },
      },
      Notlar: null,
      Tepe: "",
      Cinsi: "",
      Sag_Kuyruk: null,
      Sol_Kuyruk: null,
      Atlama: true,
      Canli: true,
      Anne: {
        id: null,
        isim: "",
      },
      Baba: {
        id: null,
        isim: "",
      },
      diseases: [],
      vaccines: [],
      races: [],
      eggs: [],
      transfer: null,
    },
  }),
  mixins: [vocaMixin, dateMixin, navMixin],
  apollo: {
    bird: {
      query: queries.BIRD,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
  computed: {
    kuyruk() {
      if (this.bird.Sag_Kuyruk || this.bird.Sol_Kuyruk) {
        const sagKuyruk =
          this.bird.Sag_Kuyruk == null ? 0 : this.bird.Sag_Kuyruk;
        const solKuyruk =
          this.bird.Sol_Kuyruk == null ? 0 : this.bird.Sol_Kuyruk;
        const kuyruk = sagKuyruk + " 'e " + solKuyruk;
        return this.Atlama ? kuyruk + " Atlamalı" : kuyruk + " Atlamasız";
      }
    },
  },
  methods: {
    gotoEdit() {
      this.$navigateTo(routes.editBird, {
        props: {
          birdID: this.birdID,
          isim: this.bird.isim,
          Dogum_Tarihi: this.bird.Dogum_Tarihi,
          Cinsiyet: this.bird.Cinsiyet,
          Tepe: this.bird.Tepe,
          Turu: this.bird.Turu,
          Sag_Kuyruk: this.bird.Sag_Kuyruk,
          Sol_Kuyruk: this.bird.Sol_Kuyruk,
          Atlama: this.bird.Atlama,
          Notlar: this.bird.Notlar,
          Canli: this.bird.Canli,
        },
      });
    },

    gotoPedigree() {
      this.$navigateTo(routes.pedigree, {
        props: {
          birdID: this.birdID,
        },
        animated: true,
        transition: {
          name: "slideTop",
          duration: 380,
          curve: "easeIn",
        },
      });
    },
    gotoCreateRace() {
      this.$navigateTo(routes.createRating, {
        props: {
          birdID: this.birdID,
        },
        animated: true,
        transition: {
          name: "slideTop",
          duration: 380,
          curve: "easeIn",
        },
      });
    },

    gotoCreateTransfer() {
      this.$navigateTo(routes.createTransfer, {
        props: {
          birdID: this.birdID,
        },
      });
    },
    addParents() {
      this.$navigateTo(routes.addParents, {
        props: {
          birdID: this.birdID,
          birdName: this.bird.isim,
          birdBilezik: this.bird.bilezik,
        },
        animated: true,
        transition: { name: "slideLeft", duration: 380, curve: "easeIn" },
      });
    },
    addPhoto() {
      this.$navigateTo(routes.addBirdPhoto, {
        props: { birdID: this.birdID },
        animated: true,
        transition: { name: "slideLeft", duration: 380, curve: "easeIn" },
      });
    },
    disableBird() {
      dialogs
        .confirm({
          title: "Güvercin Sistem Dışında Birine mi Satıldı?",
          message:
            "Devredışı bırakmak istiyor musunuz? Kuşu Tüm Listelerden Kaldırır",
          okButtonText: "Kaldır",
          cancelButtonText: "Vazgeç",
        })
        .then((result) => {
          // result argument is boolean
          // console.log("Dialog result: " + result);
          if (!result) {
            return;
          }
          apolloClient
            .mutate({
              // Query
              mutation: mutations.DISABLE_BIRD,
              // Parameters
              variables: {
                birdID: this.birdID,
              },
              update: (store, { data }) => {},
            })
            .then((data) => {
              // console.log("data :>> ", data);
              apolloClient.clearStore();
              this.refresh();
              this.gotoListMyBirds();
            })
            .catch((error) => {
              // Error
              console.error(error);
            });
        });
    },
    async refresh() {
      await this.$apollo.queries.birds.refetch();
    },
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
@import "@/app.scss";
@import "../../../birds.css";
.disi {
  background-color: $pembe;
  color: lighten($complementary-color, 15);
}
.disi-isim {
  background-color: lighten($pembe, 11);
  color: lighten($complementary-color, 15);
}
.erkek {
  background-color: $mavi;
  color: lighten($complementary-color, 11);
}
.erkek-isim {
  background-color: lighten($mavi, 11);
  color: lighten($complementary-color, 11);
}
.bebek {
  background-color: $turkuaz;
  color: darken($complementary-color, 60);
}
.drawer-item {
  padding: 8 16;
  color: $lacivert;
  font-size: 16;
}
.bilezik {
  font-size: 16;
}
.back-button {
  display: block;
  height: 70;
  color: $markaKoyu;
  background-color: rgba(255, 255, 255, 0.33);
}
</style>
