//   Animation
.fadeIn{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
.fadeInAfter2s {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 700ms;
  }
.fadeInAfter3s {
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.slideInUp {
    animation-name: slideInUp;
    animation-duration: 600ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

@keyframes slideInUp {
  from {
    transform: translateY(100);
    visibility: visible;
  }
  to {
    transform: translateY(0);
  }
}

.slideInDown {
  animation-name: slideInDown;
  animation-duration: 600ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  }
  @-webkit-keyframes slideInDown {
  0% {
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  transform: translateY(0);
  }
  }
  @keyframes slideInDown {
  0% {
  transform: translateY(-100%);
  visibility: visible;
  }
  100% {
  transform: translateY(0);
  }
  } 
