// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/orange";
@import "./renkler.scss";
@import "./animation.scss";

// Override variables here
$complementary: $magenta;
$complementary-color: $yesilTurkuaz ;

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
// https://www.colourlovers.com/palette/3119184/Peace_and_Harmony

.h1, .h2, .h3  {
  color:  desaturate($markaKoyu , 25);
}
.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
}

.parlakfon {
    background-color: $yesil 
}
.parlak-renk {
    color: $markaAcik
}
.ana-renk-fon {
    background-color: darken($complementary , 5);
}
.ana-renk {
    color: lighten($complementary-color,15);
}
.ns-dark Page {
    background-color: rgb(49, 49, 48);
    font-family: 'VarelaRound-Regular','Varela Round Regular', sans-serif;
  }
  .ns-dark .disi {
    color: lighten($pembe, 15);
  }
  .ns-dark .erkek {
    color: lighten($mavi, 11);
  }
  .ns-dark .bebek {
    color: lighten($yesilTurkuaz, 50);
  }
  .ns-dark .koyu {
    color: lighten($complementary, 30);
  }
  

.koyu {
    color: $complementary
}
ActionBar{
    background-color: darken($complementary , 5);
    color: lighten($complementary-color,80);
    Label{
        font-size: 20;
        font-family:  "Open Sans Condensed Bold", sans-serif;
    }

}
.ns-dark ActionBar{
  background-color: darken($complementary , 6);
  color: darken($complementary-color,3);
}

Page {
  font-family: 'VarelaRound-Regular','Varela Round Regular', sans-serif;
  background-color: rgb(240,245,237);
}
Page Button {
    font-family: 'BaiJamjuree-Medium',"Bai Jamjuree Medium", sans-serif;
    android-elevation: 3;
    border-radius: 30;
    border-width: 0;
    color: #fffcff;
    font-size: 16;
    font-weight: bold;
    background:#e21c73;
    background-color: #e21c73 ;
    background: linear-gradient(to right, #e21c73, #8e3285);
}
Page Button:active {
    android-elevation: 6;
    border-radius: 25;
    border-width: 1;
}
Button {
    color: rebeccapurple;
}
.list-bg {
  background-color: lighten($markaGri, 11);
}
.ns-dark .list-bg {
  background-color: darken($markaKoyu, 33) ;
}
.buyuk {
    font-family: 'BaiJamjuree-Medium',"Bai Jamjuree Medium", sans-serif;
    font-size: 16;
}
.kucuk {
    font-family: 'VarelaRound-Regular','Varela Round Regular', sans-serif;
    font-size: 9;
    color: $siyah;
}
.ns-dark{
  .kucuk {
    font-family: 'VarelaRound-Regular','Varela Round Regular', sans-serif;
    font-size: 9;
    color: $beyaz;
}
}
.baslik {
    color: darkmagenta;
    font-weight: 900;
    font-size: 16;
}
.ns-dark .baslik {
    color: $yesilTurkuaz;
    font-weight: 900;
    font-size: 16;
}
.fon {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      133deg,
      rgba(255, 255, 255, 1) 0%,
      lighten($markaKoyu, 33) 100%
    );
}
.ns-dark .fon {
    background: rgb(22, 22, 22);
    background: linear-gradient(
      133deg,
      rgb(49, 49, 49) 0%,
      darken($markaKoyu, 11) 100%
    );
}
PropertyEditor {
  margin: 5 15;
  background-color: transparent;
  border-color: darken($pembe, 33);
  border-width: 1;
  border-radius: 5;
}
DataFormEditorLabel {
  font-size: 15;
  text-align: center;
  margin-bottom: 1;
  color: $magenta;
}
DataFormEditorCore {
  background-color: transparent;
  color: $magenta;
  font-size: 16;
  margin-bottom: 15;
}
.docs {
  background-color: rgb(224, 228, 222);
  color: darken($complementary, 15);
}
#bilezik {
  color: white;
  background: linear-gradient(90deg, #f7e8c6 0%, #8c6239 100%); 
  padding-left: 80;
  margin-bottom: 1;
}
#bilezikText {
  color: white;
  font-size: larger;
}
.disi {
  color: darken($pembe, 15);
}
.erkek {
  color: darken($mavi, 11);
}
.bebek {
  color: darken($yesilTurkuaz, 50);
}
