.buyuk {
    font-family: 'BaiJamjuree-Medium',"Bai Jamjuree Medium", sans-serif;
    font-size: 16;
}
.grifon {
    background-color: #DED9BC;
    background: linear-gradient(180deg, #e2e1d8 0%, #eeece2 100%);
}
.ns-dark .grifon {
    background-color: #424240;
    background: linear-gradient(180deg, #363635 0%, #444441 100%);
}
