.buyuk {
    font-family: "Bai Jamjuree Medium", sans-serif;
    color: darkslateblue;
    font-size: 15;
}
.grifon {
    background-color: #e7e4d0 ;
    background: linear-gradient(180deg, #e2e1d8 0%, #eeece2 100%);
}
.ns-dark .grifon {
    background-color: #444442;
    background: linear-gradient(180deg, #363635 0%, #464646 100%);
}
.baslik{
    font-family: "Bai Jamjuree Medium", sans-serif;
    font-weight: 600;
    font-size: 16;
}
