// koyular
$lacivert:#4A6A9D;
$magenta:#9c208d ;
$mavi:#008fbc;
$siyah: #0c0d07;
// uyarı
$pembe:#e51873;

// Griler
$ortaMavi: #57B0D2;
$acikBej: #DED9BC;
// açıklar
$turkuaz: #87D8E9;
$yesil:#C8E75B;
$yesilTurkuaz: #B8EBDA;
$beyaz: #f3f3f2;
$markaKoyu:#8e3285;
$markaAcik:#e21c73;
$markaGri:#e2c7d3;
