<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          :text="bird.isim + ' Sağlık bilgileri'"
          col="1"
          @tap="gotoShowMyBird(birdID)"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout
        ~mainContent
        rows="auto,10,*,auto,10,*,auto,auto,*"
        columns="*"
        class="p-20 sayfa fon"
      >
        <Label text="Aşılar" row="0" textWrap="true" class="h2 m-b-20 m-l-30" />
        <Label text="" row="0" textWrap="true" class="fas h2" />
        <StackLayout row="1" class="hr m-10"></StackLayout>
        <ActivityIndicator row="2" v-if="$apollo.loading" busy="true" />
        <Label
          row="2"
          v-if="vaccines.length < 1"
          text="Aşı bilgisi yok. Sağdaki düğmeyle ekleyebilirsiniz.."
          textWrap="true"
          class="text-center"
        />

        <ListView row="2" for="vaccine in vaccines">
          <v-template>
            <GridLayout
              rows="*"
              columns="*,120"
              class="koyu"
              @tap="gotoShowVaccine(vaccine.id, birdID)"
            >
              <Label :text="vaccine.isim" col="0" />
              <Label :text="turkishDate(vaccine.Uygulama_Tarihi)" col="1" />
            </GridLayout>
          </v-template>
        </ListView>
        <fab
          row="2"
          text=""
          rippleColor="#f1f1f1"
          class="fab-button fas"
          @tap="gotoCreateVaccine(birdID)"
        />
        <Label
          text="Hastalıklar"
          row="3"
          textWrap="true"
          class="h2 m-b-20 m-l-30"
        />
        <Label text="略" row="3" textWrap="true" class="fas h2" />
        <StackLayout row="4" class="hr m-10"></StackLayout>
        <ActivityIndicator row="5" v-if="$apollo.loading" busy="true" />
        <Label
          row="5"
          v-if="diseases.length < 1"
          text="Hastalık bilgisi yok. Sağdaki düğmeyle ekleyebilirsiniz."
          textWrap="true"
          class="text-center"
        />
        <ListView row="5" for="disease in diseases">
          <v-template>
            <GridLayout
              rows="*"
              columns="*,*"
              class="koyu"
              @tap="gotoDisease(disease.id, birdID)"
            >
              <Label :text="disease.isim" col="0" />
              <Label :text="turkishDate(disease.Gorulme_Tarihi)" col="1" />
            </GridLayout>
          </v-template>
        </ListView>
        <fab
          row="5"
          text=""
          rippleColor="#f1f1f1"
          class="fab-button fas"
          @tap="gotoCreateDisease(birdID)"
        />
        <Label
          v-if="bird.Cinsiyet == 'disi'"
          text="Görülen Yumurtalar"
          row="6"
          textWrap="true"
          class="h2 m-b-20 m-l-30"
        />
        <Label
          v-if="bird.Cinsiyet == 'disi'"
          text=""
          row="6"
          textWrap="true"
          class="fas h2"
        />
        <StackLayout
          v-if="bird.Cinsiyet == 'disi'"
          row="7"
          class="hr m-10"
        ></StackLayout>
        <ActivityIndicator row="8" v-if="$apollo.loading" busy="true" />
        <Label
          row="8"
          v-if="bird.Cinsiyet == 'disi' && eggs.length < 1"
          text="Yumurta bilgisi yok. Sağdaki düğmeyle ekleyebilirsiniz."
          textWrap="true"
          class="text-center"
        />
        <ListView v-if="bird.Cinsiyet == 'disi'" row="8" for="egg in eggs">
          <v-template>
            <StackLayout
              orientation="horizontal"
              @tap="gotoEditEgg(birdID, egg.id, egg.Gorulme_Tarihi, egg.Notlar)"
            >
              <Label
                :text="titleCase(beforeTime(egg.Gorulme_Tarihi))"
                class="koyu"
              />
              <Label :text="egg.Notlar" textWrap="true" />
            </StackLayout>
          </v-template>
        </ListView>
        <fab
          v-if="bird.Cinsiyet == 'disi'"
          row="8"
          text=""
          rippleColor="#f1f1f1"
          class="fab-button fas"
          @tap="gotoCreateEgg(birdID)"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import { apolloClient } from "@/main";
import * as mutations from "@/graphql/mutations";
import { showToast, navMixin, dateMixin, vocaMixin } from "@/helpers/ui";

export default {
  props: {
    birdID: {
      type: Number,
      //default: 30,
    },
  },
  data() {
    return {
      vaccines: [],
      diseases: [],
      eggs: [],
      bird: {
        id: "",
        isim: "",
        bilezik: "",
        Dogum_Tarihi: "",
        Turu: "",
        Cinsiyet: "",
        Fotograf: {
          id: "",
          formats: {
            thumbnail: {
              hash: "",
              ext: "",
              mime: "",
              width: Number,
              height: Number,
              size: Number,
              path: null,
              url: "",
            },

            small: {
              hash: "",
              ext: "",
              mime: "",
              width: Number,
              height: Number,
              size: Number,
              path: null,
              url: "",
            },
          },
          url: "",
          name: "",
        },
        Notlar: "",
        Tepe: "",
        Cinsi: "",
        Sag_Kuyruk: Number,
        Sol_Kuyruk: Number,
        Atlama: false,
        Canli: true,
        user: {
          id: "",
          username: "",
          Uye_No: Number,
        },
        Anne: null,
        Baba: null,
        diseases: [],
        vaccines: [],
        races: [],
        eggs: [],
        transfer: null,
      },
    };
  },
  mixins: [navMixin, dateMixin, vocaMixin],
  methods: {},
  apollo: {
    vaccines: {
      query: queries.VACCINES_OF_BIRD,
      variables() {
        return { birdID: this.birdID };
      },
    },
    diseases: {
      query: queries.DISEASES_OF_BIRD,
      variables() {
        return { birdID: this.birdID };
      },
    },
    eggs: {
      query: queries.EGGS_OF_BIRD,
      variables() {
        return { birdID: this.birdID };
      },
    },
    bird: {
      query: queries.BIRD,
      variables() {
        return { id: this.birdID };
      },
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/app.scss";

.h2 {
  color: desaturate($magenta, 50%);
}
.fab-button {
  color: white;
  height: 40;
  width: 40; /// this is required on iOS - Android does not require width so you might need to adjust styles
  margin: 1;
  background-color: #e21c73;
  horizontal-align: right;
  vertical-align: bottom;
}
</style>