<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="50, *,30">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          :text="birdsCount + ' Kayıtlı Güvercin'"
          col="1"
          @swipe="refresh"
        />
        <Label text="" col="2" class="fas" fontSize="18" @tap="refresh" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="70,*,70" columns="*" class="list-bg">
        <Label
          v-if="freshingUp"
          text="CİHAZDAKİ TÜM GÜVERCİNLER GÜNCELLENİYOR"
          textWrap="true"
          row="0"
          col="0"
          class="buyuk text-center"
        />
        <ActivityIndicator v-if="freshingUp" busy="freshingUp" />
        <SearchBar
          @loaded="sBLoaded($event)"
          v-show="!freshingUp"
          hint="İsim"
          textFieldHintColor="#eeece2"
          v-model="searchQuery"
          row="0"
          class="search"
        />
        <ActivityIndicator v-if="$apollo.loading" row="1" busy="true" />
        <GridLayout v-else rows="*" columns="*" row="1">
          <ListView
            v-show="!freshingUp"
            for="kus in filteredBirds"
            separatorColor="#C8E75B"
            row="0"
            col="0"
          >
            <v-template>
              <GridLayout rows="*" columns="*,*" @tap="gotoShowTheBird(kus.id)">
                <StackLayout
                  orientation="horizontal"
                  col="0"
                  :class="[kus.Cinsiyet]"
                >
                  <Label :text="kus.isim" :key="kus.id" />
                </StackLayout>

                <Label :text="kus.bilezik" class="text-center m-y-15" col="1" />
              </GridLayout>
            </v-template>
            <v-template if="$odd">
              <GridLayout
                rows="*"
                columns="*,*"
                @tap="gotoShowTheBird(kus.id)"
                class="grifon"
              >
                <StackLayout
                  orientation="horizontal"
                  col="0"
                  :class="[kus.Cinsiyet]"
                >
                  <Label :text="kus.isim" :key="kus.id" />
                </StackLayout>
                <Label :text="kus.bilezik" class="text-center m-y-15" col="1" />
              </GridLayout>
            </v-template>
          </ListView>
        </GridLayout>
        <StackLayout
          orientation="horizontal"
          row="2"
          class="m-x-auto"
          @tap="gotoSearchBird"
        >
          <Label
            text=""
            textWrap="true"
            class="m-y-auto fas koyu"
            verticalAlign="middle"
            fontSize="22"
          /><Button text="Bilezik Numarasına Göre Kuş Arama" />
        </StackLayout>
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import { LIMIT } from "@/helpers/config";
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import { apolloClient } from "@/main";
import { navMixin } from "@/helpers/ui";
import { domainMixin } from "@/helpers/domain";
import { ApplicationSettings } from "@nativescript/core";

export default {
  data() {
    return {
      freshingUp: false,
      searchQuery: "",
      birds: [],
      birdsCount: ApplicationSettings.getString("birdsCount"),
    };
  },
  mixins: [navMixin, domainMixin],
  apollo: {
    birds: {
      query: queries.ALL_ALIVE_BIRDS,
      variables: { limit: LIMIT },
    },
  },
  methods: {
    async refresh() {
      this.freshingUp = true;
      await this.$apollo.queries.birds.refetch();
      this.freshingUp = false;
    },
  },
  computed: {
    filteredBirds() {
      return this.birds.filter((bird) => {
        return bird.isim.toLowerCase().match(this.searchQuery.toLowerCase());
      });
    },
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
@import "@/app.scss";
@import "~@/birds.css";

.disi {
  color: darken($pembe, 15);
  font-weight: bold;
}

.erkek {
  color: darken($mavi, 11);
  font-weight: bold;
}
.bebek {
  color: darken($yesilTurkuaz, 50);
}
.ns-dark {
  .disi {
    color: lighten($pembe, 30);
    font-weight: bold;
  }

  .erkek {
    color: lighten($mavi, 22);
    font-weight: bold;
  }
  .bebek {
    color: lighten($yesilTurkuaz, 45);
  }
}
.search {
  font-weight: bold;
  font-size: 20;
  color: darken($markaKoyu, 11);
  background-color: lighten($acikBej, 11);
}
</style>