<template>
  <Page actionBarHidden="true" backgrounexdSpanUnderStatusBar="true">
    <ActivityIndicator v-if="$apollo.loading" busy="true" />
    <GridLayout v-else rows="*,50" columns="*">
      <GridLayout
        id="certificateView"
        rows="30,*"
        row="0"
        col="0"
        :columns="certificateViewColumns"
        ref="certificateView"
        backgroundColor="white"
      >
        <android>
          <Label
            :text="this.bird.bilezik"
            id="bilezik"
            textWrap="true"
            row="0"
            col="0"
            colSpan="3"
            class="text-center p-y-2 buyuk"
            :marginLeft="bilezikLeft"
          />
        </android>
        <ios>
          <Label
            :text="this.bird.bilezik"
            id="bilezik"
            textWrap="true"
            row="0"
            col="0"
            colSpan="3"
            :marginLeft="bilezikLeft"
          />
          <Label
            :text="this.bird.bilezik"
            id="bilezikText"
            textWrap="true"
            row="0"
            col="0"
            colSpan="3"
            class="text-center"
            :marginLeft="bilezikLeft"
          />
        </ios>
        <GridLayout
          id="firstCol"
          row="0"
          col="0"
          rowSpan="2"
          :rows="firstColRows"
          cols="*"
        >
          <!-- KENDİ KUTUSU -->
          <Label text="" id="circle" width="90" height="90" row="0" />

          <Image
            v-if="bird.Fotograf"
            :src="this.backend + bird.Fotograf.formats.thumbnail.url"
            id="profilFoto"
            stretch="aspectFill"
            width="80"
            height="80"
            class="-thumb img-circle"
            row="0"
            @tap="gotoShowTheBird(birdID)"
          />
          <Image
            v-if="!bird.Fotograf"
            src="res://siluetsiyahbeyaz"
            id="profilFoto"
            stretch="aspectFill"
            width="80"
            height="80"
            class="-thumb img-circle"
            row="0"
            @tap="gotoShowTheBird(birdID)"
          />

          <!-- BABASI -->
          <Label
            v-if="bird.Baba"
            id="fatherLine"
            row="1"
            text=""
            :marginTop="halfofFirstGenHeight"
          />

          <GridLayout
            v-if="bird.Baba"
            class="card firstGen male m-y-3"
            rows="auto,auto,auto,auto,*"
            columns="*"
            row="1"
            @tap="gotoShowTheBird(bird.Baba.id)"
          >
            <Label
              :text="this.bird.Baba.bilezik"
              textWrap="true"
              row="1"
              class="numbers"
              :fontSize="certFontSize - 1"
            />
            <Label
              :text="titleCase(this.bird.Baba.isim)"
              textWrap="true"
              row="2"
              class="names"
              :fontSize="certFontSize"
            />
            <Label
              :text="turu(this.bird.Baba.Turu)"
              textWrap="true"
              row="3"
              class="small"
            />
            <Label
              v-if="bird.Baba.races.length > 0"
              text=""
              row="3"
              class="fas text-right"
              fontSize="16"
            />
            <ListView
              v-if="bird.Baba.races.length > 0"
              for="race in bird.Baba.races"
              row="4"
              class="m-y-0 p-y-0"
            >
              <v-template>
                <StackLayout orientation="horizontal">
                  <Label :text="titleCase(race.Sehir)" class="small" />
                  <Label :text="getYear(race.Yaris_Tarihi)" class="small" />
                  <Label :text="addLik(race.Derece)" class="small" />
                </StackLayout>
              </v-template>
            </ListView>
          </GridLayout>

          <!-- KENDISI -->
          <GridLayout
            rows="auto,auto,auto,auto,*"
            columns="*"
            id="self"
            row="2"
          >
            <Label
              :text="bird.bilezik"
              textWrap="true"
              row="0"
              col="0"
              colSpan="2"
              :fontSize="certFontSize"
              class="text-center"
            />
            <Label
              v-if="bird.isim"
              :text="titleCase(this.bird.isim)"
              textWrap="true"
              row="1"
              col="0"
              colSpan="2"
              class="buyuk text-center"
            />
            <Label
              v-if="bird.races.length > 0"
              text=""
              row="2"
              class="fas text-right"
            />
            <Label
              :text="turu(this.bird.Turu)"
              textWrap="true"
              row="2"
              col="0"
              class="text-center"
            />
            <Label
              :text="cinsiyetIkon(this.bird.Cinsiyet)"
              textWrap="true"
              row="2"
              col="0"
              class="fas"
              :class="[bird.Cinsiyet]"
            />
            <GridLayout rows="*" columns="auto,*" row="3" col="0">
              <Label
                text="Doğum:"
                textWrap="true"
                class="numbers"
                fontWeight="bold"
                col="0"
              />

              <Label
                :text="birthDate(this.bird.Dogum_Tarihi)"
                textWrap="true"
                class="p-l-2 text-right"
                col="1"
              />
            </GridLayout>

            <ListView
              v-if="bird.races.length > 0"
              for="race in bird.races"
              row="4"
              class="m-y-0 p-y-2"
            >
              <v-template>
                <GridLayout rows="*" columns="50,auto,*">
                  <Label :text="titleCase(race.Sehir)" class="yaris" col="0" />
                  <Label
                    :text="getYear(race.Yaris_Tarihi)"
                    class="yaris"
                    col="1"
                  />
                  <Label :text="addLik(race.Derece)" class="yaris" col="2" />
                </GridLayout>
              </v-template>
            </ListView>
          </GridLayout>

          <!-- ANNESİ -->
          <Label
            v-if="bird.Anne"
            id="motherLine"
            row="3"
            text=""
            :marginBottom="halfofFirstGenHeight"
          />

          <GridLayout
            v-if="bird.Anne"
            rows="auto,auto,auto,auto,*"
            columns="*"
            class="card firstGen female"
            row="3"
            @tap="gotoShowTheBird(bird.Anne.id)"
          >
            <Label
              :text="this.bird.Anne.bilezik"
              textWrap="true"
              row="1"
              class="numbers"
              :fontSize="certFontSize - 1"
            />
            <Label
              :text="titleCase(this.bird.Anne.isim)"
              textWrap="true"
              row="2"
              class="names"
              :fontSize="certFontSize"
            />
            <Label
              :text="turu(this.bird.Anne.Turu)"
              textWrap="true"
              row="3"
              class="small text-center"
            />
            <Label
              v-if="bird.Anne.races.length > 0"
              text=""
              row="3"
              class="fas text-right"
              fontSize="16"
            />
            <ListView
              v-if="bird.Anne.races.length > 0"
              for="race in bird.Anne.races"
              row="4"
              class="m-y-0 p-y-0"
            >
              <v-template>
                <StackLayout orientation="horizontal">
                  <Label :text="titleCase(race.Sehir)" class="small" />
                  <Label :text="getYear(race.Yaris_Tarihi)" class="small" />
                  <Label :text="addLik(race.Derece)" class="small" />
                </StackLayout>
              </v-template>
            </ListView>
          </GridLayout>

          <!-- SERTİFİKA LOGOSU -->

          <GridLayout
            id="sertifikaLogo"
            rows="auto,auto,auto"
            columns="55,*"
            row="4"
            class="m-t-2 p-t-2"
            verticalAlignment="center"
          >
            <Image
              src="res://kurenkkulubulogo"
              stretch="aspectFit"
              width="55"
              height="55"
              row="0"
              col="0"
              rowSpan="4"
              class="img-circle m-2"
            />
            <Label
              :text="titleCase(this.bird.user.username)"
              textWrap="false"
              row="0"
              col="1"
              :fontSize="certFontSize - 1"
            />
            <StackLayout row="1" col="1">
              <StackLayout orientation="horizontal">
                <Label text="Fed. Üye #   " :fontSize="certFontSize - 4" />
                <Label
                  :text="this.bird.user.Uye_No"
                  :fontSize="certFontSize - 2"
                />
              </StackLayout>
              <StackLayout orientation="horizontal">
                <Label
                  v-if="bird.user.Kulup_Uye_No > 0"
                  text="Kul. Üye # "
                  :fontSize="certFontSize - 3"
                />
                <Label
                  v-if="bird.user.Kulup_Uye_No > 0"
                  :text="this.bird.user.Kulup_Uye_No"
                  :fontSize="certFontSize - 2"
                />
              </StackLayout>
            </StackLayout>

            <StackLayout orientation="horizontal" row="2" col="1">
              <Label text="Plaka:       " class="p-y-auto" />
              <Label
                :text="
                  this.bird.user.Ulke_Kodu + ' ' + this.bird.user.Plaka_Kodu
                "
                :fontSize="certFontSize - 2"
              />
            </StackLayout>
          </GridLayout>
          <Label
            text="Türkiye Kürenk Kulübü Pedigree Sertifikası"
            textWrap="true"
            row="5"
            col="0"
            class="numbers text-center"
            verticalAlignment="center"
          />
        </GridLayout>

        <!-- üçüncü nesil -->
        <GridLayout
          v-if="thirdGenerationInfoExists"
          id="secondCol"
          rows="*,*,10,*,*"
          columns="*"
          row="1"
          col="1"
        >
          <Label
            v-show="
              (
                this.bird.Baba.Baba
                  ? true
                  : false || this.bird.Baba.Anne
                  ? true
                  : false
              )
                ? true
                : false
            "
            class="secondColLine"
            text=""
            row="0"
          />

          <GridLayout
            v-if="this.bird.Baba.Baba"
            rows="auto,auto,auto,auto,*"
            columns="*"
            class="card secondGen male m-t-5"
            row="0"
            @tap="gotoShowTheBird(bird.Baba.Baba.id)"
          >
            <Label
              :text="this.bird.Baba.Baba.bilezik"
              textWrap="true"
              row="1"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Baba.Baba.isim)"
              textWrap="true"
              row="2"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="bird.Baba.Baba.races.length > 0"
              text=""
              row="3"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(this.bird.Baba.Baba.Turu)"
              textWrap="true"
              row="3"
              class="small"
            />

            <ListView
              v-if="bird.Baba.Baba.races.length > 0"
              for="race in bird.Baba.Baba.races"
              row="4"
              class="m-y-0 p-y-0"
            >
              <v-template>
                <StackLayout orientation="horizontal">
                  <Label :text="titleCase(race.Sehir)" class="small" />
                  <Label :text="getYear(race.Yaris_Tarihi)" class="small" />
                  <Label :text="addLik(race.Derece)" class="small" />
                </StackLayout>
              </v-template>
            </ListView>
          </GridLayout>
          <GridLayout
            v-if="this.bird.Baba.Anne"
            rows="auto,auto,auto,auto,*"
            columns="*"
            class="card secondGen female m-t-2"
            row="1"
            @tap="gotoShowTheBird(bird.Baba.Anne.id)"
          >
            <!-- <Label
              text="Babaanne "
              textWrap="true"
              row="0"
              class="relativeHeader "
            /> -->
            <Label
              :text="this.bird.Baba.Anne.bilezik"
              textWrap="true"
              row="1"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Baba.Anne.isim)"
              textWrap="true"
              row="2"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              :text="turu(this.bird.Baba.Anne.Turu)"
              textWrap="true"
              row="3"
              class="small"
            />
            <Label
              v-if="
                (bird.Baba.Anne ? true : false) &&
                bird.Baba.Anne.races.length > 0
              "
              text=""
              row="3"
              class="fas text-right"
              fontSize="14"
            />
            <ListView
              v-if="
                (bird.Baba.Anne ? true : false) &&
                bird.Baba.Anne.races.length > 0
              "
              for="race in bird.Baba.Anne.races"
              row="4"
              class="m-y-0 p-y-0"
            >
              <v-template>
                <StackLayout orientation="horizontal">
                  <Label :text="titleCase(race.Sehir)" class="small" />
                  <Label :text="getYear(race.Yaris_Tarihi)" class="small" />
                  <Label :text="addLik(race.Derece)" class="small" />
                </StackLayout>
              </v-template>
            </ListView>
          </GridLayout>
          <StackLayout class="m-10" row="2"></StackLayout>
          <Label class="secondColLine" text="" row="3" />

          <GridLayout
            v-if="this.bird.Anne.Baba"
            rows="auto,auto,auto,auto,*"
            columns="*"
            class="card secondGen male"
            row="3"
            @tap="gotoShowTheBird(bird.Anne.Baba.id)"
          >
            <!-- <Label
              text="Dede"
              textWrap="true"
              row="0"
              class="relativeHeader "
            /> -->
            <Label
              :text="this.bird.Anne.Baba.bilezik"
              textWrap="true"
              row="1"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Anne.Baba.isim)"
              textWrap="true"
              row="2"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              :text="turu(this.bird.Anne.Baba.Turu)"
              textWrap="true"
              row="3"
              class="small"
            />
            <Label
              v-if="
                (bird.Anne.Baba ? true : false) &&
                bird.Anne.Baba.races.length > 0
              "
              text=""
              row="3"
              class="fas text-right"
              fontSize="14"
            />
            <ListView
              for="race in bird.Anne.Baba.races"
              row="4"
              class="m-y-0 p-y-0"
            >
              <v-template>
                <StackLayout orientation="horizontal">
                  <Label :text="titleCase(race.Sehir)" class="small" />
                  <Label :text="getYear(race.Yaris_Tarihi)" class="small" />
                  <Label :text="addLik(race.Derece)" class="small" />
                </StackLayout>
              </v-template>
            </ListView>
          </GridLayout>
          <GridLayout
            v-if="this.bird.Anne.Anne"
            rows="auto,auto,auto,auto,*"
            columns="*"
            class="card secondGen female"
            row="4"
            @tap="gotoShowTheBird(bird.Anne.Anne.id)"
          >
            <Label
              :text="this.bird.Anne.Anne.bilezik"
              textWrap="true"
              row="1"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Anne.Anne.isim)"
              textWrap="true"
              row="2"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              :text="turu(this.bird.Anne.Anne.Turu)"
              class="small"
              row="3"
            />
            <Label
              v-if="bird.Anne.Anne.races.length > 0"
              row="3"
              text=""
              class="fas text-right"
              fontSize="16"
            />

            <ListView
              for="race in bird.Anne.Anne.races"
              row="4"
              class="m-y-0 p-y-0"
            >
              <v-template>
                <StackLayout orientation="horizontal">
                  <Label :text="titleCase(race.Sehir)" class="small" />
                  <Label :text="getYear(race.Yaris_Tarihi)" class="small" />
                  <Label :text="addLik(race.Derece)" class="small" />
                </StackLayout>
              </v-template>
            </ListView>
          </GridLayout>
        </GridLayout>
        <!-- dördüncü nesil -->
        <GridLayout
          v-if="forthGenerationInfoExists"
          id="thirdCol"
          rows="*,*,5,*,*,10,*,*,5,*,*"
          row="1"
          col="2"
        >
          <Label
            v-if="bird.Baba.Baba ? (bird.Baba.Baba.Baba ? true : false) : false"
            class="thirdColLine"
            text=""
            row="0"
          />

          <GridLayout
            v-if="bird.Baba.Baba ? (bird.Baba.Baba.Baba ? true : false) : false"
            rows="auto,auto,*"
            columns="*"
            row="0"
            class="card thirdGen male"
            @tap="gotoShowTheBird(bird.Baba.Baba.Baba.id)"
          >
            <Label
              :text="this.bird.Baba.Baba.Baba.bilezik"
              textWrap="true"
              row="0"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Baba.Baba.Baba.isim)"
              textWrap="true"
              row="1"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="bird.Baba.Baba.Baba.races.length > 0"
              text=""
              row="2"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(bird.Baba.Baba.Baba.Turu)"
              row="2"
              class="small"
            />
          </GridLayout>

          <GridLayout
            v-if="bird.Baba.Baba ? (bird.Baba.Baba.Anne ? true : false) : false"
            rows="auto,auto,*"
            columns="*"
            row="1"
            class="card thirdGen female"
            @tap="gotoShowTheBird(bird.Baba.Baba.Anne.id)"
          >
            <Label
              :text="this.bird.Baba.Baba.Anne.bilezik"
              textWrap="true"
              row="0"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Baba.Baba.Anne.isim)"
              textWrap="true"
              row="1"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="
                (bird.Baba.Baba.Anne ? true : false) &&
                bird.Baba.Baba.Anne.races.length > 0
              "
              text=""
              row="2"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(bird.Baba.Baba.Anne.Turu)"
              row="2"
              class="small"
            />
          </GridLayout>

          <StackLayout row="2" class="m-5"></StackLayout>

          <Label
            v-if="bird.Baba.Anne ? (bird.Baba.Anne.Baba ? true : false) : false"
            class="thirdColLine"
            text=""
            row="3"
          />

          <GridLayout
            v-if="bird.Baba.Anne ? (bird.Baba.Anne.Baba ? true : false) : false"
            rows="auto,auto,*"
            columns="*"
            row="3"
            class="card thirdGen male"
            @tap="gotoShowTheBird(bird.Baba.Anne.Baba.id)"
          >
            <Label
              :text="this.bird.Baba.Anne.Baba.bilezik"
              textWrap="true"
              row="0"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Baba.Anne.Baba.isim)"
              textWrap="true"
              row="1"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="
                (bird.Baba.Anne.Baba ? true : false) &&
                bird.Baba.Anne.Baba.races.length > 0
              "
              text=""
              row="2"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(bird.Baba.Anne.Baba.Turu)"
              row="2"
              class="small"
            />
          </GridLayout>

          <GridLayout
            v-if="bird.Baba.Anne ? (bird.Baba.Anne.Anne ? true : false) : false"
            rows="auto,auto,*"
            columns="*"
            row="4"
            class="card thirdGen female"
            @tap="gotoShowTheBird(bird.Baba.Anne.Anne.id)"
          >
            <Label
              :text="this.bird.Baba.Anne.Anne.bilezik"
              textWrap="true"
              row="0"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Baba.Anne.Anne.isim)"
              textWrap="true"
              row="1"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="
                (bird.Baba.Anne.Anne ? true : false) &&
                bird.Baba.Anne.Anne.races.length > 0
              "
              text=""
              row="2"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(bird.Baba.Anne.Anne.Turu)"
              row="2"
              class="small"
            />
          </GridLayout>

          <StackLayout row="5" class="m-10"></StackLayout>

          <Label
            v-if="bird.Anne.Baba ? (bird.Anne.Baba.Baba ? true : false) : false"
            class="thirdColLine"
            text=""
            row="6"
          />

          <GridLayout
            v-if="bird.Anne.Baba ? (bird.Anne.Baba.Baba ? true : false) : false"
            rows="auto,auto,*"
            columns="*"
            row="6"
            class="card thirdGen male"
            @tap="gotoShowTheBird(bird.Anne.Baba.Baba.id)"
          >
            <Label
              :text="this.bird.Anne.Baba.Baba.bilezik"
              textWrap="true"
              row="0"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Anne.Baba.Baba.isim)"
              textWrap="true"
              row="1"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="bird.Anne.Baba && bird.Anne.Baba.Baba.races.length > 0"
              text=""
              row="2"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(bird.Anne.Baba.Baba.Turu)"
              row="2"
              class="small"
            />
          </GridLayout>

          <GridLayout
            v-if="bird.Anne.Baba ? (bird.Anne.Baba.Anne ? true : false) : false"
            rows="auto,auto,*"
            columns="*"
            row="7"
            class="card thirdGen female"
            @tap="gotoShowTheBird(bird.Anne.Baba.Anne.id)"
          >
            <Label
              :text="this.bird.Anne.Baba.Anne.bilezik"
              textWrap="true"
              row="0"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Anne.Baba.Anne.isim)"
              textWrap="true"
              row="1"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="
                (bird.Anne.Baba.Anne ? true : false) &&
                bird.Anne.Baba.Anne.races.length > 0
              "
              text=""
              row="2"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(bird.Anne.Baba.Anne.Turu)"
              row="2"
              class="small"
            />
          </GridLayout>

          <StackLayout row="8" class="m-5"></StackLayout>

          <Label
            v-if="bird.Anne.Anne ? (bird.Anne.Anne.Baba ? true : false) : false"
            class="thirdColLine"
            text=""
            row="9"
          />

          <GridLayout
            v-if="bird.Anne.Anne ? (bird.Anne.Anne.Baba ? true : false) : false"
            rows="auto,auto,*"
            columns="*"
            row="9"
            class="card thirdGen male"
            @tap="gotoShowTheBird(bird.Anne.Anne.Baba.id)"
          >
            <Label
              :text="bird.Anne.Anne.Baba.bilezik"
              row="0"
              col="0"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Anne.Anne.Baba.isim)"
              textWrap="true"
              row="1"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="
                (bird.Anne.Anne.Baba ? true : false) &&
                bird.Anne.Anne.Baba.races.length > 0
              "
              text=""
              row="2"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(bird.Anne.Anne.Baba.Turu)"
              row="2"
              class="small"
            />
          </GridLayout>

          <GridLayout
            v-if="bird.Anne.Anne ? (bird.Anne.Anne.Anne ? true : false) : false"
            rows="auto,auto,*"
            columns="*"
            row="10"
            class="card thirdGen female"
            @tap="gotoShowTheBird(bird.Anne.Anne.Anne.id)"
          >
            <Label
              :text="this.bird.Anne.Anne.Anne.bilezik"
              textWrap="true"
              row="0"
              :fontSize="certFontSize - 3"
            />
            <Label
              :text="titleCase(this.bird.Anne.Anne.Anne.isim)"
              textWrap="true"
              row="1"
              class="names"
              :fontSize="certFontSize - 1"
            />
            <Label
              v-if="
                (bird.Anne.Anne.Anne ? true : false) &&
                bird.Anne.Anne.Anne.races.length > 0
              "
              text=""
              row="2"
              class="fas text-right"
              fontSize="14"
            />
            <Label
              :text="turu(bird.Anne.Anne.Anne.Turu)"
              row="2"
              class="small"
            />
          </GridLayout>
        </GridLayout>
      </GridLayout>
      <Button text="Paylaş" row="1" col="0" @tap="takeScreenShotThenShare" />
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import * as queries from "@/graphql/queries";
import { BACKEND } from "@/helpers/config";
import { vocaMixin, navMixin } from "@/helpers/ui";
import routes from "@/routes/index";
import { format } from "date-fns";
import { tr } from "date-fns/locale";
import {
  knownFolders,
  ImageSource,
  Screen,
  FileSystemEntity,
} from "@nativescript/core";
import * as fs from "@nativescript/core/file-system";
import { shareImage } from "@nativescript/social-share";
import { Cscreenshot } from "@enduco/nativescript-cscreenshot";
// var image = require("ui/image");
// var plugin = require("nativescript-screenshot");

export default {
  props: {
    birdID: {
      type: Number,
      default: 230,
    },
  },
  data() {
    return {
      backend: BACKEND,
      screenShotPath: "",
      screenHeight: Screen.mainScreen.heightDIPs.toFixed(1),
      screenWidth: Screen.mainScreen.widthDIPs.toFixed(1),
      certFontSize: ((Screen.mainScreen.widthDIPs / 100) * 3.2).toFixed(2),
      halfofFirstGenHeight:
        (Screen.mainScreen.heightDIPs - (90 + 145 + 90)) / 3 / 2,
      certificateViewColumns:
        (Screen.mainScreen.widthDIPs / 3) * 1.25 + " , *, *",
      bilezikLeft: ((Screen.mainScreen.widthDIPs / 3) * 1.25) / 2,
      bird: {
        isim: "",
        bilezik: "",
        Dogum_Tarihi: "",
        Turu: "",
        Cinsiyet: "",
        Canli: true,
        Fotograf: {},
        user: {},
        races: [],
        Anne: {},
        Baba: {},
      },
    };
  },
  apollo: {
    bird: {
      query: queries.PEDIGREE,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
  mixins: [vocaMixin, navMixin],
  methods: {
    birthDate(date) {
      return format(Date.parse(date), "d MMM yy", {
        locale: tr,
      });
    },
    getYear(date) {
      return format(Date.parse(date), "yyyy", {
        locale: tr,
      });
    },
    cinsiyetIkon(Cinsiyet) {
      return Cinsiyet == "disi" ? "" : Cinsiyet == "erkek" ? "" : "";
    },
    takeScreenShotThenShare() {
      let screen = new Cscreenshot();
      let view = this.$refs.certificateView.nativeView;
      screen.take(view, (image: ImageSource) => {
        const folderDest = fs.path.join(
          knownFolders.documents().path,
          "screenshots"
        );
        var pathDest = fs.path.join(
          folderDest,
          `Sertifika-${this.birdID}-${Date.now()}.jpg`
        );
        if (!fs.File.exists(folderDest)) {
          fs.Folder.fromPath(folderDest);
        }
        const saved: boolean = image.saveToFile(pathDest, "jpg");
        if (saved) {
          // console.log("Image saved successfully to " + pathDest);
          this.screenShotPath = pathDest;
          const loadedImage: ImageSource = ImageSource.fromFileSync(pathDest);
          shareImage(loadedImage);
        }
      });
    },
    turnBack() {
      this.$navigateTo(routes.listMyBirds);
    },
  },
  computed: {
    firstColRows() {
      // console.log("this.screenHeight :>> ", this.screenHeight);
      const selfBoxHeight =
        this.screenHeight > 640
          ? (this.screenHeight - this.screenHeight / 2) / 3
          : 140;
      return (
        "90," +
        (this.screenHeight - this.screenHeight / 2) / 3 +
        ",*," +
        (this.screenHeight - this.screenHeight / 2) / 3 +
        "," +
        this.screenHeight / 10 +
        ",40"
      );
    },
    thirdGenerationInfoExists() {
      if (this.bird.Baba && this.bird.Anne) {
        return this.bird.Baba.Baba
          ? true
          : false || this.bird.Baba.Anne
          ? true
          : false || this.bird.Anne.Baba
          ? true
          : false || this.bird.Anne.Anne
          ? true
          : false;
      } else {
        return false;
      }
    },
    forthGenerationInfoExists() {
      if (this.thirdGenerationInfoExists) {
        const firstFamilyOfForthGeneration = this.bird.Baba.Baba
          ? this.bird.Baba.Baba.Baba || this.bird.Baba.Baba.Anne
            ? true
            : false
          : false;
        const secondFamilyOfForthGeneration = this.bird.Baba.Anne
          ? this.bird.Baba.Anne.Anne || this.bird.Baba.Anne.Baba
            ? true
            : false
          : false;
        const thirdFamilyOfForthGeneration = this.bird.Anne.Baba
          ? this.bird.Anne.Baba.Anne || this.bird.Anne.Baba.Baba
            ? true
            : false
          : false;
        const forthFamilyOfForthGeneration = this.bird.Anne.Anne
          ? this.bird.Anne.Anne.Anne || this.bird.Anne.Anne.Baba
            ? true
            : false
          : false;

        return (
          firstFamilyOfForthGeneration ||
          secondFamilyOfForthGeneration ||
          thirdFamilyOfForthGeneration ||
          forthFamilyOfForthGeneration
        );
      } else {
        return false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "@/app.scss";
$lineWidth: 3;
$lineColor: gray;

#certificateView {
  border-width: 1;
  border-color: gray;
  border-radius: 3;
  border-style: inset;
}

#thirdCol {
  .card {
    margin: 0 3 8 4;
  }
}
#self {
  android-elevation: 5;
  background-color: #f0f0f0;
  margin: 6 20 6 3;
  padding: 2;
  .buyuk {
    color: #98019a;
  }
  .small {
    font-family: "Open Sans Condensed", sans-serif;
  }

  .yaris {
    font-family: "Open Sans Condensed", sans-serif;

    padding: 2;
  }
}
.male {
  background-color: #d6f5fc;
}
.female {
  background-color: #fcedf6;
}
.card {
  android-elevation: 3;
  // border-width: 0 0 0 2;
  border-width: 0;
  border-color: gray;
  border-radius: 0;
  text-align: center;
  margin-bottom: 9;
  color: black;

  .fas {
    color: #ffdf00;
  }
  .small {
    font-family: "Open Sans Condensed", sans-serif;
    padding-left: 3;
  }
  .numbers {
    padding-left: 0 3;
  }
}
.firstGen {
  margin: 3 10 0 15;
}
.secondGen {
  margin: 0 5 8 7;

  .card {
    android-elevation: 2;
    margin-bottom: 8;
    padding-bottom: 2;
  }
}

.bilezik {
  color: white;
  background-color: rgb(226, 28, 115);
}

.small {
  font-family: "Open Sans Condensed", sans-serif;

  margin: 0;
  padding: 0;
}
.names {
  text-align: center;
  font-weight: bold;
  padding: 2;
  color: desaturate(#8e0664, 70%);
}
ListView {
  padding: 0;
  margin: 0;
  StackLayout {
    padding: 0;
    margin: 0;
  }
  GridLayout {
    padding: 0;
    margin: 0;
  }
}
.disi {
  color: $pembe;
}

.erkek {
  color: $mavi;
}

.bebek {
  color: $turkuaz;
}
#sertifikaLogo {
  margin-top: 3;
  margin-right: 3;
  padding: 1 2;
  background-color: #f7e8c6;
  color: #8e0664;
  StackLayout {
    font-size: 9;
    vertical-align: middle;
  }
}
.resimUstuYazi {
  padding: 3;
  transform: rotate(45deg);
  color: white;
  font-weight: bold;
}
#circle {
  width: 100;
  height: 100;
  // border: 120 solid #d31f76;
  border-radius: 45;
  // background-color: #d31f76;
  background: linear-gradient(to right, #f4e4c3, #e8d6b2);
}
#profilFoto {
  padding: 5 5 0 0;
  margin: 5 5 2 2;
}

#fatherLine {
  background-color: transparent;
  margin-right: 0;
  margin-bottom: -10;
  margin-left: 6;
  border-left-color: $lineColor;
  border-left-width: $lineWidth;
  border-left-style: solid;
  border-top-color: $lineColor;
  border-top-width: $lineWidth;
  border-top-style: solid;
}
#motherLine {
  background-color: transparent;
  margin-top: -10;
  margin-right: 0;
  margin-left: 6;
  border-left-color: $lineColor;
  border-left-width: $lineWidth;
  border-left-style: solid;
  border-bottom-color: $lineColor;
  border-bottom-width: $lineWidth;
  border-bottom-style: solid;
}
.secondColLine {
  background-color: transparent;
  margin: 55 0 -55 -2;
  padding: 3 0 0 -3;
  border-left-color: $lineColor;
  border-left-width: $lineWidth;
  border-left-style: solid;
  border-bottom-color: $lineColor;
  border-bottom-width: $lineWidth;
  border-bottom-style: solid;
  border-top-color: $lineColor;
  border-top-width: $lineWidth;
  border-top-style: solid;
}

.thirdColLine {
  background-color: transparent;
  margin: 30 5 -30 -2;
  padding: 3 0 0 -3;
  border-left-color: $lineColor;
  border-left-width: $lineWidth;
  border-left-style: solid;
  border-bottom-color: $lineColor;
  border-bottom-width: $lineWidth;
  border-bottom-style: solid;
  border-top-color: $lineColor;
  border-top-width: $lineWidth;
  border-top-style: solid;
}
.ns-dark {
  LABEL {
    color: black;
  }
}
</style>