<template>
  <Page>
    <ActionBar :class="'y' + [bilezikForm.bilezikYili]">
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label
          class="text-center"
          text="Kuş Kaydı Arama"
          col="1"
          :class="'y' + [bilezikForm.bilezikYili]"
        />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout
        ~mainContent
        rows="auto,*,auto,auto,60"
        columns="*"
        :class="'y' + [bilezikForm.bilezikYili]"
      >
        <Label
          row="0"
          :text="bilezikNO"
          class="text-center h3"
          :class="'y' + [bilezikForm.bilezikYili]"
        />

        <RadDataForm
          row="1"
          :source="bilezikForm"
          :metadata="bilezikFormMeta"
        ></RadDataForm>
        <ActivityIndicator v-if="loading" row="2" busy="true" />
        <Label
          v-show="birdName"
          :text="this.bilezikNO"
          textWrap="true"
          class="text-center bilezik"
          row="2"
          @tap="gotoShowTheBird(birds[0].id)"
        />
        <Label
          v-if="birdName"
          row="3"
          :text="birdName"
          textWrap="true"
          :class="'y' + [bilezikForm.bilezikYili]"
        />
        <Button v-if="!birdName" row="4" text="Ara" @tap="searchBird" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import * as queries from "@/graphql/queries";
import { apolloClient } from "@/main";
import routes from "@/routes";
import { showToast, navMixin, alert } from "@/helpers/ui";
export default {
  data() {
    return {
      bilezikForm: {
        ulkeKodu: "TR",
        plakaKodu: "",
        uyeNo: "",
        kulupUyeNo: "",
        kusSiraNo: "",
        bilezikYili: 2020,
      },
      bilezikFormMeta: {
        isReadOnly: false,
        commitMode: "Immediate",
        validationMode: "OnLostFocus",
        propertyAnnotations: [
          {
            name: "ulkeKodu",
            displayName: "İlk Sahibinin Ülke Kodu",
            editor: "Email",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 3,
                  errorMessage: "Ülke Kodu 3 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 2,
                  errorMessage: "Ülke Kodu 2 karakterden daha kısa olamaz",
                },
              },
            ],
          },
          {
            name: "plakaKodu",
            displayName: "İlk Sahibinin Plaka Kodu",
            editor: "Email",
            validators: [
              {
                name: "MaximumLength",
                params: {
                  length: 3,
                  errorMessage: "Plaka Kodu 3 karakterden daha uzun olamaz",
                },
              },
              {
                name: "MinimumLength",
                params: {
                  length: 2,
                  errorMessage: "Plaka Kodu 2 karakterden daha kısa olamaz",
                },
              },
            ],
          },
          {
            name: "uyeNo",
            displayName: "Varsa Federasyon üye no",
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 1,
                  maximum: 9999,
                  errorMessage:
                    "Federasyon üye no 1 ile 9999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "kulupUyeNo",
            displayName: "Varsa Kulüp üye no",
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 1,
                  maximum: 9999,
                  errorMessage:
                    "Federasyon üye no 1 ile 9999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "kusSiraNo",
            displayName: "İlk Sahibinin Verdiği Kuş Sıra no",
            editor: "Number",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 0,
                  maximum: 999,
                  errorMessage: "Kuş Sıra no 0 ile 999 arasında olabilir",
                },
              },
            ],
          },
          {
            name: "bilezikYili",
            displayName: "İlk Sahibinin verdiği Bilezik yılı",
            editor: "Stepper",
            validators: [
              {
                name: "RangeValidator",
                params: {
                  minimum: 2000,
                  maximum: 2099,
                  errorMessage: "Bilezik yılı 2000 ile 2099 arasında olabilir",
                },
              },
            ],
          },
        ],
      },
      skipQuery: true,
      loading: false,
    };
  },
  mixins: [navMixin],

  apollo: {
    birds: {
      query: queries.BIRD_FROM_BILEZIK,
      variables() {
        return {
          bilezik: this.bilezikNO,
        };
      },
      skip() {
        return this.skipQuery;
      },
    },
  },
  methods: {
    bilezikFormIsNOTValid(bilezikForm): boolean {
      if (
        !(bilezikForm.kusSiraNo > 0) ||
        (!(bilezikForm.uyeNo > 0) && !(bilezikForm.kulupUyeNo > 0)) ||
        !(bilezikForm.plakaKodu > 0)
      ) {
        return true;
      } else {
        return false;
      }
    },
    searchBird() {
      if (this.bilezikFormIsNOTValid(this.bilezikForm)) {
        alert(
          "Bilezik Formu doldururken Hata",
          "Lütfen bilezik için gerekli bilgileri tam doldurunuz"
        );
        return;
      }
      this.skipQuery = false;
      this.loading = true;
      this.$apollo.queries.birds.refetch();
      // stop search --> show result
      setTimeout(() => {
        this.skipQuery = true;
        this.birds && this.birds.length > 0
          ? this.gotoShowTheBird(this.birds[0].id)
          : this.notFound();
        this.loading = false;
        this.$apollo.queries.birds.stop();
      }, 1500);
    },
    notFound() {
      showToast("Böyle Bir Kuş Yok", true);
      this.$navigateBack();
    },
  },
  computed: {
    bilezikNO() {
      const memberPortion: string =
        this.bilezikForm.kulupUyeNo > 0
          ? "K" + this.bilezikForm.kulupUyeNo
          : this.bilezikForm.uyeNo;
      const bilezikNo =
        this.bilezikForm.ulkeKodu +
        "-" +
        this.bilezikForm.plakaKodu +
        "-" +
        memberPortion +
        "-" +
        this.bilezikForm.kusSiraNo +
        "-" +
        this.bilezikForm.bilezikYili.toString();
      return bilezikNo;
    },
    birdName() {
      return this.birds ? this.birds[0].isim : "";
    },
  },
};
</script>

<style >
</style>