<template>
  <Page actionBarHidden="true" backgroundSpanUnderStatusBar="true">
    <ActivityIndicator v-if="$apollo.loading" busy="true" />
    <ScrollView v-else>
      <GridLayout columns="*" rows="auto,160,auto,85,auto,150,80">
        <android>
          <ImageZoom
            v-if="bird.Fotograf"
            :src="this.backend + this.bird.Fotograf.url"
            stretch="aspectFill"
            width="100%"
            height="350"
            row="0"
            class="p-t-20"
            verticalAlignment="stretch"
          />
        </android>
        <ios>
          <ImageZoom
            v-if="bird.Fotograf && bird.Fotograf.formats.large"
            :src="this.backend + this.bird.Fotograf.formats.large.url"
            stretch="none"
            :height="this.bird.Fotograf.formats.large.height / 2"
            row="0"
            class="p-t-20"
          />
          <ImageZoom
            v-else-if="bird.Fotograf"
            :src="this.backend + this.bird.Fotograf.url"
            stretch="aspectFill"
            width="100%"
            :height="this.bird.Fotograf.height / 2"
            row="0"
            class="p-t-20"
          />
        </ios>
        <Label
          row="0"
          col="0"
          horizontalAlignment="left"
          verticalAlignment="top"
          @tap="gotoListAllBirds"
          text=""
          class="fas p-20 back-button"
          fontSize="26"
        />
        <GridLayout
          rows="35,35,35,35"
          columns="*,90,60,60"
          row="1"
          class="text-center"
        >
          <!-- isim -->
          <ios>
            <Label
              v-if="bird.isim"
              :text="titleCase(bird.isim)"
              class="buyuk p-1"
              row="0"
              col="0"
            />
          </ios>
          <android>
            <Label
              v-if="bird.isim"
              :text="titleCase(bird.isim)"
              class="buyuk p-5 grifon"
              row="0"
              col="0"
            />
          </android>
          <Label text="Doğum" row="0" col="1" class="baslik" />
          <Label
            v-if="bird.Cinsiyet"
            :text="sexWord(this.bird.Cinsiyet)"
            row="0"
            col="2"
            class="baslik"
            :class="[bird.Cinsiyet]"
          />
          <Label
            v-if="bird.Cinsiyet"
            :text="sexIcon(this.bird.Cinsiyet)"
            row="1"
            col="2"
            class="fas"
            :class="[bird.Cinsiyet]"
            fontSize="24"
          />
          <Label
            :text="bird.bilezik.toUpperCase()"
            row="1"
            col="0"
            class="bilezik"
          />
          <Label
            v-if="bird.Dogum_Tarihi"
            :text="turkishDate(this.bird.Dogum_Tarihi)"
            row="1"
            col="1"
          />
          <Label
            text="Sahibi"
            row="2"
            col="0"
            colSpan="2"
            class="baslik text-center"
          />
          <android>
            <Label
              :text="titleCase(bird.user.username)"
              class="buyuk grifon"
              row="3"
              col="0"
              colSpan="2"
              @tap="gotoUserShow(bird.user.id)"
            />
          </android>
          <ios>
            <Label
              :text="titleCase(bird.user.username)"
              class="buyuk"
              row="3"
              col="0"
              colSpan="2"
              @tap="gotoUserShow(bird.user.id)"
            />
          </ios>
          <Label text="K.Üye" class="m-5" row="2" col="2" />
          <ios>
            <Label
              :text="bird.user.Kulup_Uye_No"
              class="buyuk p-y-1"
              row="3"
              col="2"
            />
          </ios>
          <android>
            <Label
              :text="bird.user.Kulup_Uye_No"
              class="buyuk grifon p-y-1"
              row="3"
              col="2"
            />
          </android>
          <Label text="F.Üye" class="m-5" row="2" col="3" />
          <ios>
            <Label
              :text="bird.user.Uye_No"
              class="buyuk p-y-1"
              row="3"
              col="3"
            />
          </ios>
          <android>
            <Label
              :text="bird.user.Uye_No"
              class="buyuk grifon p-y-1"
              row="3"
              col="3"
            />
          </android>
        </GridLayout>
        <GridLayout
          v-show="bird.Anne || bird.Baba"
          rows="30,45,10"
          columns="*, *"
          row="2"
          class="text-center"
        >
          <Label text="Anne" row="0" col="0" class="disi baslik" />
          <Label text="Baba" row="0" col="1" class="erkek baslik" />
          <Label
            v-if="bird.Anne"
            :text="bird.Anne.isim"
            row="1"
            col="0"
            class="disi-isim buyuk p-5"
            @tap="gotoShowTheBird(bird.Anne.id)"
          />
          <Label
            v-if="bird.Baba"
            :text="bird.Baba.isim"
            row="1"
            col="1"
            class="erkek-isim buyuk p-5"
            @tap="gotoShowTheBird(bird.Baba.id)"
          />
          <StackLayout class="hr" row="2" colspan="2"></StackLayout>
        </GridLayout>
        <GridLayout
          rows="30, 55"
          columns="55,*,*,55"
          row="3"
          class="text-center p-l-2 p-r-2"
          paddingTop="5"
        >
          <Label text="Cinsi" row="0" col="0" class="baslik" />
          <Label text="Türü" row="0" col="1" class="baslik" />
          <Label text="Kuyruk" row="0" col="2" class="baslik" />
          <Label text="Tepe" row="0" col="3" class="baslik p-r-3" />
          <ios>
            <Label
              :text="cinsi(this.bird.Cinsi)"
              row="1"
              col="0"
              class="p-t-5"
            />
            <Label :text="turu(this.bird.Turu)" row="1" col="1" class="p-t-5" />
            <Label
              :text="kuyruk ? kuyruk : 'Düz'"
              row="1"
              col="2"
              class="p-t-5"
            />
            <Label :text="tepesi(this.bird.Tepe)" row="1" col="3" />
          </ios>
          <android>
            <Label
              :text="cinsi(this.bird.Cinsi)"
              row="1"
              col="0"
              class="grifon p-t-5"
            />
            <Label
              :text="turu(this.bird.Turu)"
              row="1"
              col="1"
              class="grifon p-t-5"
            />
            <Label
              :text="kuyruk ? kuyruk : 'Düz'"
              row="1"
              col="2"
              class="grifon p-t-5"
            />
            <Label
              :text="tepesi(this.bird.Tepe)"
              row="1"
              col="3"
              class="grifon"
            />
          </android>
        </GridLayout>
        <GridLayout
          v-if="bird.Notlar"
          rows="*, *"
          columns="*"
          row="4"
          paddingTop="10"
        >
          <Label text="Notlar" row="0" class="baslik" />
          <Label :text="bird.Notlar" row="1" textWrap="true" />
        </GridLayout>
        <GridLayout
          v-if="bird.races.length > 0"
          rows="auto,*"
          columns="*"
          row="5"
        >
          <Label
            text="Katıldığı Yarışlar"
            row="0"
            col="0"
            class="h2 p-t-2 text-center"
          />
          <ListView for="race in bird.races" row="1" col="0">
            <v-template>
              <GridLayout rows="*" columns="*,*" @tap="gotoShowRace(race.id)">
                <Label
                  :text="titleCase(race.Yaris_Ad) + ': '"
                  class="p-l-2 font-weight-bold koyu"
                  col="0"
                />
                <StackLayout orientation="horizontal" col="1">
                  <Label :text="turkishDate(race.Yaris_Tarihi)" />
                  <Label :text="titleCase(race.Sehir)" />
                  <Label :text="addLik(race.Derece)" />
                </StackLayout>
              </GridLayout>
            </v-template>
          </ListView>
        </GridLayout>
        <GridLayout
          v-if="bird.Anne || bird.Baba"
          rows="*, 10"
          columns="30, *"
          row="6"
          padding="10"
          marginTop="-15"
        >
          <Label
            text=""
            row="0"
            col="0"
            class="fas koyu"
            fontSize="20"
            verticalAlignment="middle"
          />
          <Button
            text="Pedigree Sertifikası"
            @tap="gotoPedigree"
            row="0"
            col="1"
          />
        </GridLayout>
      </GridLayout>
    </ScrollView>
  </Page>
</template>

<script lang="ts">
import * as queries from "@/graphql/queries";
import { BACKEND } from "@/helpers/config";
import { vocaMixin, dateMixin, navMixin } from "@/helpers/ui";
import routes from "@/routes";
import { format } from "date-fns";
import { tr } from "date-fns/locale";
import { apolloClient } from "@/main";

export default {
  props: {
    birdID: {
      type: [Number, String],
      default: 440,
    },
  },
  mixins: [vocaMixin, dateMixin, navMixin],
  data: () => ({
    backend: BACKEND,
    bird: {
      isim: "",
      bilezik: null,
      Dogum_Tarihi: null,
      Turu: "",
      Cinsiyet: "",
      Fotograf: {
        url: "",
        width: "",
        height: "",
        formats: {
          small: { url: "" },
          large: {
            url: "",
            width: "",
            height: "",
          },
        },
      },
      Notlar: null,
      Tepe: "",
      Cinsi: "",
      Sag_Kuyruk: null,
      Sol_Kuyruk: null,
      Atlama: true,
      Canli: true,
      user: { id: "", username: "", Uye_No: "", Kulup_Uye_No: "" },
      Anne: { id: "", isim: "" },
      Baba: { id: "", isim: "" },
      diseases: [],
      vaccines: [],
      races: [],
      eggs: [],
      transfer: null,
    },
  }),
  apollo: {
    bird: {
      query: queries.BIRD,
      variables() {
        return { id: this.birdID };
      },
    },
  },
  methods: {
    gotoShowRace(raceID) {
      this.$navigateTo(routes.showRating, {
        props: {
          raceID: raceID,
          birdName: this.bird.isim,
          birdBilezik: this.bird.bilezik,
        },
        animated: true,
        transition: {
          name: "slideTop",
          duration: 380,
          curve: "easeIn",
        },
      });
    },

    gotoPedigree() {
      this.$navigateTo(routes.pedigree, {
        props: {
          birdID: this.birdID,
        },
        animated: true,
        transition: {
          name: "slideTop",
          duration: 380,
          curve: "easeIn",
        },
      });
    },
  },
  computed: {
    kuyruk() {
      if (this.bird.Sag_Kuyruk || this.bird.Sol_Kuyruk) {
        const sagKuyruk =
          this.bird.Sag_Kuyruk == null ? 0 : this.bird.Sag_Kuyruk;
        const solKuyruk =
          this.bird.Sol_Kuyruk == null ? 0 : this.bird.Sol_Kuyruk;
        const kuyruk = sagKuyruk + " 'e " + solKuyruk;
        return this.Atlama ? kuyruk + " Atlamalı" : kuyruk + " Atlamasız";
      }
    },
  },
  mounted() {
    setTimeout(() => {
      if (this.$apollo.loading) {
        this.$navigateTo(routes.listAllBirds);
      }
    }, 3000);
  },
};
</script>

<style lang="scss" scoped>
@import "@/app.scss";
@import "../../../birds.css";

.back-button {
  color: $markaAcik;
  display: block;
  height: 70;
  background-color: rgba(0, 0, 0, 0.33);
}
.disi {
  background-color: $pembe;
  color: lighten($complementary-color, 15);
}
.disi-isim {
  background-color: lighten($pembe, 11);
  color: lighten($complementary-color, 15);
}
.erkek {
  background-color: $mavi;
  color: lighten($complementary-color, 11);
}
.erkek-isim {
  background-color: lighten($mavi, 11);
  color: lighten($complementary-color, 11);
}
.bebek {
  background-color: $turkuaz;
  color: darken($complementary-color, 60);
}
.baslik {
  font-weight: 900;
  font-size: 16;
}
.drawer-item {
  padding: 8 16;
  color: $lacivert;
  font-size: 16;
}
.bilezik {
  font-family: "Bebas Neue", "Bebas Neue Regular", "BebasNeue-Regular",
    sans-serif;
  font-size: 20;
}
</style>
