<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Güvercin Transfer Kilidi" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout
        ~mainContent
        rows="auto,auto,auto,60,60,60,60"
        columns="*"
        class="docs"
      >
        <Label
          v-if="!validExistingTransferCode && !generatedTransferCode"
          text="Güvercininizi farklı bir kullanıcıya transfer etmek için gereken 9 haneli kod, onayınızın ardından aşağıda gösterilecektir"
          textWrap="true"
          row="0"
          class="p-30"
        />
        <Label
          v-if="generatedTransferCode"
          text="Transfer kilidi başarıyla açılmıştır. Oluşturulan kod hafızaya kopyalanmıştır."
          textWrap="true"
          row="0"
          class="p-30"
        />

        <Label
          v-if="validExistingTransferCode"
          text="Oluşturulan kodlar 48 saat geçerlidir"
          textWrap="true"
          row="0"
          class="text-center kucuk"
        />

        <Label
          text="Transfer Edeceğiniz Güvercininiz"
          textWrap="true"
          row="1"
          class="h2 text-center"
        />
        <ActivityIndicator v-if="$apollo.loading" row="2" busy="true" />
        <GridLayout v-else rows="*, *" columns="*, *" row="2" class="p-10 m-20">
          <Label
            text="Güvercin Adı: "
            row="0"
            col="0"
            class="buyuk font-weight-bold"
          />
          <Label :text="bird.isim" row="0" col="1" class="buyuk" />
          <Label
            text="Bilezik No: "
            row="1"
            col="0"
            class="buyuk font-weight-bold"
          />
          <Label :text="bird.bilezik" row="1" col="1" class="buyuk" />
        </GridLayout>

        <Button
          v-if="!validExistingTransferCode && !generatedTransferCode"
          row="3"
          text="Transfer Kilidinin Kaldır"
          @tap="generateRandomCodeAndCreateTransfer"
          class="m-t-10"
        />
        <Label
          v-if="validExistingTransferCode"
          :text="
            calculatedTimeBefore +
            ' Önce Oluşturulmuş ve Halen Geçerli Bir Transfer Kodunuz Var'
          "
          textWrap="true"
          row="3"
          class="h4 text-center p-5"
        />

        <TextField
          v-if="validExistingTransferCode"
          hint="KOD Alanı"
          :text="validExistingTransferCode"
          row="4"
          class="h2 koyu parlakfon text-center m-x-30"
          editable="false"
        />
        <TextField
          v-if="generatedTransferCode"
          hint="KOD Alanı"
          :text="generatedTransferCode"
          row="4"
          class="h2 koyu parlakfon text-center m-x-30"
          editable="false"
        />
        <Button
          v-if="!$apollo.loading"
          text="Bilezik No Paylaş"
          @tap="shareCode(bird.bilezik)"
          row="5"
        />
        <Button
          v-if="validExistingTransferCode"
          text="Kodu Paylaş"
          @tap="shareCode(validExistingTransferCode)"
          row="6"
        />
        <Button
          v-if="generatedTransferCode"
          text="Oluşturulan Kodu Paylaş"
          @tap="shareCode(generatedTransferCode)"
          row="6"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import { showToast } from "@/helpers/ui";
import * as SocialShare from "@nativescript/social-share";
import { apolloClient } from "@/main";
import {
  getText,
  setText,
  getTextSync,
  setTextSync,
} from "nativescript-clipboard";
import { formatDistanceToNow } from "date-fns";
import { tr } from "date-fns/locale";
const randCodeLength = 9;
const lessThanDays = 2;

export default {
  props: {
    birdID: {
      type: Number,
      // default: 9
    },
  },
  data() {
    return {
      generatedTransferCode: "",
      bird: {
        isim: "",
        bilezik: "",
        transfer: {
          id: null,
          Guvenlik_Kodu: "",
          updated_at: "",
        },
      },
    };
  },
  methods: {
    generateRandomCodeAndCreateTransfer() {
      const transferCodeToMutate = this.generateRandomCode(randCodeLength);
      apolloClient
        .mutate({
          mutation: mutations.CREATE_TRANSFER_CODE,
          // Parameters
          variables: {
            birdID: this.birdID,
            Guvenlik_Kodu: transferCodeToMutate,
          },
        })
        .then((data) => {
          // Result
          /* console.log(
            "Incoming  from server ::::: :>> ",
            data.data.createTransfer.transfer
          ); */
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
      this.generatedTransferCode = transferCodeToMutate;
      this.setClipboard(this.generatedTransferCode);
    },
    generateRandomCode(length: number): string {
      return Math.random().toString(36).substr(2, length);
    },
    shareCode(code: string) {
      SocialShare.shareText(code);
    },
    setClipboard(code: string): void {
      setText(code)
        .then(() => this.feedback("Wrote to the clipboard"))
        .catch((err: string) => this.feedback(`Error: ${err}`));
    },
    daysBefore(date: string) {
      const difference = Date.now() - Date.parse(date);
      return Math.floor(difference / 86400000);
    },
  },
  apollo: {
    bird: {
      query: queries.BIRD,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
  computed: {
    validExistingTransferCode() {
      // less than 2 days
      return this.bird.transfer &&
        this.daysBefore(this.bird.transfer.updated_at) < lessThanDays
        ? this.bird.transfer.Guvenlik_Kodu
        : false;
    },
    calculatedTimeBefore() {
      return this.bird.transfer &&
        this.daysBefore(this.bird.transfer.updated_at) < lessThanDays
        ? formatDistanceToNow(Date.parse(this.bird.transfer.updated_at), {
            locale: tr,
          })
        : false;
    },
  },
};
</script>

<style lang="scss" scoped>
.docs {
  background-color: rgb(202, 209, 198);
}
.ns-dark {
  .docs {
    background-color: rgb(34, 37, 33);
  }
  Label {
    color: white;
  }
}
</style>