<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Profile Fotoğraf Ekleme" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent columns="*" rows="*,60,60,60" class="fon">
        <Image
          :src="photo"
          stretch="aspectFill"
          row="0"
          height="300"
          width="300"
        />
        <Button
          :text="photo == null ? 'Fotoğraf Çek' : 'Yeniden Çek'"
          @tap="takeSelfie"
          row="1"
          class="p-5 font-weight-bold"
        />
        <Button
          text="Galeriden Seç"
          @tap="selectSinglePhoto"
          row="2"
          class="p-5 font-weight-bold"
        />

        <Button
          v-show="photo"
          text="Onayla ve Gönder"
          @tap="uploadToServer"
          row="3"
          class="font-weight-bold"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>

<script lang="ts">
import {
  ApplicationSettings,
  ImageSource,
  knownFolders,
  File,
  path,
  Folder,
  isAndroid,
  isIOS,
} from "@nativescript/core";
import * as camera from "@nativescript/camera";
import * as config from "@/helpers/config";
import {
  request,
  HTTPFormData,
  HTTPFormDataEntry,
} from "@klippa/nativescript-http";
import { apolloClient } from "@/main";
import * as mutations from "@/graphql/mutations";
import * as queries from "@/graphql/queries";
import * as imagepicker from "@nativescript/imagepicker";
import routes from "@/routes";
import { formatISO } from "date-fns";

export default {
  data() {
    return {
      photo: null,
      photoPath: "",
      fileName: "",
      userID: ApplicationSettings.getNumber("userID"),
      today: formatISO(new Date(), { representation: "date" }),
    };
  },
  methods: {
    takeSelfie() {
      camera
        .takePicture({
          width: 170,
          height: 170,
          keepAspectRatio: true,
          cameraFacing: "front",
        })
        .then((imageAsset) => {
          this.saveImage(imageAsset);
        })
        .catch((err) => {
          console.log("Error -> " + err.message);
        });
    },
    saveImage(imageAsset) {
      // SAVE IMAGE
      ImageSource.fromAsset(imageAsset).then((imageSource: ImageSource) => {
        const fileName: string =
          "user-" + this.userID + "-" + new Date().getTime() + ".jpeg";
        this.fileName = fileName;
        const folderPath: string = knownFolders.documents().path;
        const filePath: string = path.join(folderPath, fileName);
        const saved: boolean = imageSource.saveToFile(filePath, "jpeg");
        if (saved) {
          console.log("Saved to: " + filePath);
          // reasign
          this.photoPath = filePath;
        } else {
          console.log("not saved");
        }
        const loadedImage: ImageSource = ImageSource.fromFileSync(filePath);
        this.photo = loadedImage;
      });
    },
    selectSinglePhoto() {
      const context = imagepicker.create({ mode: "single" });
      this.startSelection(context);
    },
    startSelection(context) {
      context
        .authorize()
        .then(() => {
          return context.present();
        })
        .then((selection) => {
          // START CLEAN
          this.photo = null;
          this.photoPath = null;
          this.fileName = null;
          selection[0].options.width = selection[0].options.height = 600;
          // console.log("selection[0] :>> ", selection[0]);
          // resize image
          /* const imageSourceInsideFunction = ImageSource.fromFileSync(
            selection[0]._android
          );
          const resizedImage = imageSourceInsideFunction.resize(600); */
          // SAVE IMAGE
          ImageSource.fromAsset(selection[0]).then(
            (imageSource: ImageSource) => {
              const fileName: string = this.finalFileName("gal");
              this.fileName = fileName;
              const folderPath: string = knownFolders.documents().path;
              const filePath: string = path.join(folderPath, fileName);
              const saved: boolean = imageSource.saveToFile(filePath, "jpeg");
              if (saved) {
                console.log("Saved to: " + filePath);
                this.photoPath = filePath;
              } else {
                console.log("not saved");
              }
              const loadedImage: ImageSource = ImageSource.fromFileSync(
                filePath
              );
              this.photo = loadedImage;
            }
          );

          // console.log("Selection done: " + JSON.stringify(selection[0]));
          // android için file path
          this.photo = selection[0];
          this.photoPath = selection[0].android.toString();
          this.fileName = this.photoPath.split(/(\\|\/)/g).pop();
          // selection[0].options.width = this.previewSize;
          // selection[0].options.height = this.previewSize;
          const imageSourceInsideFunction = ImageSource.fromFileSync(
            this.photo._android
          );
          const resizedImage = imageSourceInsideFunction.resize(600);
          this.photo = resizedImage;
          const resizedFileName: string = this.finalFileName;

          let resizedImageFolder = this.photoPath
            .split(/(\\|\/)/g)
            .slice(0, -1)
            .join("");
          this.photoPath = resizedImageFolder + resizedFileName;
          this.fileName = resizedFileName;
        })
        .catch((err) => {
          console.log("Error -> " + err.message);
        });
    },
    uploadToServer() {
      const form = new HTTPFormData();
      const imageFile: File = File.fromPath(this.photoPath);
      const binarySource = imageFile.readSync();
      const formFile = new HTTPFormDataEntry(
        binarySource,
        this.fileName,
        "image/jpeg"
      );
      const jwt = ApplicationSettings.getString("token");
      form.append("files", formFile);
      request({
        url: config.BACKEND + "/upload",
        method: "POST",
        headers: { Authorization: "Bearer " + jwt },
        content: form,
      }).then(
        (response) => {
          const fotoID = response.content.toJSON()[0].id;
          this.updatePhotoOfUser(fotoID);
        },
        (e) => {
          console.log("e :>> ", e);
        }
      );
    },
    updatePhotoOfUser(fotoID) {
      apolloClient
        .mutate({
          // Query
          mutation: mutations.ADD_SELFIE,
          // Parameters
          variables: {
            userID: this.userID,
            fotoID: fotoID,
          },
        })
        .then((data) => {
          this.$navigateTo(routes.userShow, {
            props: {
              userID: this.userID,
            },
            // clearHistory: true,
            animated: false,
            transition: {
              name: "slideLeft",
              duration: 380,
              curve: "easeIn",
            },
          });
        })
        .catch((error) => {
          // Error
          console.error(error);
        });
    },
    finalFileName(source: string) {
      return (
        "u" +
        this.userID +
        "-b" +
        this.birdID +
        "-" +
        this.today +
        "-" +
        source +
        ".jpeg"
      );
    },
  },
  mounted() {
    camera.requestPermissions().then(
      //request permissions for camera
      (success) => {},
      (failure) => {
        alert("Fotoğraf Eklemek için İzin vermelisiniz");
      }
    );
  },
};
</script>

<style lang="scss" scoped></style>
