<template>
  <Page actionBarHidden="true" backgroundSpanUnderStatusBar="true">
    <ActivityIndicator v-if="$apollo.loading" busy="true" />
    <GridLayout v-else class="fon" rows="120,*,100" columns="*">
      <GridLayout
        row="0"
        rows="*,*"
        columns="26,90,120,*"
        class="p-b-10 ana-renk-fon ana-renk"
      >
        <Label
          text="Yumurtlamış Kuşlarınız"
          textWrap="true"
          row="0"
          col="0"
          colSpan="4"
          class="text-center p-b-15 p-t-10"
          verticalAlignment="center"
          @swipe="refresh"
        />
        <Label
          col="1"
          row="1"
          text="Kuş"
          class="text-center font-weight-bold p-b-5"
          verticalAlignment="center"
        />
        <Label
          col="2"
          row="1"
          text="Görülme"
          class="text-center font-weight-bold p-b-5"
          verticalAlignment="center"
        />
        <Label
          col="3"
          row="1"
          text="Notlar"
          class="text-center font-weight-bold p-b-5"
          verticalAlignment="center"
        />
      </GridLayout>
      <ListView v-if="birds" for="kus in birds" row="1">
        <v-template>
          <GridLayout
            @tap="gotoHealth(kus.id)"
            columns="26,90,120,*"
            rows="*"
            class="list-item list-item-name"
          >
            <Label
              col="0"
              text=""
              textWrap="true"
              class="fas koyu"
              fontSize="22"
            />
            <Label
              col="1"
              :text="kus.isim"
              :key="kus.id"
              class="text-center p-b-10"
              verticalAlignment="center"
            />
            <Label
              col="2"
              :text="kadarOnce(kus.eggs[0].Gorulme_Tarihi) + ' önce'"
              class="text-center p-b-10"
              verticalAlignment="center"
            />
            <Label
              col="3"
              :text="kus.eggs[0].Notlar"
              class="text-center p-b-10"
              verticalAlignment="center"
            />
          </GridLayout>
        </v-template>
      </ListView>
      <Label
        v-if="!birds"
        text="Yumurtlamış Kuşunuz yok"
        textWrap="true"
        row="1"
      />
      <Button
        text="Tüm Kuşlarımı Görüntüle"
        @tap="gotoListMyBirds"
        row="2"
        class="p-5"
      />
    </GridLayout>
  </Page>
</template>

<script lang="ts">
import routes from "@/routes";
import { formatDistanceToNow } from "date-fns";
import { tr } from "date-fns/locale";
import * as queries from "@/graphql/queries";
import { ApplicationSettings } from "@nativescript/core";
import { navMixin } from "@/helpers/ui";
import { LocalNotifications } from "@nativescript/local-notifications";

export default {
  data() {
    return {
      userID: ApplicationSettings.getNumber("userID"),
    };
  },
  mixins: [navMixin],
  methods: {
    kadarOnce: (tarih) => {
      return formatDistanceToNow(Date.parse(tarih), { locale: tr });
    },
    async refresh() {
      this.freshingUp = true;
      await this.$apollo.queries.birds.refetch();
      this.freshingUp = false;
    },
  },
  apollo: {
    birds: {
      query: queries.BIRDS_WITH_EGGS,
      variables() {
        return {
          userId: this.userID,
        };
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.baslik {
  border-bottom-color: white;
  border-bottom-width: 3;
  text-align: center;
}
</style>
