<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center fas" text="" fontSize="18" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="auto,auto,*,60" columns="*" class="docs">
        <Label
          text="Tek Adımda Güvercin Kaydını Kendi ÜzerinizeAlın!"
          textWrap="true"
          row="0"
          class="h2 m-20 text-center fadeIn"
        />

        <Label
          text=""
          textWrap="true"
          row="1"
          fontSize="32"
          class="fas m-30 text-center slideInDown"
        />
        <Label
          text="Güvercinin farklı bir kullanıcıya transfer edilebilmesi için, (varsa) güvercin üzerindeki transfer kilidinin kaldırılmış olması gerekir.
Transfer kilidi güvercin kaydının çalınmasına karşı bir önlemdir. 
"
          editable="false"
          textWrap="true"
          row="2"
          class="text-center p-5"
        />
        <Button
          text="Transfer Bilgilerini Aldım"
          @tap="gotoTransferRequest"
          row="3"
          class="m-b-15"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import { navMixin } from "@/helpers/ui";
export default {
  mixins: [navMixin],
};
</script>
<style lang="scss" scoped>
.docs {
  background-color: rgb(202, 209, 198);
}
.ns-dark {
  .docs {
    background-color: rgb(34, 37, 33);
  }
  Label {
    color: white;
  }
}
</style>