<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Kuş Transfer Başvurusu" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="auto,*,80" columns="*" class="fon">
        <Label
          text="Transfer etmek istediğiniz güvercinin bilezik numarasını,transfer kodu ile birlikte girerek işlemi başlatın. "
          textWrap="true"
          class="p-20"
          row="0"
        />

        <StackLayout row="1" class="m-5">
          <StackLayout :class="status($v.request.birdBilezik)">
            <TextField
              class="nt-input -rounded m-10 -border p-5 input-field"
              hint="Bilezik No Yapıştır"
              autocorrect="false"
              autocapitalizationType="none"
              v-model.lazy="$v.request.birdBilezik.$model"
              @blur="$v.request.birdBilezik.$touch()"
              returnKeyType="next"
            ></TextField>
            <Label
              class="kucuk"
              text="Bilezik No 26 karakterden uzun olamaz"
              v-if="!$v.request.birdBilezik.maxLength"
            />
            <Label
              class="kucuk"
              text="Bilezik No 11 karakterden kısa olamaz"
              v-if="!$v.request.birdBilezik.minLength"
            />
          </StackLayout>
          <StackLayout :class="status($v.request.transferCode)">
            <TextField
              class="nt-input -rounded m-10 -border p-5 input-field"
              hint="Transfer Kod Yapıştır"
              keyboardType="email"
              autocorrect="false"
              autocapitalizationType="none"
              v-model.lazy="$v.request.transferCode.$model"
              @blur="$v.request.transferCode.$touch()"
              returnKeyType="next"
            ></TextField>
            <Label
              class="kucuk"
              text="Transfer Kodu 12 karakterden uzun olamaz"
              v-if="!$v.request.transferCode.maxLength"
            />
            <Label
              class="kucuk"
              text="Transfer Kodu 6 karakterden kısa olamaz"
              v-if="!$v.request.transferCode.minLength"
            />
          </StackLayout>
        </StackLayout>

        <Button
          text="Transferi başlat"
          @tap="startTransfer"
          row="2"
          class="m-b-10"
        />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import { showToast, alert } from "@/helpers/ui";
import {
  required,
  minLength,
  maxLength,
  between,
} from "vuelidate/lib/validators";

export default {
  data() {
    return {
      request: {
        birdBilezik: "",
        transferCode: "",
      },
    };
  },
  validations: {
    request: {
      birdBilezik: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(20),
      },
      transferCode: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(12),
      },
    },
  },
  methods: {
    /* var content = clipboard.getText();
  console.log("Read from clipboard: " + content); */
    startTransfer() {
      if (!this.request.birdBilezik || !this.request.transferCode) {
        console.log(this.request.birdBilezik);
        console.log(this.request.transferCode);

        alert("Form doldururken Hata", "Lütfen iki alanı da doldurunuz");
        return;
      }
      if (this.request.transferCode.length !== 9) {
        alert("Form doldururken Hata", "Transfer kodu 9 karakter olacaktı");
        return;
      }
      showToast("Kontrol Ediliyor");
      this.$navigateTo(routes.birdTransferResult, {
        clearHistory: true,
        props: {
          birdBilezik: this.request.birdBilezik,
          transferCode: this.request.transferCode,
        },
      });
    },
    status(validation) {
      return {
        error: validation.$error,
        dirty: validation.$dirty,
      };
    },
  },
};
</script>
<style lang="scss" scoped>
.dirty {
  TextField {
    color: darkolivegreen;
  }
}

.dirty:focus {
  color: #8e8;
}

.error {
  border-color: red;
  background: #fdd;
}

.error:focus {
  outline-color: #f99;
}
TextField {
  background-color: white;
}
</style>