<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Transfer Başvurusu" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*" columns="*">
        <ActivityIndicator v-if="$apollo.loading" row="0" busy="true" />
        <GridLayout
          v-else-if="isValidated"
          rows="*,20,*,*,20,80"
          columns="*"
          class="fon"
        >
          <Label
            text="Kod Doğrulandı! "
            textWrap="true"
            row="0"
            class="h2 text-center"
          />
          <StackLayout class="hr m-10" row="1"></StackLayout>
          <Label
            text="Transferi İstenen Güvercin"
            textWrap="true"
            class="h3 text-center p-10"
            row="2"
          />
          <GridLayout rows=" *" columns="*, *" row="3" class="p-10 m-20">
            <Label
              text="Bilezik no:"
              row="0"
              col="0"
              class="font-weight-bold"
            />
            <Label :text="this.birdBilezik" row="0" col="1" />
          </GridLayout>
          <StackLayout class="hr m-10" row="4"></StackLayout>

          <Button text="Detayları Gör" @tap="gotoUpdateOwnerOFBird" row="5" />
        </GridLayout>

        <GridLayout v-else rows="auto,*,20,auto,auto,60" columns="*" row="0">
          <Label
            text="Transfer kodunuz kayıtlarla uyuşmadı"
            textWrap="true"
            row="0"
            class="h3 text-center"
          />
          <Label
            text="Bilezik no girilen güvercinin Transfer Kilidi Kilitli veya güvenlik kodu oluşturulmasının ardından 48 saat geçmiş olabilir"
            textWrap="true"
            row="1"
            class="p-30"
          />
          <StackLayout class="hr m-10" row="2"></StackLayout>
          <Label
            text="Transferi İstenen Güvercin"
            textWrap="true"
            class="h3 text-center p-10"
            row="3"
          />
          <GridLayout rows=" *" columns="*, *" row="4" class="p-10 m-20">
            <Label
              text="Bilezik no:"
              row="0"
              col="0"
              class="font-weight-bold"
            />
            <Label :text="this.birdBilezik" row="0" col="1" />
          </GridLayout>
          <Button
            text="Yeniden Transfer Talebi"
            @tap="gotoTransferRequest"
            row="5"
          />
        </GridLayout>
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import { format } from "date-fns";
import { tr } from "date-fns/locale";
import { showToast } from "@/helpers/ui";
import _ from "lodash";

export default {
  props: {
    birdBilezik: {
      type: String,
    },
    transferCode: {
      type: String,
    },
  },
  data() {
    return {
      bird: {
        id: null,
        isim: "",
      },
      transfers: [],
      isNewCode: Boolean,
      isCorrectCode: Boolean,
    };
  },
  methods: {
    gotoTransferRequest() {
      showToast("3 saniye bekleyiniz");
      setTimeout(this.$navigateTo, 3000, routes.birdTransferRequest);
    },
    gotoUpdateOwnerOFBird() {
      console.log(
        "_.findLast(this.transfers).bird.id :>> ",
        _.findLast(this.transfers).bird.id
      );
      this.$navigateTo(routes.updateOwnerOfTheBird, {
        props: {
          birdID: _.findLast(this.transfers).bird.id,
        },
      });
    },
    daysBefore(date) {
      const difference = Date.now() - Date.parse(date);
      return Math.floor(difference / 86400000);
    },
  },
  apollo: {
    transfers: {
      query: queries.TRANSFER_OF_THE_BIRD_FROM_BILEZIK,
      variables() {
        return { birdBilezik: this.birdBilezik };
      },
    },
  },
  mounted() {
    console.log("incoming this.birdBilezik :>> ", this.birdBilezik);
    console.log("incoming this.transferCode :>> ", this.transferCode);
  },
  computed: {
    isValidated() {
      this.isNewCode =
        _.findLast(this.transfers) &&
        this.daysBefore(_.findLast(this.transfers).updated_at) < 2
          ? true
          : false;
      this.isCorrectCode =
        _.findLast(this.transfers) &&
        this.transferCode == _.findLast(this.transfers).Guvenlik_Kodu
          ? true
          : false;
      return this.isNewCode && this.isCorrectCode ? true : false;
    },
  },
};
</script>
<style lang="scss" scoped>
</style>