<template>
  <Page>
    <ActionBar>
      <GridLayout width="100%" columns="auto, *">
        <Label
          text=""
          @tap="$refs.drawer.nativeView.showDrawer()"
          col="0"
          class="m-l-10 fas"
          fontSize="18"
        />
        <Label class="text-center" text="Güvercin Sahip Değişikliği" col="1" />
      </GridLayout>
    </ActionBar>
    <RadSideDrawer ref="drawer">
      <MainMenu />
      <GridLayout ~mainContent rows="*,60" columns="*" class="fon">
        <ActivityIndicator v-if="$apollo.loading" row="0" busy="true" />
        <ScrollView v-else>
          <StackLayout row="0" class="m-10">
            <Image
              v-if="bird.Fotograf"
              :src="this.backend + bird.Fotograf.formats.small.url"
            />
            <StackLayout orientation="horizontal" class="baslik">
              <Label :text="titleCase(this.bird.isim)" textWrap="true" />
              <Label text=" isimli" textWrap="true" />
            </StackLayout>
            <StackLayout orientation="horizontal" class="kucuk">
              <Label :text="bird.bilezik" textWrap="true" />
              <Label text=" bilezik nolu" textWrap="true" />
            </StackLayout>
            <StackLayout orientation="horizontal" class="buyuk">
              <Label
                :text="birthDate"
                textWrap="true"
                class="font-weight-bold"
              />
              <Label text=" Doğum tarihli" textWrap="true" />
            </StackLayout>
            <StackLayout orientation="horizontal" class="m-20">
              <Label :text="cinsiyetKelime" textWrap="true" class="m-x-5" />
              <Label :text="cinsi" textWrap="true" class="m-x-5" />
              <Label :text="tepesi" textWrap="true" class="m-x-5" />
              <Label :text="turu" textWrap="true" class="m-x-5" />
              <Label :text="kuyrugu" textWrap="true" class="m-x-5" />
            </StackLayout>

            <Label
              :text="'Eski Sahibi: ' + bird.user.username"
              textWrap="true"
              class="buyuk"
            />
            <StackLayout class="hr m-10"></StackLayout>
            <Label
              text="Kod Doğrulandı Artık Kuş Kaydını kendi üzerinize alabilirsiniz."
              textWrap="true"
              class="h3 text-center"
            />
            <Label
              text="Başarılı transfer sonrası eski kullanıcının ve sizin
              
              sisteme tekrar oturum açması gerekmektedir."
              textWrap="true"
              class="text-center m-20"
            />
          </StackLayout>
        </ScrollView>
        <Button text="Kuşlarıma Ekle" @tap="updateBird" row="1" />
      </GridLayout>
    </RadSideDrawer>
  </Page>
</template>
<script lang="ts">
import routes from "@/routes";
import * as queries from "@/graphql/queries";
import * as mutations from "@/graphql/mutations";
import { ApplicationSettings } from "@nativescript/core";
import { apolloClient } from "@/main";
import { format } from "date-fns";
import { tr } from "date-fns/locale";
import { showToast, vocaMixin, navMixin } from "@/helpers/ui";
import * as config from "@/helpers/config";
export default {
  props: {
    birdID: {
      type: Number,
      default: 4,
    },
  },
  data() {
    return {
      userID: ApplicationSettings.getNumber("userID"),
      backend: config.BACKEND,
    };
  },
  mixins: [vocaMixin],
  methods: {
    updateBird() {
      // console.log("this.birdID :>> ", this.birdID);
      apolloClient
        .mutate({
          // Query
          mutation: mutations.EDIT_BIRD,
          // Parameters
          variables: {
            birdID: this.birdID,
            userID: this.userID,
          },
        })
        .then((data) => {
          // Result
          // console.log("Incoming disease ID ::::: :>> ", data.data.updatedisease.disease);
          showToast("Güvercin Taşındı. Eski Sahibin Çıkış Yapması Gerekiyor.");
          this.gotoShowMyBird(this.birdID);
        })
        .catch((error) => {
          // Error
          console.error(error);
          showToast("Malesef Kayıt hata verdi");
        });
    },
  },
  apollo: {
    bird: {
      query: queries.BIRD,
      variables() {
        return {
          id: this.birdID,
        };
      },
    },
  },
  computed: {
    birthDate() {
      return format(Date.parse(this.bird.Dogum_Tarihi), "d MMM yy", {
        locale: tr,
      });
    },
    cinsiyetKelime() {
      return this.bird.Cinsiyet == "disi"
        ? "Dişi"
        : this.bird.Cinsiyet == "erkek"
        ? "Erkek"
        : "Bebek";
    },
    cinsiyetIkon() {
      return this.bird.Cinsiyet == "disi"
        ? ""
        : this.bird.Cinsiyet == "erkek"
        ? ""
        : "";
    },
    cinsi() {
      return this.bird.Cinsi == "Sebap" ? "Şebap" : "Diğer";
    },
    turu() {
      return this.bird.Turu == "kurenk"
        ? "Kürenk"
        : this.bird.Turu == "miski"
        ? "Miski"
        : this.bird.Turu == "arap"
        ? "Arap"
        : this.bird.Turu == "mavi"
        ? "Mavi"
        : this.bird.Turu == "cakmakli"
        ? "Çakmaklı"
        : this.bird.Turu == "cil"
        ? "Çil"
        : this.bird.Turu == "abali_miski"
        ? "Abalı Miski"
        : this.bird.Turu == "abali_cakmakli"
        ? "Abalı Çakmaklı"
        : "Diğer";
    },
    tepesi() {
      return this.bird.Tepe == "duz" ? "Düz" : "Kepez";
    },
    kuyrugu() {
      if (this.bird.Sag_Kuyruk || this.bird.Sol_Kuyruk) {
        const kuyruk = this.bird.Sag_Kuyruk + " 'e " + this.bird.Sol_Kuyruk;
        return this.Atlama ? kuyruk + " Atlamalı" : kuyruk + " Atlamasız";
      }
    },
  },
};
</script>
<style lang="scss" scoped>
</style>